<?xml version="1.0"?>
<configuration>

    <configSections>
        <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </configSections>
    
    
    <memcached>
        <servers>
        <!-- put your own server(s) here-->
        <add address="127.0.0.1" port="11211" />
        </servers>
        <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
    </memcached>
    
    
	<appSettings>
    <add key="InjectAssembly" value="wojilu.cms"/>
	</appSettings>
	<system.web>
		<httpHandlers>
            <add verb="*" path="CaptchaImage.ashx" type="wojilu.Web.Handler.CaptchaImageHandler, wojilu"/>  
            <add verb="*" path="robots.txt" type="System.Web.DefaultHttpHandler"/>
            <add verb="*" path="*.css,*.jpg,*.jpeg,*.gif,*.png,*.bmp,*.ico,*.js,*.htm,*.html,*.xml,*.swf,*.zip,*.7z,*.rar,*.cur" type="System.Web.DefaultHttpHandler"/>
			<add verb="*" path="*" type="wojilu.Web.Mvc.CoreHandler, wojilu"/>
		</httpHandlers>
        <httpRuntime maxRequestLength="4000" />
		<authentication mode="Forms">
            <forms name="wojiluASPXAUTH" />
        </authentication>
		<compilation debug="true"/>
        <customErrors mode="Off"/>
        <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-cn" />
	</system.web>
</configuration>
