<div id="postContainer">

	<div id="postMain">
		<div id="postMainContainer">			
			#{layout_content}
		</div>
	</div>

	
	<div id="postSidebar">
		<div id="postSidebarContainer">
			<!-- BEGIN listPanel -->
			<div class="skuPanel">
				<div class="skuPanelTitle">:{itemRank}</div>
				<ul class="textList">
					<!-- BEGIN list -->
					<li><a href="#{sku.Link}" title="#{sku.TitleFull}">#{sku.TitleFull}</a></li><!-- END list -->
				</ul>
			</div><!-- END listPanel -->			
		</div>			
	</div>	
	<div style="clear:both"></div>
</div>