<style>
    #userTopNavPic img { width: 20px;border-radius: 3px;}
    
</style>
    <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            
            <a href="#{site.Url}" class="brand">#{site.Name}</a>
            <ul class="nav" id="topNavMenu" style="display: none;">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle viewerFeeds frmLink" data-toggle="dropdown"   loadTo="uaMain" nolayout=1>_{userStart}<span class="caret" style="border-top-color:#fff;"></span></a>
                    <ul class="dropdown-menu">
                        <li id="feedItem"><a class="viewerFeeds" href="#"><img src="~img/app/s/feeds.png"/> 好友消息</a></li>
                        <li><a href="#" id="myGroupsLink"><img src="~img/app/s/group.png"/> _{group}</a></li>
                        <li class="divider"></li>

                        <li><a href="#" id="appAdminUrl"><img src="~img/app/s/settings.png"/> _{appAdmin}</a></li>
                        <li><a href="#" id="menuAdminUrl"><img src="~img/app/s/menus.png"/> _{menuAdmin}</a></li>
                        <li><a href="#" id="myUrlList"><img src="~img/app/s/links.png"/> _{adminSiteUrl}</a></li>
                    </ul>
                </li>
                
                <li id="SpaceAdmin"><a href="#" id="viewerSpace">_{mySpace}</a></li>
                <li><a href="#" id="viewerMicroblogHome">微博</a></li>
                <li><a href="#" id="viewerTemplateUrl" class="frmLink" loadTo="uaMain" nolayout=1>_{skin}</a></li>
                <li><a href="#" id="viewerFriends" class="frmLink" loadTo="uaMain" nolayout=1>_{friend}</a></li>
                <li id="siteAdminCmd" style=" display:none;"></li>

            </ul>
            

            <div class="pull-right" >
                <!---------------login form---------------->
                <form id="loginForm" class="navbar-form form-inline" action="#{LoginAction}" method="post" style="display:none;">
                    <input type="text" name="txtUid" class="input-small" placeholder="用户名" style="height1:14px;">
                    <input type="password" name="txtPwd" class="input-small" placeholder="密码" style="height1:14px;">
                    <label style="color:#fff;width:60px;" class="checkbox"><input name="RememberMe" type="checkbox" id="chkRemember" checked="checked"> 记住我</label>
                    <input type="submit" class="btn btn-mini btn-primary" value="登录">
                    <input type="hidden" name="returnUrl" id="Hidden1" value="" />
                    <div id="loginValidBox" class="ebox" style="width:380px;padding:10px 5px; ">_{validationCode} #{ValidationCode}</div>
                </form>
                
                
                <!---------------user account---------------->
                <ul id="userAccountTable" class="nav" style="display: none;">
                    <li id="siteNotification"></li>
                    <li><a href="" class="frmLink" id="msgLink" loadTo="uaMain" nolayout=1>_{msg}<span id="viewerNewMsgCount"></span></a></li>
                    <li style="position:relative"><a href="#" id="nfMsg"></a>
                    <div style="position:relative;display: none;">
                        <div id="ntBox" style="position:absolute; text-align:left; z-index:999;left:80px;top:10px;width:180px;">                        
                            <div id="myUploadDlg" class="hide">
                                <img src="~img/s/upload1.png" /> <a href="#" id="uploadAvatar" style="color:#e56f04;">上传头像</a> #{uploadCredit}
                                <span class="closeNt">×</span>
                            </div>
                            <div id="confirmEmailPanel" class="hide">
                                <img src="~img/mail/mail.gif" /> <a href="#" id="confirmEmailLink" style="color:#e56f04;">激活邮件</a> #{emailCredit} <span class="closeNt">×</span>
                            </div>
                            <div id="viewerNewNotificationCount"></div>
                            <div id="viewerNewMicroblogAtCount"></div>
                        </div>
                    </div>
                    </li>
                    
                    <li><a href="#" id="viewerInviteLink" class="frmLink" loadTo="uaMain" nolayout=1>_{invite}</a>	</li>
                    <li><a href="#" id="siteOnlineUrl">_{online}<span style="font-size:11px;">(<span id="siteOnlineCount"></span>)</span></a></li>
                    <li><a href="#" class="viewerFaceUrl frmLink" title=" _{uploadFace}" id="userTopNavPic" loadTo="uaMain" nolayout=1></a></li>
                    <li><a href="#" id="viewerProfileName" title="_{profile}" class="frmLink" loadTo="uaMain" nolayout=1></a></li>
                    
                    <!----------------account menu------------------>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="AccountAdmin">_{account}<span class="caret" style="border-top-color:#fff;"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="viewerProfileUrl" class="frmLink" loadTo="uaMain" nolayout=1><img src="~img/s/base.png"/> _{profile}</a></li>
                        <li><a href="#" id="viewerContactLink" class="frmLink" loadTo="uaMain" nolayout=1><img src="~img/s/address.png"/> _{contact}</a></li>
                        <li><a href="#" id="viewerInterestUrl" class="frmLink" loadTo="uaMain" nolayout=1><img src="~img/s/interest.png"/> _{interest}</a></li>
                        <li><a href="#" id="viewerTagUrl" class="frmLink" loadTo="uaMain" nolayout=1><img src="~img/s/tag.png"/> 标签tag</a></li>
                        <li><a href="#" class="viewerFaceUrl frmLink" loadTo="uaMain" nolayout=1><img src="~img/s/avatar.png"/> _{uploadFace}</a></li>
                        <li><a href="#" id="viewerPwdUrl" class="frmLink" loadTo="uaMain" nolayout=1><img src="~img/s/pwd.png"/> _{changePwd}</a></li>
                        <li><a href="#" id="viewerSettings" class="frmLink" loadTo="uaMain" nolayout=1><img src="~img/s/privacy.png"/> _{privacySetting}</a></li>
                        <li><a href="#" id="viewerCurrency" class="frmLink" loadTo="uaMain" nolayout=1><img src="~img/s/credit.png"/> _{myIncome}</a></li>
                        <li><a href="#" id="logoutLink" class="postCmd link">_{logout}</a></li>
                    </ul>
                    </li>

                </ul>

            </div>

      
        </div>
    </div>
    </div>

			


<script type="text/javascript">var ctx = null;var navUrl = '#{navUrl}';</script>
<script type="text/javascript" src="~js/wojilu.site.topnav.js?v=#{jsVersion}"></script>