<style>
    #userTopNavPic img { width: 20px; height:20px; margin-top:-2px; border-radius: 3px;}
    .nav-top { float:left; display:block; left:0px;margin-right:10px; position:relative; list-style:none outside one;}
    .nav-top >li {display:block; float:left; line-height:18px; color:#999; margin:7px 6px 0px 6px;}
    .nav-top >li a { color:#333;}
    .nav-top .caret {    opacity: 1;  filter: alpha(opacity=100);}
    #loginBoxConnectsMenu li { float:left; margin-left:10px;}
    #topConnectsMenu li { font-size:14px; margin-top:5px; margin-bottom:5px;}
    #topConnectsMenu {min-width:120px; padding:10px 0px;}
    #topConnects img { padding-top:-8px;}
    
</style>
    <div class="navbar navbar-fixed-top">
        <div id="navbar-inner">
            <div id="top-nav-left">
                <img src="~skin/site/new/home.png" style="margin-top:-8px;" />
                <a href="#{site.Url}" style="color:#333; font-size:18px; font-weight:bold;">#{site.Name}</a>
            </div>
            <ul class="nav-top" id="topNavMenu" style="display: none;">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle viewerFeeds2" data-toggle="dropdown" data-hover="dropdown">_{userStart}<span class="caret" style="border-top-color:#fff;"></span></a>
                    <ul class="dropdown-menu" style="min-width:120px;">
                        <li id="feedItem"><a class="viewerFeeds" href="#"><img src="~img/app/s/feeds.png"/> 好友消息</a></li>
                        <li><a href="#" id="myGroupsLink"><img src="~img/app/s/group.png"/> _{group}</a></li>
                        <li class="divider"></li>

                        <li><a href="#" id="appAdminUrl"><img src="~img/app/s/settings.png"/> _{appAdmin}</a></li>
                        <li><a href="#" id="menuAdminUrl"><img src="~img/app/s/menus.png"/> _{menuAdmin}</a></li>
                        <li><a href="#" id="myUrlList"><img src="~img/app/s/links.png"/> _{adminSiteUrl}</a></li>
                    </ul>
                </li>
                
                <li id="SpaceAdmin"><a href="#" id="viewerSpace">_{mySpace}</a></li>
                <li><a href="#" id="viewerMicroblogHome">微博</a></li>
                <li><a href="#" id="viewerTemplateUrl" class="frmLink" loadTo="uaMain" nolayout=1>_{skin}</a></li>
                <li><a href="#" id="viewerFriends" class="frmLink" loadTo="uaMain" nolayout=1>_{friend}</a></li>
                <li id="siteAdminCmd"></li>

            </ul>
            
            
            <div id="top-nav-right">
                <!---------------login form---------------->
                <div style="display:none;">
                <form id="loginForm" class="form-inline" action="#{LoginAction}" method="post">
                    <div style="padding:20px 0px;">
                    <table style="width:480px; " cellpadding="5">
                        <tr>
                            <td style="width:100px; font-size:14px; text-align:right;">用户名</td>
                            <td><input type="text" name="txtUid" placeholder="用户名" style="height:24px;margin:0px;font-size:14px;"><a href="#{RegLink}" class="left10 help-inline">用户注册</a></td>
                        </tr>
                        <tr>
                            <td style="width:100px; font-size:14px; text-align:right;">密　码</td>
                            <td><input type="password" name="txtPwd" placeholder="密码" style="height:24px;margin:0px; font-size:14px;"><a href="#{resetPwdLink}" class="left10 help-inline">忘记密码</a></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><div id="loginValidBox" class="ebox" style="width:380px;padding:2px 5px; ">_{validationCode} #{ValidationCode}</div></td>
                        </tr>
                        <tr>
                            <td><input type="hidden" name="returnUrl" id="Hidden1" value="" /></td>
                            <td>
                                <div class="controls">
                                    <button type="submit" class="btn btn-primary" style="font-size:14px;">
                                        <i class="icon-user icon-white"></i>
                                        登录
                                    </button>
                                    <span class="loadingInfo"></span>

                                    <label id="top-nav-login-form-remember" class="checkbox inline" style="width:120px;margin-left:10px;">
                                        <input name="RememberMe" type="checkbox" id="chkRemember" checked="checked" /> 
                                    记住我
                                    </label>

                                </div>
                            </td>
                        </tr>
                      </table>

                      <div id="loginBoxConnects" style="margin:15px 10px; border-top:1px dotted #aaa; padding-top:20px; display:none;">
                    
                        <div style="margin-left:20px; font-size:14px; float:left;">使用其他帐号登录</div>
                        <ul id="loginBoxConnectsMenu" style="margin-left:10px; font-size:14px;" class="unstyled pull-left">
                        </ul>
                      </div>
                      </div>
                </form>                
                </div>

                <div id="loginSection" style=" vertical-align:middle; display:block; padding-top:5px; display:none; margin-right:5px; ">



                    <div style="float:left;">
                    <span class="help-inline">
                        <a href="" id="loginLink" class="btn btn-primary btn-mini" style="font-size:12px;line-height:14px;padding:3px 6px 3px 6px;margin:0px;"><i class="icon-user icon-white"></i> 登录
                        </a>
                    </span>
                    


                    <span class="help-inline"><a href="#{RegLink}" class="btn btn-primary btn-mini right10" style="font-size:12px;line-height:14px;padding:3px 6px 3px 6px;margin:0px;"><i class="icon-play-circle icon-white"></i> _{register}</a></span>
                    <span class="help-inline left5"><a href="#{resetPwdLink}">忘记密码</a></span>
                    </div>
                    <ul id="topConnects" class="nav-top" style="margin-left:5px; margin-right:0px; display:none;">

                        <li id="topConnectsMenuWrap" class="dropdown" style="margin-top:3px;">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                                <span style="color:#333;">更多</span>
                                <span class="caret" style="border-top-color:#fff;"></span>
                            </a>
                            <ul id="topConnectsMenu" class="dropdown-menu"></ul>                        
                        </li>
                    </ul>

                    <div style="clear:both;"></div>
                </div>

<script>
    _run(function () {

        $('#loginLink').click(function () {
            wojilu.box.title('用户登录').width(500).height(280).id('loginForm').show();
            return false;
        });

    });
</script>
                
                
                <!---------------user account---------------->
                <ul id="userAccountTable" class="nav-top" style="display: none;">
                    <li id="siteNotification"></li>
                    <li><a href="" class="frmLink" id="msgLink" loadTo="uaMain" nolayout=1>_{msg}<span id="viewerNewMsgCount"></span></a></li>
                    <li style="position:relative"><a href="#" id="nfMsg"></a>&nbsp;
                    <div style="position:relative;">
                        <div id="ntBox" style="position:absolute; text-align:left; z-index:999;left:-70px;top:12px;width:180px; ">  
                            <div id="confirmEmailPanel" class="hide">
                                <img src="~img/mail/mail.gif" /> <a href="#" id="confirmEmailLink" style="color:#e56f04;">激活邮件</a> #{emailCredit} <span class="closeNt">×</span>
                            </div>
                            <div id="viewerNewNotificationCount"></div>
                            <div id="viewerNewMicroblogAtCount"></div>
                        </div>
                    </div>
                    </li>
                    
                    <li><a href="#" id="viewerInviteLink" class="frmLink" loadTo="uaMain" nolayout=1>_{invite}</a>	</li>
                    <li><a href="#" id="siteOnlineUrl">_{online}<span style="font-size:11px;">(<span id="siteOnlineCount"></span>)</span></a></li>
                    <li><a href="#" class="viewerFaceUrl frmLink" title=" _{uploadFace}" id="userTopNavPic" loadTo="uaMain" nolayout=1></a></li>
                    <li><a href="#" id="viewerProfileName" title="_{profile}" class="frmLink" loadTo="uaMain" nolayout=1></a></li>
                    
                    <!----------------account menu------------------>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" id="AccountAdmin">_{account}<span class="caret" style="border-top-color:#fff;"></span></a>
                    <ul class="dropdown-menu" style="min-width:120px;">
                        <li><a href="#" id="viewerProfileUrl" class="frmLink" loadTo="uaMain" nolayout=1><img src="~img/s/base.png"/> _{profile}</a></li>
                        <li><a href="#" id="viewerContactLink" class="frmLink" loadTo="uaMain" nolayout=1><img src="~img/s/address.png"/> _{contact}</a></li>
                        <li><a href="#" id="viewerInterestUrl" class="frmLink" loadTo="uaMain" nolayout=1><img src="~img/s/interest.png"/> _{interest}</a></li>
                        <li><a href="#" id="viewerTagUrl" class="frmLink" loadTo="uaMain" nolayout=1><img src="~img/s/tag.png"/> 标签tag</a></li>
                        <li><a href="#" class="viewerFaceUrl frmLink" loadTo="uaMain" nolayout=1><img src="~img/s/avatar.png"/> _{uploadFace}</a></li>
                        <li><a href="#" id="viewerPwdUrl" class="frmLink" loadTo="uaMain" nolayout=1><img src="~img/s/pwd.png"/> _{changePwd}</a></li>
                        <li><a href="#" id="viewerSettings" class="frmLink" loadTo="uaMain" nolayout=1><img src="~img/s/privacy.png"/> _{privacySetting}</a></li>
                        <li><a href="#" id="viewerCurrency" class="frmLink" loadTo="uaMain" nolayout=1><img src="~img/s/credit.png"/> _{myIncome}</a></li>
                        <li class="divider"></li>
                        <li><a href="#" id="logoutLink" class="postCmd link"><img src="~img/s/logout.png" /> _{logout}</a></li>
                    </ul>
                    </li>

                </ul>

            </div>

      
        </div>
    </div>

<script>
_run( function() {
    require( ["wojilu.core.sitetop"], function( topnav ) {
        topnav.init( '#{navUrl}');
    });
});
</script>
