<link type="text/css" rel="stylesheet" href="~js/lib/syntaxhighlighter/styles/shCore.css"/>
<link type="text/css" rel="stylesheet" href="~js/lib/syntaxhighlighter/styles/shThemeDefault.css"/>

<script type="text/javascript">
    _run( function() {
        require( ['lib/syntaxhighlighter/scripts/shCore', 'lib/syntaxhighlighter/scripts/shBrushCommon'], function() {
            SyntaxHighlighter.config.clipboardSwf = "~js/lib/syntaxhighlighter/scripts/clipboard.swf";
            SyntaxHighlighter.all();
        });
    });
</script>

<div class="row" style="margin-bottom:15px;"><div class="span12">#{location}</div></div>

<div class="row">
    <div class="span12 forum-topic-prenext">
        <div class="row">
            <div class="span3">
                <div class="pull-left forum-prenext-spl"></div>
                <div class="pull-left forum-prenext-pre"><a href="?pre">:{prevTopic}</a></div>
                <div class="pull-left forum-prenext-sp">|</div>
                <div class="pull-left forum-prenext-next"><a href="?next">:{nextTopic}</a></div>
                <div class="pull-left forum-prenext-spr"></div>
            </div>
            <div class="span5">#{page}</div>
            <div class="span4 pull-right forum-prenext-cmd">
                <a href="#{newReplyUrl}" class="cmdreply" rel="nofollow"><img src="~skin/site/new/forum-btn-reply.png" /></a> 
                <a href="#{newTopicUrl}" class="cmdnew" rel="nofollow"><img src="~skin/site/new/forum-btn-topic.png" /></a>
            </div>
        </div>
    </div>
</div>

#{postBlock}

<!-- copy from above -->
<div class="row">
    <div class="span12 forum-topic-prenext">
        <div class="row">
            <div class="span3">
                <div class="pull-left forum-prenext-spl"></div>
                <div class="pull-left forum-prenext-pre"><a href="?pre">:{prevTopic}</a></div>
                <div class="pull-left forum-prenext-sp">|</div>
                <div class="pull-left forum-prenext-next"><a href="?next">:{nextTopic}</a></div>
                <div class="pull-left forum-prenext-spr"></div>
            </div>
            <div class="span6">#{page}</div>
            <div class="span3 pull-right forum-prenext-cmd">
                <a href="#{newReplyUrl}" class="cmdreply" rel="nofollow">
                <img src="~skin/site/new/forum-btn-reply.png" /></a> 
                <a href="#{newTopicUrl}" class="cmdnew" rel="nofollow">
                <img src="~skin/site/new/forum-btn-topic.png" /></a>
            </div>
        </div>
    </div>
</div>

<!-- BEGIN form -->


<div class="row">
<div class="span12">
<div class="forum-form-container" id="topicForm">

	    <div class="row">
            <div style="padding-left:40px;"><h3>:{replyTopic}</h3></div>
        </div>

        <div class="clearfix" style="margin-top:10px;">

	        <form method="post" action="#{post.ReplyActionUrl}" class="form-horizontal ajaxPostForm autoSubmitForm" id="pubTopicForm">

            <div class="pull-left" id="pubUserPic" style=" text-align:right;width:124px;margin-left:20px;margin-top:10px;">#{currentUser}</div>


            <div class="pull-left forum-form-quick">

                <div class="control-group">
                      <label class="control-label" for="txtTitle">_{title}</label>
                      <div class="controls">
                        <input id="txtTitle" name="Title" type="text" placeholder="请填写标题" value="#{post.ReplyTitle}" style="width:600px;">
                        
                      </div>
                      <div class="hide"><span class="valid" to="Title" msg="_{exTitle}" mode="border"></span></div>
                </div>

                <div class="control-group">
                      <label class="control-label">_{content}</label>
                      <div class="controls" style="width:610px;">
                        #{Editor}
                      </div>
                      <div class="hide"><span class="valid" to="Content" mode="border"></span></div>
                </div>

                <div class="control-group">    
                    <label class="control-label"></label>

                    <!-- Button --> 
                    <div class="controls">

                        <button name="btnSubmit" class="btn btn-primary" type="submit">
                            <i class="icon-pencil icon-white"></i>
                            :{submitPost}
                        </button>

			            <input type="hidden" name="forumId" value="#{forumBoard.Id}" />
			            <input type="hidden" name="topicId" value="#{post.TopicId}" />
			            <input type="hidden" name="parentId" value="#{post.ParentId}" />
                    </div>
                </div>

            </div>

	        </form>
        </div>




    </div>
    </div>
</div>
<!-- END form -->



<script>
_run( function() {
    wojilu.ui.valid();
    wojilu.ui.ajaxPostForm();
    
    var isTopicLocked = #{isTopicLocked};
    if( isTopicLocked ) $('#topicForm').hide();
});
</script>

