<div class="hforumList">
	<div class="hfbHeader">
		<div class="hfbCategoryPointer"></div>
		<div class="fbcategoryName"><a href="#{forumCategory.Url}">#{forumCategory.Name}</a></div>				
	</div>
	<div class="hforumBoard">
		<div class="hfbContainer">
		<!-- BEGIN forum -->
		<table class="hforumBoardOne">
			<tr>
				<td rowspan="3" class="hfbLogo"><img class="fbStatus" src="#{statusImg}" /></td>
				<td><a href="#{f.Url}" class="strong">#{f.Name}</a>#{f.TodayPosts}</td>
			</tr>
			<tr>
				<td>:{topic}:#{f.Topics} <span class="left5">:{post}:#{f.Posts}</span></td>
			</tr>
			<tr>
				<td>:{lastUpdate}:#{f.Updated}</td>
			</tr>
		</table>
		<!-- END forum -->
		<div class="clear"></div>
		</div>
	</div>
</div>