
<div style="width:600px;">
<form method="post" action="#{ActionLink}">
<h4>:{moveTopic}</h4>
<table style="width: 100%" border="1" style="border-collapse:collapse">
	<tr>
		<td>:{targetBoard}</td>
		<td>#{dropForumBoard}</td>
	</tr>
	<tr>
		<td>:{opReason}</td>
		<td>
		<table style="width: 100%">
			<tr>
				<td>_{plsSelect}</td>
					<td>
			<select name="Select1">
			<option>:{ad}</option>
			<option>:{spam}</option>
			<option>:{illegalContent}</option>
			<option>:{irrelevantContent}</option>
			<option>:{repeatPost}</option>
			<option>---------</option>
			<option>:{agree}</option>
			<option>:{pickedPost}</option>
			<option>:{originalWork}</option>
			</select></td>
					</tr>
					<tr>
						<td>:{orCustomReason}</td>
					<td>
					<textarea name="TextArea1" style="width: 350px; height: 50px"></textarea></td>
					</tr>
				</table>
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td><input name="Submit1" type="submit" value="_{submit}" />&nbsp;&nbsp; <input name="SendMsg" type="checkbox" /> :{sendMsgToAuthor}</td>
	</tr>
	</table>
</form>
</div>
