<div class="row" style="width:1060px; margin:0px auto;">

    <div class="span9">
    
        <div style=" background:#fff; border:1px solid #ccc; border-radius:4px;">
        
            <div class="row" style="padding-top:20px;">
                <div class="span6">
                    <div style="margin:10px 30px;">
                        <div class="pull-left"><a href="#{x.CreatorLink}"><img src="#{x.CreatorPic}" /></a></div>
                        <div class="pull-left left10">
                            <div><a href="#{x.CreatorLink}">#{x.CreatorName}</a> 添加到 <a href="#{x.AlbumLink}">#{x.AlbumName}</a></div>
                            <div class="note">#{x.Created}</div>
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <button class="btn">访问他</button>
                    <button class="btn">关注</button>
                </div>
            </div>

            <div class="row top20">
                <div class="span9" style="border-top:1px solid #ccc; padding-top:20px;">

                    <div class="span6">
                        <button class="btn">搜集</button>
                        <button class="btn">喜欢</button>
                    </div>
                    <div class="span2">
                        <span>搜集 888</span>
                        <span class="left10">喜欢 88</span>
                    </div>
                </div>
            </div>

            <div class="row top20">
                <div class="span9" style=" text-align:center;"><img src="#{x.PicM}" /></div>
            </div>
            
            <div class="row top20">
                <div class="span4" style="padding-left:30px;">x.Description</div>
                <div class="span2 pull-right">来源：<i class="icon-hand-right"></i></div>
            </div>

            <div class="row top20">
                <div class="span4" style="padding-left:30px;">xxx 通过收集助手从 **** 收集</div>
                <div class="span3 pull-right">分享到：</div>
            </div>

            <div class="row top20">
                <div class="span8" style="padding:20px 30px;">评论区域</div>
                
            </div>
        
        </div>      

    </div>

    <div class="span4">


        <div style=" background:#fff; border:1px solid #ccc; border-radius:4px; padding:10px 20px;">        
            <div><i class="icon-th"></i> 分类名称</div>

            <div>
                <div><img src="" /></div>

                <div class="clear"></div>
            </div>            
        </div>


        <div class="top20" style=" background:#fff; border:1px solid #ccc; border-radius:4px; padding:10px 20px;">        
            <div><i class="icon-plus"></i> 其他搜集</div>

            <div>
                <div><img src="" /></div>

                <div class="clear"></div>
            </div>            
        </div>
    
    </div>

</div>