
body, #spacePage {background-color:#c0c0c0; }
#spacePage a{color:#000;}

#topNavWrap {color:#fff !important;background-color: rgba(0, 0, 0, 0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}


#topNavWrap a{color:#fff !important;}
#topNavWrap .menuItems a{color:#005eac !important;}
#topNavWrap td a{color:#fff !important;}

#topNavWrap .NewNotificationCount span{color:#005EAC !important;}
#topNavWrap .NewNotificationCount a{color:#005EAC !important;}

#topNavWrap span{color:#fff !important;}
#topNavWrap form{color:#fff !important;}


#spacePage {width:960px; margin:auto; }
#spaceHeaderWrap,#spaceNavWrap,#spaceMainWrap, #spaceFooterWrap {margin:auto;width:100% }

/*头部*/
#spaceHeaderWrap {background:url('header.jpg') repeat-x; position:relative;  }

    #spaceHeader {padding-top:50px;  text-align:center; height:70px; }
        #spaceName a {font-size:18px;font-weight:bold;color:#fff;margin:0px 0px 0px 0px;font-family:arial black;}
        #spaceUrl a{color:#fff; font-style:italic;}

/*导航*/
#spaceNavWrap {height:60px; background:url('nav_bg.jpg') ;}
#spaceNav {padding:10px 0px 0px 30px;}
    #spaceNav ul {width:95%;margin:auto;}
    #spaceNav ul li {float:left;display:block; padding:10px 8px 4px 4px;}
    #spaceNav a{ color:#fff;font-size:14px;}
    #spaceNav .menuItems a{ color:#333; }

/*主体*/
#spaceMainWrap{background1:url('main_bg.jpg') repeat-y;}

    /*侧边栏*/
    div.sideBar {float:left; width:25%; margin:0px;padding:0px;}
    div.sideBarContainer { margin:10px 10px 30px 10px;}
    
        div.userFace {text-align:center; margin:20px;}
        table.sideBar_UserTool {width:90%; text-align:center;}
        div.sideBarPanel {padding-bottom:10px;}
            div.sideBarTitle {margin:10px 10px 5px 10px; height:25px; font-size:14px; font-weight:bold; color:#a81f22; text-align:center;}
            ul.sideBarList { list-style:none;margin:0px;padding:0px;}
            ul.sideBarList li {margin-left:10px;}
            #spaceMain .sideBarList a {color:#333;}
            li.sideBarMore {text-align:right; }
            
        div.sideBarRss {text-align:center;margin-top:10px;}

    /*主要内容区*/
    div.appMain { float:left; width:74%; margin:0px;padding:0px; }
    div.appMainContainer {margin:10px 10px 30px 0px;background:#fff; }
    
        div.blogItem {margin: 10px;padding: 5px; }
            table.blogItemTitle {font-size:14px; font-weight:bold; width:100%;background:url('bullet.gif') no-repeat; margin-bottom:5px;}
            .blogItemTitle td{ padding-left:30px;}
                td.blogItemTime {text-align:right; color:#aaa; font-weight:normal; font-size:12px; }
                #spaceMain .blogItemTitle a{color:#a81f22}
            div.blogItemBody {color:#666;}
            div.blogItemMore {text-align:right; margin:0px 10px 5px 5px;}
            div.blogItemInfo {text-align: right; color:#aaa;margin: 2px 10px;}
            #spaceMain .blogItem_Info a{color:#666;}
            
            .blogTitle {font-size:18px; font-weight:bold; margin:15px 10px 10px 0px;}
            .blogInfo {color:#666;margin:10px 10px 10px 0px;}
            .blogBody img {max-width:580px;}

 /*页脚*/
#spaceFooterWrap { text-align:center;background-color:#fff; color:#aaa; }
#spaceFooter {margin:auto;padding:20px 10px;height:60px;  background:url('footer_bg.gif') repeat-x 0px 70px;}
#spaceFooter a{color:#aaa;}
