
//---------------------------------- 框架部分(請勿刪除) -----------------------------------
siteHome=網站首頁
dbNotExist=資料庫不存在
dbNotSupport=資料庫不支援
exConnectionString=未正確設置資料庫連接字串
exControllerNotExist=控制器不存在
exPageError=非常抱歉，本頁面暫時不可用。請訪問其他頁面，或稍後再試。
returnLast=返回上一步
exTemplateNotExist=範本檔不存在
exBlockExist=區塊不存在
exPlsUpload=請上傳文件
exUploadType=檔案類型不允許
exUploadMax=檔不能超過
closeWindow=關閉窗口
NotFound404=文件不存在

//--------------------------------我記錄網站綜合系統通用----------------------------------------

sharePageInfo={0} 分享了一篇文章
shareInfo={0} 分享了一個網址
replyMicroblog={0} 回復了你的微博評論 {1}
feedbackInfo={0} 給 {1} 留了言
feedbackReplyInfo={0} 回復了你在 {1} 的空間的留言
feedbackFeed={0} 在 {1} 的空間留了言
strPollFeed={0} 發佈了投票 {1}
shareUserFeed={0} 分享了用戶 {1}
shareNotification={0} 將你分享給了好友
sharePageNotification={0} 分享了你的文章 {1}

site=網站
user=用戶
login=登錄
register=註冊
logout=註銷

siteAdmin=後臺管理
setting=配置
ok=成功
more=更多
detail=詳細
all=全部
trash=回收站
userName=用戶名
pwd=密碼
male=男
female=女
id=編號
url=網址
link=連結
member=會員
account=帳號
cmdOk=確定
cancel=取消
fontBig=大
fontSmall=小
print=列印
album=專輯
everyone=所有人
hits=點擊
none=(無)

gender=性別
birthday=生日
age=年齡
zodiac=星座
blood=血型
relationship=婚姻
degree=學歷
region=所在地
hometown=出生地
selfIntroductionAndSignature=自我介紹和簽名

selfIntroduction=自我介紹
selfIntroductionTip=<strong>自我介紹</strong>(允許的html標籤:加粗&lt;strong&gt;、連結&lt;a&gt;和換行&lt;br /&gt;)

signature=我的簽名
signatureTip=<strong>我的簽名</strong>(允許的html標籤:加粗&lt;strong&gt;、連結&lt;a&gt;和換行&lt;br /&gt;)

educationDegree=教育程度

myStatus=我的狀態
viewMoreMicroBlog=查看更多微博

ipAddress=IP地址
osInfo=系統資訊
startTime=開始時間
lastActive=最後活動
clocation=當前位置

blog=博客
appBlog=博客
microblog=微博
appPhoto=相冊
photo=圖片
log=日誌
forumPost=論壇帖子
friends=交友
notification=通知
note=說明
microBlog=微博
share=分享
article=文章

homePage=首頁
homepage=主頁
rootNode=根節點
validationCode=驗證碼
tip=提示
search=搜索
viewByHit=點擊查看

name=名稱
title=標題
author=作者
content=內容
description=簡介

not=說明
category=分類
tag=關鍵字(tag)
tagTip=關鍵字之間用逗號分開
comment=評論
view=流覽
created=創建於
creator=創建人
admin=管理
privacy=隱私
summary=摘要
read=閱讀
newComment=最新評論
stats=統計
visits=訪問次數
comments=評論總數
status=狀態
default=默認
type=類型
contentPreview=內容預覽
color=顏色

fontSize=大小
fontStyle=樣式
fontFamily=字體
strong=粗體
italic=斜體
underline=底線

from=來自
src=來源
location=當前位置
optional=選填
required=必填

closeComment=關閉評論
moreOption=更多選項
moveCategory=轉移到分類
addCategory=新建分類
editCategory=修改分類
categoryListing=分類列表
categoryFilter=分類篩選

re=回復
op=操作
delete=刪除
toTrash=刪入回收站
fromTrash=從回收站還原
deleteTrue=徹底刪除
restore=恢復
edit=修改
apply=應用
add=添加
checkAll=全選
return=返回
order=排序
orderId=排序編號
orderIdTip=數字越大越靠前
submit=提交
upload=上傳
saveUpdate=保存修改

plsSelect=請選擇
blacklist=黑名單

viewByFriends=按好友流覽

siteCopyright=版權所有&copy;2009-2010
memoryUse=記憶體使用

sysMsg=系統提示

editSetting=修改配置

notificationInfo={0} 個新通知
reply=回復
replies={0}條回復
quote=引用


feedback=留言
privateWords=悄悄話
pwTip=(每條留言最多{0}字)
viewAllFeedback=查看所有留言

recommend=推薦
cancelRecomment=取消推薦
close=關閉
enable=啟用
sticky=置頂
unsticky=取消置頂
picked=精華
locked=鎖定
sysHidden=系統隱藏
display=顯示
hide=隱藏
unhide=解除隱藏
lock=鎖定
unlock=解鎖
move=移動

imglbl=[圖]

prevPage=前頁
nextPage=後頁
pageStats=共{0}項, {1}項/頁

today=今天
yesterday=昨天
thedaybeforeyesterday=前天

justNow=剛剛
houresAgo=小時前
minuteAgo=分鐘前
secondAgo=秒前

lastWeek=最近一周
lastMonth=最近一個月

statusPublic=公開
statusFriend=好友可見
statusPrivate=私有

privacySelf=我自己
privacyFriend=好友
privacyLoggedUser=登錄用戶
privacyEveryone=所有人

statusUpdated=修改了狀態
commentYour=評論了你的

yourSpace=你的空間
currentSkin=當前範本

blankSeparator=逗號分開

setCategory=設置到分類
editValue=修改數值
textReplaceLogo=刪除logo，使用文字
notUploadLogo=尚未上傳logo圖像

//-----------------------------------------------------------------------------------------------

logoutok=註銷成功
loginok=登錄成功
registerok=註冊成功
confirmok=驗證成功

saved=保存成功
deleted=刪除成功
sentok=發送成功
opok=操作成功
okUpdate=修改成功

pwdUpdated=密碼修改成功
pwdUpdatedAndSent=密碼修改成功，並發送到郵箱
pwdUpdatedAndSentError=密碼修改成功，但發送到郵箱錯誤

//-----------------------------------------

exPlsLogin=請先登錄
exPostAfter=對不起，你必須在註冊 {0} 小時之後才能操作

error=錯誤
exop=操作錯誤
exCmd=命令錯誤
exUnknowCmd=未知的命令
exId=Id 非法

exPlsFill=請填寫

exName=請填寫名稱
exLink=請填寫連結
exTitle=請填寫標題
exContent=請填寫內容
exUrl=請填寫網址
exPicUrl=請填寫圖片網址
exEmail=請填寫郵件
exTitleContent=請填寫標題和內容
exCount=請填寫數量
exLogo=請填寫logo
exUrlFormat=請正確填寫網址

exUser=用戶不存在
exUserName=請輸入用戶名
exUserNameError=用戶名錯誤
exUserNamePwdError=用戶名或密碼錯誤
exUserNameLength=用戶名長度至少{0}個字元
exUserUrlHttpError=“友好網址”是用戶名在網址中的對應名稱，請勿包括http、www等字元
exUserUrlError=個性網址不符合格式
exUserMail=請正確填寫email位址

exPwd=請填寫密碼
exPwdOriginal=請填寫原密碼
exPwdNew=請填寫新密碼
exPwdNotSame=兩遍密碼不一致
exPwdError=密碼錯誤

exServer=請填寫伺服器
exConfirm=驗證錯誤

exNotFound=不存在
exDataNotFound=資料不存在
exVisitForbidden=禁止訪問
exHttpMethodError=Http方法不正確
exActionNotFound=請求的action不存在

exPageNotFound=頁面不存在
exParentPageNotFound=父頁面不存在

exAppNotFound=應用程式不存在

exTypeError=資料類型錯誤
exAccessViolation=非法訪問。
exAccessTimeout=禁止訪問。有可能是登錄超時，請嘗試重新登錄。
exFriendVisitOnly=僅限好友訪問
exVisitForbidden=禁止訪問
exNoPermission=沒有許可權
exNoAdminPermission=沒有管理許可權
exNoAppAdminPermission=沒有應用程式管理許可權
exNoUserDataAdminPermission=沒有使用者資料管理許可權

exOnlySitePermission=僅限網站訪問

exVisitNoPermission=由於對方隱私控制，你無權訪問
exVisitLogNoPermission=由於對方隱私控制，你無權留下腳印

exSentError=發送錯誤

exAppCategoryNotFound=未找到用戶的app分類
exCategoryNotFound=分類不存在
exUserNotFound=用戶不存在

exUserNotFoundByEmail=用此email註冊的用戶不存在

exResetMsgTitle=你申請了重設 {0} 的密碼
exResetSend=郵件發送失敗！如果你確信你的email正確有效，請聯繫管理員
resetSendok=系統已經發送重置命令到你的郵箱，請按照郵件中的提示操作
exResetNotFound=沒有相關重設密碼請求

exResetError=重置密碼錯誤

exRequireAuthor=請填寫作者
exRequireContent=請填寫內容
exRequireTitle=請填寫標題
exRequireReceiver=請填寫收信人

exAuthorShort=用戶名太短
exContentShort=內容太少
exUserEmailInvalid=用戶email無效
exNoReceiver=沒有接受人
exRoleDeleteForbidden=內置角色，無法刪除
exRoleNotFound=角色不存在

exLogged=你已經登錄
exNotUploadFace=尚未上傳頭像

exRankError={0} 的值必須大於最後一個等級的值: {1}
exCreditFirst=第一個等級積分要求固定為0，不可修改
exCreditGreat0=積分必須大於0
exCreditBetween=值必須在 {0} 與 {1} 之間
exUpdateTimeLimit=請在早上 {0} 點之前或者夜裡 {1} 點之後進行操作

exUserNameMinGreater0=用戶名長度最小值必須大於零
exUserNameMaxGreater0=用戶名長度最大值必須大於零


exAppInstalled=你已經安裝過本應用程式
exUrlErrorFormat=網址不符合格式
exUrlNoInner=必須是站內網址
exFriendUrlFormat=網址別名只能由英文字母和數位組成

exEmailFormat=郵件格式錯誤
exAccountConfirm=帳號驗證

exValidateCodeError=驗證碼錯誤
exTemplateNotFound=沒有相應範本

exSiteName=請填寫網站名稱

exHaveShared=你已經分享過

exNameFound=名稱已有人使用
exUrlFound=網址已有人使用
exEmailFound=email已有人使用

exPhotoUploadEmpty=不能上傳空圖片
exPhotoFormatTip=圖片格式只能是jpg、bmp、gif、png
exPhotoUploadError=圖片上傳錯誤
exPhotoUploadErrorTip=對不起，上傳出現意外，請稍後重新上傳

exUnCategoryTip=尚未添加分類。正在跳轉到分類添加介面……

exSpaceVisitOnly=僅限用戶空間訪問
exCantFeedback=由於對方隱私控制，你無權留言
exCommentTarget=評論對象無效

userSpace={0} 的空間


// 網站後臺管理
//-------------------------------------------------------------------------------------------------

userLogin=用戶登錄

adminTitle=後臺管理
adminHome=管理首頁
userAdmin=用戶管理
adminRole=角色等級
adminFrontSecurity=前臺許可權控制
adminBackSecurity=後臺許可權控制
adminCurrency=貨幣體系
adminCredit=積分規則
adminGroup=群組管理
adminSiteSettings=網站配置
adminApp=應用程式
adminUserData=使用者發表的資料
adminSecurity=許可權管理
adminCurrencyCredit=貨幣與積分
adminSiteSkin=主題皮膚
adminSiteLog=網站日誌
adminSiteApp=程式管理
adminNav=導航菜單
adminSiteUrl=常用網址


// admin.dashboard
welcomeAdmin=歡迎光臨後臺管理
siteFeed=網站動態
searchFeed=搜使用者動態
newRegUser=最新註冊
newLoginUser=最新訪問
adminShortcut=常見管理快捷方式
pageFooterLink=頁腳連結
commonPage=通用頁面
restats=重新統計

// admin.pagefooter
addPageFooterLink=添加頁腳連結
editPageFooterLink=修改頁腳連結
pageFooterLinkAdmin=頁腳連結管理

// admin.page
addPage=添加頁面
pageTitle=頁面標題
pageTopic=所屬專題
pageLogo=圖示
pageOrderIdTip=只在特定分類裡面使用。數字越大越靠前
allowComment=允許評論
addSubPage=添加子頁面
parentPage=父頁面
editPage=修改頁面
pageTopicAdmin=專題管理
pageTopicListing=專題列表
pageAdmin=頁面管理
subPage=子頁面
addPageTopic=添加頁面專題
editPageTopic=修改頁面專題
enterPageTopic=進入專題
viewUrl=查看網址

// admin.sitelog
siteLogAdmin=網站日誌管理
siteLogList=日誌清單
siteLogFilter=日誌過濾
operator=操作人
operationInfo=操作資訊
dataValue=數據值
dataType=資料類型

recountUserStatsTip=警告：以下操作相當消耗系統資源，請勿輕易操作！
currentTime=當前時間
countBlogs=統計用戶博客
recountUserBlogs=重新統計所有用戶的博客數量
recountUserBlogComments=重新統計所有用戶的博客評論數量

// admin.user
userAndSecurity=用戶與許可權
userList=用戶列表
userFilter=分類查看(根據角色等級)
baseFilter=基礎過濾
pickedUser=推薦的用戶
timeFilter=按時間過濾
roleFilter=按角色過濾
rankFilter=按等級過濾
regToday=註冊(今日)
regWeek=註冊(最近一周)
regMonth=註冊(最近一個月)
regMonth3=註冊(最近三個月)
loginToday=登錄(今日)
loginWeek=登錄(最近一周)
loginMonth=登錄(最近一個月)
loginMonth3=登錄(最近三個月)
userSearch=用戶搜索
nickName=註冊名
realName=真實姓名
setRole=設置角色
setAs=設為
role=角色
regTime=註冊時間
lastLoginTime=最後登錄
referTrash=表示被刪入回收站
referPick=表示推薦
lastUpdate=最後更新

UnSendEmail=未發啟動郵件
Confirmed=已啟動
UnConfirmed=未啟動
EmailError=錯誤郵件
templateContent=範本內容
confirmTemplate=啟動範本
sendConfirmEmail=發送啟動郵件
accountConfirm=帳號驗證
confirmTemplateTip=如要修改郵件內容，請先 <a href="{0}">點擊此處</a> 修改啟動郵件的範本

viewUserType=用戶類型
viewRegUser=最近註冊用戶
viewLoginUser=最近登錄用戶
viewActivateUser=啟動狀態

resetPwd=重設密碼
originalPwd=原密碼
newPwd=新密碼
useRandomPwd=使用隨機密碼
repeatNewPwd=重複新密碼
repeatPwd=再輸一次密碼
exNotEmpty=必須填寫
requirePwdAndSame=必須填寫，並且要和上面的密碼一致
newPwdReason=為了防止輸入有誤，請重新輸入一遍
submitNewPwd=提交新密碼
sendNewPwdToUserEmail=發送新密碼到使用者的Email
woijiluName=“我記錄”網站綜合系統

// admin.security
frontAppSecuritySetting=前臺應用程式之許可權設置
updateSecurity=更新許可權
roleAndRank=角色等級
security=許可權
frontSecuritySetting=前臺許可權設置
adminSecuritySetting=後臺許可權設置
refreshStats=重新統計等級
setSecurity=設置許可權
addSecurityAdmin=應用程式許可權管理
generalSecuritySetting=通用許可權管理
userDataSecuritySetting=使用者發佈的資料的許可權
frontAppSecuritySetting=前臺許可權設置之應用程式
roleName=角色名稱
rankName=等級名稱
rank=等級
requirement=要求
roleAndRankSetting=角色與等級管理
defaultRoleTip=以下用戶角色是網站默認的用戶角色。各App自己的用戶角色請分別到相應App的控制中心設置
roleTip=相當於管理職位，比如“經理、總裁”、“科長、局長、處長”等。用戶註冊之後，角色默認是“一般會員”，等級是“初學弟子”
rankTip=相當於技術職稱，比如“助理工程師、工程師、高級工程師”等。管理員可以指派使用者的角色，但使用者的等級只能通過積分自動升級
followingIsAdminRole=以下是具有管理功能的角色
followingIsGeneralRole=以下是一般性的角色
addAdminRole=添加管理角色
editName=修改名稱
addGeneralRole=添加一般角色
randByCreditTip=根據使用者積分自動調整
switchToOtherRanks=切換到其他等級系列
addRank=添加等級
setStar=設置星號
rankIcon=圖示
otherRankTip=每個系列都是10個等級。新挑選的系列只覆蓋前10個等級，其餘需要手動修改
applyRank=使用本系列
newName=新名稱
updateAllUserRank=更新所有使用者等級
updateAllUserRankTip=非常消耗伺服器資源，請在午夜網站空閒時候運行
selectStar=選擇星號
selectStarCount=選擇個數
editRequirementOfValue=修改數值要求
lblRankRequirement=用戶的 {0} 必須達到 {1}  才能進入等級

siteSkin=網站主題
appUrl=各應用程式的網址
addMenuUrlTip=提示：你在添加功能表的時候，可能需要下面的網址。

addToSiteMenu=添加到網站的菜單
addToSpaceMenu=添加到空間的菜單
addToGroupMenu=添加到群組的菜單

siteUserHome=網站用戶首頁
siteGroupHome=網站群組首頁
siteBlogHome=網站博客首頁
sitePhotoHome=網站相冊首頁


// user
//-------------------------------------------------------------------------------------------------

province=請選擇-0/北京-1/上海-2/天津-3/重慶-4/內蒙古-5/山西-6/河北-7/遼寧-8/吉林-9/黑龍江-10/江蘇-11/安徽-12/山東-13/浙江-14/江西-15/福建-16/湖南-17/湖北-18/河南-19/廣東-20/海南-21/廣西-22/貴州-23/四川-24/雲南-25/陝西-26/甘肅-27/寧夏-28/青海-29/新疆-30/西藏-31/香港-32/臺灣-33/澳門-34/其他-999999

degree_list=請選擇-0/小學-1/初中-2/高中(中專)-3/大學-4/碩士-5/博士-6

member_gender=保密-0/男-1/女-2
member_relationship=保密-0/未婚-2/已婚-1

//member_gender=請選擇-0/男-1/女-2/-3
//member_relationship=請選擇-0/未婚-2/已婚-1/保密-2

member_body=請選擇-0/苗條-1/中等-2/運動型-3/肌肉型-4/豐滿-5/超重-6
member_hair=請選擇-0/黑色-1/棕色-2/紅色-3/金色-4/灰色-5/白色-6/染髮-7/平頭-8/謝頂-9
member_sleeping=請選擇-0/早起者-1/晚起者-2/睡一整天-3/從不-4/夢遊症者-5
member_smoking=請選擇-0/不吸煙-1/不吸煙並反對吸煙-2/只在社交場合吸煙-3/是的-4/嗜煙-5
member_sexuality=請選擇-0/異性戀-1/同性戀-2/雙性戀-3/保密-4
member_emailnotify=啟用-0/禁用-1
member_regpurpose=隨便看看-0/交友-1/學習-2/分享-3/聊天-4/資訊-5
member_contactcondition=任何用戶都可以聯繫我-0/對方資訊完整度50%以上-1/對方資訊完整度80%以上-2
member_blood=請選擇-0/A型-1/B型-2/O型-3/AB型-4
member_zodiac=請選擇-0/白羊-3/金牛-4/雙子-5/巨蟹-6/獅子-7/處女-8/天秤-9/天蠍-10/射手-11/摩羯-12/水瓶-1/雙魚-2


// admin.sys
siteName=網站名稱
webmasterName=站長名稱
metaKeywords=網站關鍵字
metaTitle=網頁默認標題
metaDescription=網站簡介
isSiteClose=網站是否關閉
closeReason=關閉原因
supportHtmlTag=支援html標記

statsEnabled=是否啟用統計
statsJs=統計代碼

netSpider=網路爬蟲
allowedUploadFileType=允許上傳的檔
allowedUploadPicType=允許上傳的圖片

mailServerInfo=郵件伺服器資訊
mailRequireTestSelfTip=說明：請自行測試郵件伺服器是否可用
mailSmtpServer=郵件發送伺服器
smtpSetting=郵件設置
mailSmtpTip=(即SMTP伺服器地址，比如smtp.gmail.com)
mailAccountTip=(比如abcd@gmail.com)
mailAccount=登錄用戶名
mailPwd=登錄密碼
isEnableSsl=是否啟用SSL



uploadLogo=logo上傳
logoSetting=Logo設置
uploadLogoTip=說明：可以不上傳logo。如果沒有上傳logo圖片，則使用文字形式顯示(即網站名稱)
plsUploadLogo=請上傳logo圖片

userInfo=使用者資訊
userNameLength=用戶名長度
isEnableUserSpace=是否啟用用戶空間
regAndLogin=註冊與登錄
regValidationCode=註冊時的驗證碼
loginValidationCode=登錄時的驗證碼
newUserRegTip=新使用者註冊之後，系統將會發一封站內短信給他/她
msgTitle=短消息標題
msgBody=短消息內容
regForbidden=禁止註冊
forbiddenUserName=禁止註冊的用戶名
forbiddenUserUrl=禁止在url中使用的詞語
fromChar=從
toChar=到

wordFilter=篩檢程式
wordFilterSetting=字詞過濾設置
wordFilterTip=說明：詞與詞之間請用斜杠“/”隔開
sourceWord=將詞語
replacedWord=過濾成符號

// common.app
appListing=應用程式清單
appAdmin=程式管理
menuAdmin=功能表管理
startApp=啟動
stopApp=暫停運行
stopped=已停止
running=正在運行
appInstalled=已安裝
appadd=添加此程式
appAddTip=添加程式(本程式可多次添加)


// group
//-------------------------------------------------------------------------------------------------
administrator=管理員

group=群組
joinGroup=加入小組
quitGroup=退出小組
waitApprove=等待審核

groupBoard=討論區
groupMember=群組成員
groupToApprove=群組待審核
groupAdmin=群組管理員
groupAdm=群組管理

groupOpen=公開群組
groupClosed=半公開群組
groupSecret=秘密群組

sysLock=系統鎖定
sysHide=系統隱藏

joinedGroup=加入了群組
groupNotice=群組通知

groupMember=成員
groupCreated=創建於
groupLastUpdated=最後更新
groupCategory=群組分類

groupOpenInfo=任何人都可以自由加入，可以查看群組內容
groupClosedInfo=加入需審核，可以查看內容，發帖需成員資格
groupSecretInfo=只有群組管理員邀請才能參加，非成員禁止流覽；群組不出現在目錄和搜索結果中

groupMemberJoinedMsg=你已經被批准加入群組
groupAdminSettedMsg=你已經被設置為群組的管理員
groupAdminCanceledMsg=你已經被取消群組的管理員資格

groupSysAdminMsg=群組 [{0}] 被系統 {1}

exFriendGroupNotFound=友情群組不存在
exFriendGroupAdded=友情群組已經添加

exGroupBeBlacklist=你已經進入該組的黑名單
exGroupApprovingTip=管理員尚未審核，請等候
exGroupBeMember=你已經是群組成員

exGroupNotFound=群組不存在
exGroupName=請填寫群組名稱
exGroupNameFormat=群組名稱字元不正確
exGroupDescription=請填寫群組簡介
exGroupUrl=請填寫群組網址
exGroupUrlFormat=群組網址字元不正確
exGroupNameMaxLength=群組名稱不能超過30個字元
exGroupCategory=不正確的群組分類
exGroupSecurity=不正確的許可權設置
exGroupNull=請先建立群組資料
exGroupMsgTitle=我剛創建了群組

exGroupNotUpdated=沒有更新
exGroupVisitOnly=僅限群組訪問

exGroupLockTip=群組已被鎖定，不能操作
exGroupMemberOnly=只有群組成員才能操作

// admin.group
groupList=群組列表
groupSendMsg=發消息
groupSendMsgTip=給群組的管理員發送消息
groupLockTip=禁止加入新成員，所有帖子設為“唯讀”狀態，只可流覽，不可回復或編輯
groupHideTip=群組轉為隱藏狀態，只有成員才可訪問
groupFilterProperty=按性質篩選
groupSendReasonToAdmin=此原因將會發送給群組管理員

plsopReason=請填寫操作原因
groupNewPost=最新討論帖子
groupNewCreated=新創建的群組
groupPostList=帖子列表
groupPostFilter=帖子過濾

topicSort=主題排序
orderByTime=按發表時間排序
orderByReplies=按回復排行
orderByHits=按點擊排行

allPosts=所有帖子
allGroup=所有群組

// group.admin
recentGroupMember=最近加入的成員
linkGroup=友情群組
addGroupLink=添加友情群組
groupName=群組名稱
groupNameNote=最多30個漢字
groupCategoryIs=所屬分類
groupCategoryNote=選擇合適的類型，群組更容易被找到
groupDescription=群組簡介
groupPrivacy=流覽許可權
groupUrl=群組網址
groupUrlNote=請填寫你組/圈子的網址,只能輸入英文字母和數位(3到20個字元)
createGroup=創建群組
groupLogoNote=支持 jpg、gif、bmp、png 格式，最大1M。圖片會被自動縮小、裁切成正方形
uploadPic=上傳圖片
approveMember=通過審核
setAsAdmin=加為管理員
cancelAdmin=取消管理員

memberAdmin=成員管理
friendGroup=友情小組
groupAdminMenu=群組菜單
groupMemberCount=成員數
recentJoin=最近加入
viewAllMember=流覽所有成員
groupStats=共 {0} 名成員，{1} 次流覽， 創建於 {2}

// group.main
hotTopic=熱門討論
hotGroup=熱門群組
newGroup=最新群組
groupSearch=群組搜索
viewByCategory=分類流覽
groupsByCategory=分類“{0}”下的所有群組
searchResult=搜索結果
groupInfo=群組信息
secretGroupInfo=說明：這是秘密群組，必須受邀成為成員才能訪問。
returnHome=返回首頁
memberList=成員列表
groupAdminHelp=群組管理指南
everyoneCanCreateGroup=每個人都可以創建群組

// user.myGroup
myGroup=我的群組
viewGroup=流覽此群組
friendJoinedGroup=好友最近加入的群組

createGroup1=第一步：群組資料
createGroup2=第二步：上傳圖片
createGroup3=第三步：邀請好友

createGroupOkMsg=恭喜您，群組創建成功。請再為群上傳一個logo圖片
uploadGroupLogoOkMsg=群組logo上傳成功

resultLabel=搜索{0}，共有 {1} 條結果

groupApprovingInfo=新成員“{0}”申請加入群組“{1}”，等待您的審核
groupApprovingBodyInfo=新成員“<a href='{0}'>{1}</a>”申請加入群組“<a href='{2}'>{3}</a>”，等待您的審核
groupInvite=你好，我剛剛創建了一個群組 {0}，歡迎參觀。

groupFillFriends=請填寫需要通知的好友
groupFriendsTip=好友之間用逗號分隔
notificationContent=通知內容
sendMsgToFriend=通知好友
visitGroupDirectly=不通知，直接進入群組


// main
unRegisterTip=尚未註冊？<a href="{0}">立即註冊</a>
rememberMe=記住我
forgetPwd=忘記密碼？
loginTip=已經註冊過？請 <a href="{0}">點擊此處登錄</a>
userReg=用戶註冊
userNameNote=長度{0}-{1}(中英文皆可)
friendlyUrl=個性網址
furlNote=必須以字母開頭(允許數位和底線)
emailNote=不會公開(確認有效性)
pwdNote=至少4個字元
confirmPwd=確認密碼
confirmPwdNote=兩次密碼必須一致
submitReg=提交註冊
regReset=重來

// common
appName=程式名稱
appFriendlyName=程式別名
accessSetting=訪問設置
editApp=改名
installApp=安裝應用程式
myApp=我的應用程式
addApp=添加應用程式
plsSelectApp=請選擇應用程式
userHome=用戶首頁
developer=開發者
uninstallMsg=確實卸載？一旦卸載，資料不可恢復，請慎重\n如果只是為了限制訪問，請通過點擊“修改”來設置存取權限，或者“暫停運行
uninstall=卸載

menuList=菜單清單
addMenu=添加菜單
menuName=菜單名稱
linkPage=連結頁面
isSetHome=首頁設置
setMenuAsHome=將本功能表連結頁面設為首頁
editMenu=修改菜單
menuNote=應用程式的名稱是給你登錄之後自己看的，功能表中的名稱是展示給訪問者看的。系統安裝應用程式的時候，兩者預設保持一致，但你可以分開修改，保持各自的特色。 
menuUrl=菜單指向的網址
menuFriendUrlNote=必須英文開頭，可以是英文、數位和底線
parentMenu=上級菜單
addSubMenu=添加子功能表
deleteSubMenuFirst=請先刪除子功能表

allComments=所有評論
submitComment=發表評論
emailOrWebsite=Email或網址
commentBody=評論內容
commentTarget=評論對象
contentLength=請輸入內容，不超過{0}字

resetPwdRequireEmail=請填寫你註冊時候的 Email 地址
sendingEmailTip=正在操作，需要一段時間發送email，請耐心等候……
forgetEmailTip=忘記了email？請直接聯繫管理員
resetPwdMailOk=系統已經發送重置命令到你的郵箱，請按照郵件中的提示操作
resetPwdMailError=郵件發送失敗！如果你確信你的email正確有效，請聯繫管理員。
yourEmail=你的Email地址

shareNote=分享說明

// skin
skin=範本
customSkin=自訂範本
returnSkinList=返回範本清單
editSkinCssNote=請修改如下CSS樣式表，創作屬於你自己的範本。
skinName=範本名稱
skinContent=範本樣式內容
createMySkin=創建我的範本
editMySkin=修改我的範本
mySkin=我的範本
createSkin=創建範本
createSkinNote=通過修改當前範本，創作具有自己特色的介面。
useSystemSkin=使用系統範本

pageBg=頁面背景
pageHeader=頁面頭部
pageBody=頁面主幹
pageFooter=頁腳
bgColor=背景顏色
bgPic=背景圖片
selectPic=選擇已上傳圖片
fillPicUrl=填寫圖片網址

showVisitLogLable=留下腳印
showVisitLog=踩一腳

redirecting=頁面跳轉中……



// friends
//-------------------------------------------------------------------------------------------------
requestFriend=請求加你為好友
addAsFriend=加為好友
canelFriend=取消好友
inApproveFriend=好友審核中
friendList=好友列表
myFriends=我的好友
addFriend=添加好友
friendsOfFriends=好友的好友
addFriendTip=說點什麼吧
friend=好友
addFriendDone=添加成功，等待對方批准

cancelFollow=取消關注
follow=關注
followcmd=關注此人
followedYou=關注了你
followshipNotFound=關注關係不存在
myFollowing=我關注的人
myFollowed=關注我的人
suggestPeople=可能認識的人
advancedUserSearch=高級搜索

userHotest=人氣最高

fans=粉絲

allow=批准
refuse=拒絕

exVisitSelf=不可以踩自己
exFriendBeen=對不起，對方已經是你的好友
exFriendSelf=不可以添加自己為好友
exFollowSelf=對不起，不可以關注自己
exNoFollowByFriend=對不起，對方已經是你的好友，不用再關注
exFollowed=對不起，你已經關注了對方

// msg
//-------------------------------------------------------------------------------------------------
exMsgTitle=請填寫消息標題
exMsgContent=請填寫消息內容
exMsgNotFound=短信不存在
exMsgSysNoReply=系統資訊，請勿回復
exReceiverNotFound=收信人不存在

addReceiverByFriendsTip=選擇好友
addReceiverByFriendsTitle=請選擇好友名字

msg=短信
sender=發送人
receiver=收信人
mailTitle=郵件標題
receiveTime=接收時間
sendTime=發送時間
viewSender=查看
receiverNote=(不同收件人用逗號或斜杠“/”分開)
send=發送
senderName=發送人名稱
receiverName=收信人名稱
searchMail=搜索郵件

sendMsg=發送消息
sendSiteMsg=發站內短信
sendEmail=發送Email

unreadMsg=未讀短信
allMsg=所有短信
sentMsg=已發短信
msgTrash=回收站

forward=轉發
forwardPrefix=[轉發]
replyPrefix=[回復]

readed=已讀
notRead=未讀
replyed=已複

msgForward=以下轉發
msgQuote=以下引用
feedbackPrivate=發送了一個悄悄話

myMsg=我的站內短信
writeMsg=寫短信

msgToAll=短信群發
microblogAdmin=微博管理
usersMicroblog=用戶的微博

writeSiteMsg=撰寫站內短信
sendSiteMsg=發送站內短信
editSiteMsg=修改站內短信

siteMsg=站內短信


// admin.credit
currency=貨幣
keyCurrency=中心貨幣
initValueWithReg=註冊初始值
regHave=一旦註冊成為會員，即
canHave=可獲得
credit=積分
creditRule=積分規則
editCreditRule=修改積分規則
editCreditCell=你可以點擊儲存格中數位進行編輯
addCurrency=添加貨幣
baseInfo=基本資訊
unit=單位
exchangeRate=兌換比率
isShow=是否顯示
canDeal=是否可交易
canRate=是否可評分
editCurrency=修改貨幣資訊
editKeyCurrency=修改中心貨幣資訊
monetarySystem=貨幣體系
otherCurrency=其他貨幣
currentAndRule=貨幣與規則
income=收入

// user.admin

userStart=快速入口

markAllRead=全部標記為已讀

aboutMe=關於我
myMicroblog=我的微博
myShare=我的分享
myFeedback=給我的留言
visitor=訪客
recentVisitors=最近訪客
guestbook=留言板

myIncome=我的積分
incomeRule=積分規則
userRank=使用者等級

myHome=我的首頁
feed=動態消息
friendFeeds=好友動態
feedsOfFriends=好友的動態
feedsOfFollowing=我關注的人的動態
myFeeds=我的動態

publish=發佈
publishOk=發佈成功
updatedJustNow=剛剛更新
updateFaceByHit=點擊更換頭像

myNotification=我的通知
returnMyHome=返回我的首頁

customUserSkin=自訂空間外觀

// user.profile

newPwdInfo=你在 {0} 的新密碼
newPwdBody=你在 {0} 的新密碼是<span style='color:red;font-weight:bold;font-size:20px;'>{1}</span>，請妥善保管。<br/><br/>

profile=個人資料
contact=聯繫方式
interest=興趣愛好
changePwd=修改密碼
privacySetting=隱私設置
face=頭像

address=地址
tel=電話/行動電話
otherIM=其他即時通訊工具
website=網頁/網站/博客
emailNotification=郵件通知
uploadFace=上傳頭像
uploadFaceNote=<li>頭像必須是jpg、gif、bmp、png四種格式之一</li><li>大圖系統將自動調整為48*48； </li><li>建議上傳真實照片，尤其是近距離照等； </li><li>頭像請不要用卡通圖、明星照及違禁圖片。 </li>
interestNote=請填寫關鍵字，關鍵字之間用逗號“，”或“,”分開。限250字
music=音樂
movie=電影/電視
book=書籍
sport=體育
eat=飲食
otherInterest=我還喜歡

lblMusic=喜歡的音樂
lblSport=喜歡的體育
lblMovie=喜歡的電影/電視
lblBook=喜歡的書籍
lblEat=喜歡的飲食

privacyProfile=基本資訊
privacyContact=聯繫方式
privacyInterest=興趣愛好
privacyVisitMySpace=訪問我的空間
privacyFeedback=在我的空間留言
privacyLeaveVisitLog=在帖子後留下腳印
privacyMicroblog=我的微博
privacyShare=我的分享
privacyRecentVisitor=訪客列表
privacyForumTopic=我的論壇帖子
privacyFriends=好友列表

appPrivacyInfo=關於應用程式的許可權控制，請到 <a href="{0}">應用程式清單</a> 處設置
registerReason=我來這裡為了
userId=註冊ID

postedAt=發表於
userMenu=使用者功能表
shareUser=分享用戶

online=線上
whoIsOnline=當前線上
userCharts=用戶排行榜
searchUser=找朋友
userLocation=地區
pickedUser=推薦用戶
allUser=所有用戶
onlineUsers=當前線上的註冊用戶
visitCount=訪問量

searchNow=開始搜索
resetForm=清空

hello=歡迎您
logoutAdmin=後臺註銷
mySpace=我的空間

switchLang=切換語言
userSkinTip=[提醒] 你正在使用自訂的範本

uploadThanks=上傳成功，謝謝
hideComment=隱藏評論

// poll
//-------------------------------------------------------------------------------------------------
hasvoted=參與了投票

pollLoginRequire=請登錄之後再投票。
pollVoted=你已經投過票。
pollSelectRequire=請先選擇
pollVote=投票
pollViewTip=說明：必須投票之後才能查看結果
pollAllVoter=目前共有 {0} 人參加。
pollEnd=投票已結束。
pollEndToday=此投票將於 <strong>今天</strong> 截止，剩餘 1  天。
pollEndTomorrow=此投票將于 <strong>明天</strong> 截止，剩餘 2  天。
pollEndDays=此投票將於 {0} 截止，剩餘 {1} 天。

friendPoll=好友的投票
myPoll=我的投票
pollCount=目前參加人數
hotPoll=熱門投票
voteResult=投票結果

poll=投票
addPoll=發佈投票
pollTitle=投票主題
pollNote=投票說明
option=選項
addOneOption=增加一項
deleteOneOption=刪除一項
singleChoice=單選
multiChoice=多選
pubPoll=發佈投票
effectiveDay=有效天數
dayTip=(0表示不限制天數，如果手動設置，則最多3650天)
otherRequirements=其他要求
isVisible=投票之後才可查看結果
isVoterOpen=投票人不公開
voter=投票人
voteTime=投票時間
pollType=投票類型
pollDone=投票成功

exPollNotFound=投票不存在
exPollItemNotFound=投票項不存在或被刪除
exVoted=你已經投過票
exPollOptions=請填寫投票選項
exPollMinTwoOptions=至少兩個投票選項
exPollMaxTwoOptions=至多20個投票選項
exPollMaxDay=有效天數最多10年

pollcommentFeed={0} 評論了 {1} 的投票 {2}
pollcommentNotification={0} 評論了投票 {1}

readAndAgree=我已閱讀並同意
regService=註冊協議
refreshPic=換一張

exQuitGroup=你是群組唯一的管理員，不能退出
exNotGroupMember=你不是群組成員
exDeleteOnlyGroupAdmin=僅剩最後一名管理員，不能刪除
groupDeleteNote=說明：管理員是不能直接刪除的，必須先降級為普通成員，然後才能刪除；最後一名管理員也不能取消

tDay=一天
tDay2=兩天
tWeek=一周
tMonth=一個月
tMonth3=三個月
tMonth6=半年

siteInit=網站初始化
siteInit1=第一步：初始化數據
siteInit2=第二步：註冊用戶
siteInit1Tip=請點擊初始化系統資料
siteInit2Tip=請點擊註冊用戶
clickHere=點擊此處
siteInitUserTip=第一個用戶自動成為網站管理員
siteInitDone=系統已經初始化，現在你可以登錄後臺管理網站。

openLinkInNewWindown=在新視窗中打開連結
tagLink=tag標籤
exInviteCode=邀請碼錯誤
inviteFriends=邀請好友
inviteMailTitle=邀請您成為好友
inviteSendDone=邀請信發送成功
inviteSendFailure=邀請信發送失敗

addBlacklist=添加黑名單
blacklistTip=用戶一旦被加入黑名單，將會 (1) 從您的好友和粉絲中刪除；(2) 無法給您留言、發消息、加好友、留腳印、評論等。
fillUserNameTip=請填寫用戶名
categoryAdmin=類別管理
friendCategory=類別
backVisitPost=對不起，由於對方隱私設置，您無權留下腳印
blackFriend=對不起，由於對方隱私設置，您無權添加好友
blackFollow=對不起，由於對方隱私設置，您無權關注對方
blackSendMsg=對不起，由於對方隱私設置，您無權給對方發送短消息
backComment=對不起，由於對方隱私設置，您無權評論

restartSite=重啟網站
restartSiteConfirm=確實要重啟網站？
restartSiteTip=重啟網站可以讓配置修改之後及時生效，但也會導致後臺註銷，必須重新登錄
restartSiteCmd=現在重啟
restartDone=重啟成功。正在重新進入網站首頁，請稍等數秒……

editFile=檔修改
currentPath=當前路徑
editFileTip=修改之前請確保已經備份
editViewsTip=修改之前請確保已經備份。修改原則：儘量不要刪除已有標籤，如果刪除 id/class/BEGIN/END 等標誌，會導致不可預料的後果
editConfigTip=本檔非常重要，修改之前請確保瞭解代碼的含義，並已經備份，否則會導致不可預料的後果

