
feedInfo={0} 評論了 {1} 的圖片
sharePhoto={0} 分享了一張圖片
uploadInfo={0} 上傳了{1} 張新照片

// code
defaultAlbum=默認相冊
commentPhoto=評論了圖片
shareYourPhoto=分享了你的圖片

nextPhoto=下一張
prevPhoto=上一張

photoStats=第{0}張 / 共{1}張

moveToAlbum=轉移到專輯

exAlbumRequire=請先添加專輯
exSysCategoryRequire=請選擇系統分類
exAlbumSelect=請選擇專輯
exUploadImg=請上傳圖片
exPhotoName=請填寫圖片名稱


// admin.apps.photo

photoAdmin=圖片管理
newPhoto=最新圖片
recommendedPhoto=被推薦的圖片
sysCategoryAdmin=系統分類管理
usersNewPhoto=使用者最新圖片

// admin
defaultAlbumTip=論壇等處上傳的圖片進入預設專輯

addAlbum=添加專輯

// admin.layout
friendsPhoto=好友圖片
myphoto=我的圖片
albumAdmin=專輯管理

// admin.post
selectAlbum=請先選擇所屬專輯
myalbum=我的專輯
sysCategory=系統分類
nextStep=下一步(上傳圖片)
editPhoto=修改圖片
uploadAlbum=上傳到專輯
uploadPhoto=上傳圖片

// layout
album=專輯分類

// main
photoCountRank=使用者圖片數量排名
userVisitRank=用戶訪問排名

// show
uploaded=上傳於
viewOriginalPhoto=查看原圖
returnAlbum=返回相冊
hitToNext=點擊查看下一張
sharePhoto=分享圖片
