

boardViewV=豎排(默認)
boardViewH=橫排
exIncome=你的 {0} 不夠

shareInfo={0}  分享了一個帖子
shareYourInfo={0} 分享了你的帖子 {1}
shareTopic={0} 分享了一個論壇主題

//--------------------------------------------------------

topic=主題
post=帖子
reward=懸賞
admin=管理
lastUpdate=最後更新

notice=本版公告

replyYourPost=回復了你的帖子
exBanPostTitle=你的帖子“{0}”已經被遮罩
exBanPostBody=你的帖子“{0}”已經被遮罩，發生時間

// path
pAddPoll=發佈投票
pAddQuestion=發佈懸賞提問
pReply=回復
pReward=結帖給分
pPost=帖子
pPostEdit=帖子修改
pTopic=主題
pAddTopic=發佈主題
pTopicEdit=主題修改

board=版塊
boardDescription=版塊介紹

tag=關鍵字
userTitle=頭銜
normalTopic=普通主題
pickedTopic=精華主題
pollTopic=投票主題

setModerator=設置版主
setSecurity=許可權設置
addSubBoard=添加下級論壇
editBoard=修改論壇板塊
editBoardCategory=修改論壇分類

plsSelectCategory=請選分類

noPost=不允許發帖，僅作為子版塊的容器
addBoard=添加論壇板塊
addBoardCategory=添加論壇分類

today=今日
subBoard=子版塊

ipAddress=IP地址
osInfo=系統資訊
startTime=開始時間
lastActive=最後活動
clocation=當前位置

readPermission=閱讀許可權

setReward=給分

price=售價
buyok=購買成功
buyUsersCount=已購買人數
buyTopic=購買主題

viewReward=查看給分情況
rewardLable=本問題懸賞
scoreStats=已給{0}，可用{1}
cmdReward=我要結帖給分
resolved=已解決

creditLog=本帖最近評分記錄
creditLabel=本帖得分
postCredit=得分

postBanned=本帖內容被遮罩

// cmd
cmdPostAdmin=帖子管理
cmdSticky=主題置頂
cmdUnSticky=取消置頂
cmdPick=加為精華
cmdUnPick=取消精華
cmdHighlight=高亮標題
cmdUnHighlight=取消高亮標題
cmdLockTopic=鎖定主題
cmdUnLockTopic=取消鎖定主題
cmdMoveTopic=移動主題
cmdDeleteTopic=刪除主題
cmdCatetory=設置帖子分類

cmdBan=遮罩此帖
cmdUnban=解除遮罩
cmdCredit=帖子評分
cmdDelete=刪除此帖
cmdEdit=帖子編輯
cmdLock=鎖定此帖
cmdUnlock=解除鎖定

sticky=置頂
pick=加精
setTopicCategory=給主題分類
unHighlight=取消高亮


lastEditInfo=本帖於 {0} 被 <a href=\"{1}\">{2}</a> 最後編輯
qResolved=本問題已經結帖解決

// log
logCombine=合併論壇資料:從{0}(id:{1}) 到 {2}(id:{3})
logAddCategory=添加論壇分類 “{0}” 到板塊 “{1}”
logEditCategory=修改分類
logAddLink=添加友情論壇
logEditLink=修改友情論壇

logHighlight=高亮標題
logUnHighlight=取消高亮
logSetCategory=設置分類

logSticky=置頂
logUnSticky=取消置頂
logPick=加為精華
logUnPick=取消精華
logLock=鎖定
logUnLock=取消鎖定
logDelete=刪除
logMoveTopic=移動主題

logBan=遮罩
logUnBan=取消遮罩
logEdit=編輯
logDeleteTrue=徹底刪除

//--------------------------

exBoardNotFound=論壇板塊不存在
exCategoryNotFound=分類不存在
exUserNotModerator=用戶不是版主

exTopicNotFound=主題不存在
exPostNotFound=帖子不存在

exUnCategory=本版面尚未設置分類

exLogo=請填寫logo

exBoardSet=未指定論壇

exColorFormat=顏色值格式不對，請按照 “#000000” 格式填寫(共7個字元，以“#”開頭)

exDeleteSubFirst=必須先刪除所有下級板塊才可刪除本分類。刪除之後不可恢復
exDeleteBoardTip=確實要刪除？本刪除是徹底刪除，不可恢復\r刪除之後，本版所有帖子進入系統回收站
exDeleteSubFirstError=錯誤！請先刪除所有下級版面

exSrcBoardNotFound=源論壇板塊不存在
exTargetBoardNotFound=目標論壇板塊不存在
exTargetCantCategory=目標板塊不能是論壇分類

exFirstTopic=已是最前的主題
exLastTopic=已是最後的主題




exRewardNotValid=請輸入有效的獎賞額度(大於0的整數)
exNoRewardAvailable=已經沒有獎賞額度可用
exMaxReward=本帖您最多只能給: {0}
exRewardSelfOnly=你只可以給自己的帖子給分
exRewarded=你已經評過分，不可重複評分

exNotAllowSelfCredit=不可給自己的帖子評分
exCreditNotValid=數值必須有效，不可為0

exPlsBuy=本主題支付積分購買之後方可流覽


exLockTip=本主題已被鎖定，不可回復


exSelectTargetForum=請選擇目標論壇
exOpReason=請選擇操作的理由，或輸入操作的理由


// admin
//-----------------------------------------------------------------------------------------------------------------------

parentBoard=所屬上級
isCategory=性質
addCategory=添加分類

// data.combine
dataCombine=資料合併
combineTip=注意：源板塊和目標板塊不能是論壇分類，必須是具體的論壇板塊。
combineWaring=提示：<br/>1、一旦合併，不可撤銷。<br/>2、合併之後，請先檢查資料移轉無誤，再決定是否需要手動刪除源板塊。<br/>3、建議在合併之前先做備份。
lblCombineFrom=請選擇需要被合併的
srcBoard=源板塊
combineData=合併資料
combineConfirm=確實要合併？合併之後不可撤銷！
lblCombineTo=請選擇需要合併到的
targetBoard=目標板塊

// list board
boardListing=論壇列表
postCategory=帖子分類
moderator=版主
boardDeleteTip=【說明】板塊刪除是徹底刪除，不可恢復。刪除之後，板塊所屬帖子進入系統回收站
forumTrash=論壇回收站
restoreTo=還原到
boardId=所屬版塊ID

subboardStyle=子版版式
topicList=主題清單
postList=帖子列表
itsTopic=所屬主題

deleteUser=刪除人
operationInfo=操作資訊
operationTime=操作時間
pubTime=發表時間
trashPost=回收站帖子
trashTopic=回收站主題

forumNotice=論壇公告
noticeContent=公告內容

// post.category
postCategoryAdmin=帖子分類管理
topicCount=主題數
addCategoryToBoard=添加分類到版面
newCategoryName=新分類名稱
nameColorStyle=顏色
nameColorTip=(必須填寫有效值，比如#000000)
editCategory=修改分類

// forum.link
forumLinkListing=友情論壇列表
addForumLink=添加友情論壇
forumLogoUrl=論壇Logo網址

// layout
showSidebar=顯示側邊欄
closeSidebar=關閉側邊欄
forumAdmin=論壇管理
boardAndModerator=版面與版主
defaultPermission=默認許可權
adminLog=管理日誌
friendForum=友情論壇

// moderator
moderatorAdmin=版主管理
moderatorName=版主名稱
currentBoard=當前版塊
addModerator=添加新版主

// security
saveSecurity=保存許可權設置
restoreDefault=恢復到默認設置
setForumDefaultPermission=論壇默認許可權
saveAndApplyToBoards=保存並應用到所有板塊
onlySaveAsTemplate=僅僅保存為範本
noApplyToBoards=不應用到所有板塊
setAllItems=逐項設置

// log
forumLog=論壇日誌
operator=操作人
logInfo=日誌資訊

//---------------------------------------------------------------------------------------------------------------------------

// move
moveTopic=移動主題
targetBoard=目標版塊
opReason=操作原因
ad=廣告
spam=惡意灌水
illegalContent=違規內容
irrelevantContent=文不對題
repeatPost=重複發帖
agree=我很贊同
pickedPost=精品文章
originalWork=原創文章
orCustomReason=或自訂輸入
sendMsgToAuthor=發短消息通知作者

// forum.index
maxDay=最高日
welcomeNewMember=歡迎新會員
newPosts=論壇新帖
newTopic=新主題
whoIsOnline=線上統計
onlineNote=(20分鐘內論壇活動用戶)
forumLink=友情連結
forumStats=目前論壇上總共 <strong>{0}</strong> 人線上(<a href="{1}">詳情</a>)。其中<a href="{2}">會員</a> <strong>{3}</strong> 人，遊客 <strong>{4}</strong> 人。歷史最高線上 <strong>{5}</strong> 人，發生時間是：{6}

// poll
poll=投票
addPoll=發佈投票
pollTitle=投票主題
pollNote=投票說明
option=選項
addOneOption=增加一項
deleteOneOption=刪除一項
singleChoice=單選
multiChoice=多選
pubPoll=發佈投票
effectiveDay=有效天數
dayTip=(0表示不限制天數，如果手動設置，則最多3650天)
otherRequirements=其他要求
isVisible=投票之後才可查看結果
isVoterOpen=投票人不公開
voter=投票人
voteTime=投票時間
pollType=投票類型

exPollItemNotFound=投票項不存在或被刪除
exVoted=你已經投過票
exPollOptions=請填寫投票選項
exPollMinTwoOptions=至少兩個投票選項
exPollMaxTwoOptions=至多20個投票選項
exPollMaxDay=有效天數最多10年

// post&topic
editPost=修改帖子
quoteReply=引用回復
expandTopic=本主題全部展開
wordLength=字數

currencyList=評分類型
currencyValue=評分值
currencyReason=評分原因

typeReward=請輸入希望給與的分數
rewardAvailable=本帖目前可用的分數

rewardTotal=本帖總共懸賞
rewardInfo=<span class="left10">已給:{0}</span> <span class="left10">可用</span>:<span id="Reward" class="red">{1}</span>
postedAt=發表於
onlyThisUser=只看該作者
postCount=帖子
userCreated=加入時間
lastLogin=最後登錄
sharePost=分享帖子

editTopic=編輯主題
addTopic=發佈主題
qNote=問題說明
rewardValue=懸賞分數
rewardTip=懸賞分越高，問題越受關注，越容易得到完善答案
submitPost=快速發佈
prevTopic=上一新主題
nextTopic=下一舊主題
replyTopic=快速回復主題

punish=處罰
encourage=獎勵
setCategory=設置分類
categoryIs=所屬分類
fontSize=大小
fontStyle=樣式
fontFamily=字體
strong=粗體
italic=斜體
underline=底線
plsSelectCategory=請選擇分類

addQuestion=懸賞提問
picked=精華
lastPost=最後發表
rank=排行
rankByReplies=回復排行
rankByViews=流覽排行
myPosts=我的帖子
myTopics=我的主題

adminPostMsgTitle=你的帖子 "{0}" 被 {1}
adminPostMsgBody=[事件] 你的帖子 {0} 被版主 {1}<br/>[發生時間] {2}<br/>[操作原因] {3}

exReadPermission=對不起，你的閱讀許可權不夠

category=分類

recentPostList=帖子一覽
recentTopicList=所有最新主題
allRecentPost=所有最新帖子

//---------------------------------------------------------------------

pSortStickyTopic=排序
cmdGlobalSticky=總置頂
cmdGlobalStickyUndo=取消總置頂
logGlobalSticky=總置頂
logGlobalUnSticky=取消總置頂
cmdSortTip=給置頂帖子重新排序
sortStickyTip=提示: 請點擊上升、下降的箭頭重新調整順序
sortLable=操作：上升/下降


sort=排序
sortReplied=回復時間
sortCreated=發佈時間
sortReplies=回復數量
sortViews=流覽次數

timeFilter=最近帖子
tAll=全部
tDay=一天
tDay2=兩天
tWeek=一周
tMonth=一個月
tMonth3=三個月
tMonth6=半年

// 附件
attachment=附件
attachmentsInfo=共有 {0} 個附件
exAttachmentView=對不起，你無權查看附件
uploadAttachment=上傳附件
uploadMax=最多{0}個
uploadNote=<li>圖片允許格式：jpg, jpeg, gif, png，單張圖片最大2M</li><li>非圖片檔請先壓縮，支持的壓縮格式：zip, 7z, rar</li><li>flash, rm, avi, mp3等影音檔請通過“發佈視頻”或“發佈音樂”功能專門上傳</li>
exDownload=非法下載
noThumb=無縮略圖
exAttrachment=附件不存在
downloadNeedLogin=系統提醒：您必須登錄之後才能查看附件
adminAttachment=管理附件
hitDownload=點擊下載

currentDownloadPermission=當前許可權：查看附件需要登錄
setDownloadPermission=設置查看附件的許可權
uploadNewAttachment=上傳新附件
attachmentNameOrDescription=名稱或簡介
attachmentAdmin=附件管理
addAttachment=添加附件
thumbPic=縮略圖
size=大小
downloads=下載次數
uploadAgain=重新上傳

downloadCondition=下載附件需要登錄
attachmentPermissionTip=只有登錄使用者才能查看附件


