

feedInfo={0} 評論了 {1} 的日誌 {2}
notificationInfo={0} 評論了你的日誌 {1}
pubInfo={0} 發表了新日誌 {1}
shareInfo={0} 分享了一篇日誌
notiShare={0} 分享了你的日誌 {1}

// code
blog_pub_button=發佈日誌
blog_edit_button=更新博客
blog_draft_button=保存草稿
blog_draft_info=本篇日誌目前處於草稿狀態，只有你自己才能查看。
blog_error_status=日誌狀態錯誤

data_status_normal=已經發佈
data_status_draft=草稿，尚未發佈
data_status_delete=已經被刪入回收站
data_deleted_info=該帖目前已經處於刪除狀態，\n如要操作，請設置正確的分類，並從回收站還原

draft=草稿

exSave=保存失敗
saveDraftOk=草稿保存成功，最後保存時間
saving=正在保存...

addCategory=添加分類
generateBook=生成電子書

// admin.apps.blog
blogAdmin=博客管理
newBlog=最新博客
recommendBlog=被推薦的博客
usersNewBlog=用戶最新博客文章
recommendBlogPost=被推薦的博客文章
unRecommend=取消推薦

// admin.blogroll
linkName=連結名稱
linkUrl=連結網址
addLink=添加友情連結
editLink=修改友情連結

// admin.layout
friendBlog=好友博客
myblog=我的博客
writeBlog=撰寫博客
blogCategory=博客分類
blogroll=博客連結

// admin.post
emptyTitleTip=建議填寫。如果不填，系統自動生成“年-月-日 日誌”格式的標題
tagTip=多個關鍵字之間用逗號分開。此項有利於好友分享和搜尋引擎優化
trackbackUrl=引用日誌的網址
trackbackTip=用於通知你所引用的日誌。每行輸入一個引用的網址
publog=發佈博客
saveDraft=存為草稿
autoSaveTip=每隔3分鐘自動保存
viewByFriend=按好友流覽

// admin.post.list
pickblog=加為精華
unpick=取消精華

// layout
newblogArticle=最新日誌
blogAllCount=日誌總數


blogTitle={0} 的博客

// main
blogUserRank=博客會員排名
blogSearch=博客搜索
quickSearch=快速搜索
pickedBlogger=推薦博客
rankByView=點擊排行
rankByComment=評論排行
allBlogPost=所有博客文章

// post.show
shareBlog=分享日誌


//--------------------------------------------------------------------
deleteCategoryTip=對不起，你先需要：<br/>1、將本分類下的 {0} 篇日誌轉移到其他分類；<br/>2、或者先徹底刪除這些日誌。


// settings
allowComment=允許評論
allowAnonymousComment=允許匿名評論
perPageBlogs=清單每頁顯示日誌數
listMode=清單顯示方式
fullMode=全文顯示
abstractMode=摘要顯示
stickyCount=置頂日誌數
newBlogCount=最新日誌數
newCommentCount=最新評論數
isShowStats=顯示統計資料
rssCount=RSS輸出數目
