
channel=頻道

rssAdmin=RSS管理
rssList=RSS列表

categoryAdmin=分類管理
sysCategory=系統分類

addChannel=添加頻道訂閱
editChannel=修改訂閱
mySubscription=我的訂閱
subscriptionAdmin=訂閱管理
allSubscription=全部訂閱

rssUrl=rss網址
subscriptionUrl=訂閱網址

updated=更新時間
oName=原名
customName=自訂名稱
editRssUrlTip=不支援直接修改RSS網址。若要修改，請先刪除本頻道，然後添加新的RSS
allRssList=網站所有RSS一覽
allNewPosts=最新訂閱日誌：全部
newPostList=最新訂閱日誌清單
subscriptionCount=訂閱此頻道人數

showSidebar=顯示側邊欄
closeSidebar=關閉側邊欄
