
myface=我的頭像
myprofile=我的信息
recentVisitor=最近訪客
mymicroblog=我的狀態
myfeed=我的動態
myblog=我的博客
feedback=留言板
myfriends=我的好友
myphoto=我的圖片

currentCover=當前封面
setCover=設為封面

columnNo=第 {0} 欄

postDetail=文章詳細

plsUpImg=請上傳圖片
exImgFound=圖片不存在
exDeleteImg=請先刪除相關的圖片
exRemoveSectionFirst=請先刪除或者移走本行全部區塊
exContentLink=內容和連結不能同時為空
exImgUrl=請填寫圖片網址
exVideoImgUrl=請填寫視頻的圖片網址
exVideoLink=請填寫視頻連結
exTalker=請填寫發言方

// admin

contentAdmin=內容管理
allPosts=所有文章
usersPosts=用戶發佈的文章

addSection=添加區塊
editSection=修改區塊
sectionName=區塊名稱
templateType=範本類型
dataSource=資料來源
customDataSource=由我手動添加數據
autoDataSource=使用自動資料來源

itsSection=所屬區塊

showSidebar=顯示側邊欄
adminView=管理介面
closeSidebar=關閉側邊欄
setPageStyle=設置頁面樣式
moreRowOp=更多佈局行操作

rowNo=第 {0} 行

addRow2=添加2列佈局行
addRow1=添加通欄佈局行
addRow3=添加3列佈局行
addRow4=添加4列佈局行
addRow5=添加5列佈局行
addRow6=添加6列佈局行
deleteRow=刪除本佈局行

areYouSure=確實要
allPublishedPosts=所有手動發佈的資料
setRowStyle=設置本行外觀
setColumnStyle=設置本欄外觀
addRss=添加RSS源
rssSectionTip=通過RSS展示其他網站內容

editStyleSection=修改外觀(區塊)
editStyleTitle=修改外觀(區塊標題)
editStyleContent=修改外觀(區塊內容)

combineSection=合併到區塊
removeSection=移除區塊

addContentSection=添加內容區塊
addMashupSection=添加聚合區塊
contentSectionTip=本區塊的內容由你手動添加、編輯、刪除等
mashupSectionTip=選擇網站的各種資料，並結合範本顯示
oneStep=1個步驟
threeStep=3個步驟

editBaseInfo=修改基本資訊
deleteSection=刪除區塊

addSection1=第一步：選擇資料來源
addSection2=第二步：選擇範本
addSection3=第三步：設置基本資訊

plsSelectDataSource=請選擇資料來源
nextStep=下一步
prevStep=上一步
moreLink=“更多...”連結至

pageStyleSetting=請設置頁面樣式
styleEditTip=(你必須瞭解css樣式表)
styleCodeExample=代碼示例

applyStyle=應用樣式

styleTip1=說明:第1行第1列的寬度60%
styleTip2=說明:第1行第2列的寬度40%
styleTip3=說明:第2行第1列的寬度30%

rssUrl=RSS網址
rssCount=顯示數量
rssName=取個名稱

combineTo=將本區塊合併到

sectionMoreLinkTip=可以不填寫。如果不填寫，系統自動生成連結。字元"#"表示此處不用連結。

searchTitle=搜索標題

general=基礎功能
advanced=高級選項

// admin.section.img

size=大小
width=寬度
height=高度

editUploadPicTip=上傳之後，要想保存結果，必須點擊下面按鈕
uploadPicNote=圖片可以設置得比需要的尺寸稍大一點

addPics=添加系列圖
addPic=添加圖片

picUrl=圖片網址

pic=圖片
picDescription=設置圖片簡介
uploadPics=圖片清單上傳
uploadPic=上傳圖片
deletePic=刪除圖片
uploadPicTip=上傳圖片(可多次進行)

allPic=所有圖片

editPics=修改系列圖
editPicsInfo=修改資訊

adminListing=列表管理

// admin.section.list
addData=新建數據
editData=修改資料
srcUrl=來源網址
picUrlTip=如果是圖片新聞請填寫
titleStyle=標題樣式
submitData=發佈新數據
cssRequired=請輸入CSS

addPost=添加列表項

addText=添加文本
addPicPost=添加圖片文章

addTalk=添加言論
talkContent=言論內容
talker=言論人
talkContentTip=請填寫言論內容
talkTip=請填寫言論人或言論說明
talkSrcTip=請填寫言論的來源網址

addVideo=添加視頻
videoLink=視頻連結
editVideo=修改視頻
allVideo=所有視頻
addVideoUrlValid=請填寫視頻的網址
addVideoPicValid=請填寫視頻的圖片的網址

listCount=列表數

noTitle=無標題

// layout
postRank=文章排行
picRank=圖文排行
videoRank=視頻排行

// poll
poll=投票
addPoll=發佈投票
pollTitle=投票主題
pollNote=投票說明
option=選項
addOneOption=增加一項
deleteOneOption=刪除一項
singleChoice=單選
multiChoice=多選
pubPoll=發佈投票
effectiveDay=有效天數
dayTip=(0表示不限制天數，如果手動設置，則最多3650天)
otherRequirements=其他要求
isVisible=投票之後才可查看結果
isVoterOpen=投票人不公開
voter=投票人
voteTime=投票時間
pollType=投票類型

pollDone=投票成功
voterCount=目前參加投票人數

exPollItemNotFound=投票項不存在或被刪除
exVoted=你已經投過票
exPollOptions=請填寫投票選項
exPollMinTwoOptions=至少兩個投票選項
exPollMaxTwoOptions=至多20個投票選項
exPollMaxDay=有效天數最多10年
exPollNotAdd=尚未添加投票
exUploadEmpty=不能上傳空檔

addPollTip=說明：投票添加之後不可修改，只能刪除。

// attachment
attachment=附件
attachmentsInfo=共有 {0} 個附件
exAttachmentView=對不起，你無權查看附件
uploadAttachment=上傳附件
uploadMax=最多{0}個
uploadNote=<li>圖片允許格式：jpg, jpeg, gif, png，單張圖片最大2M</li><li>非圖片檔請先壓縮，支持的壓縮格式：zip, 7z, rar</li><li>flash, rm, avi, mp3等影音檔請通過“發佈視頻”或“發佈音樂”功能專門上傳</li>
exDownload=非法下載
noThumb=無縮略圖
exAttrachment=附件不存在
downloadNeedLogin=系統提醒：您必須登錄之後才能查看附件
adminAttachment=管理附件
hitDownload=點擊下載

currentDownloadPermission=當前許可權：查看附件需要登錄
setDownloadPermission=設置查看附件的許可權
uploadNewAttachment=上傳新附件
attachmentNameOrDescription=名稱或簡介
attachmentAdmin=附件管理
addAttachment=添加附件
thumbPic=縮略圖
size=大小
downloads=下載次數
uploadAgain=重新上傳

downloadCondition=下載附件需要登錄
attachmentPermissionTip=只有登錄使用者才能查看附件

returnPortalLayout=返回佈局介面

// settings
allowComment=允許評論
allowAnonymousComment=允許匿名評論
listPostPerPage=文章列表每頁條數
listPicPerPage=圖片清單每頁條數
listVideoPerPage=視頻清單每頁條數
rankPosts=熱門文章數量
rankPics=熱門圖片數量
rankVideos=熱門視頻數量

editEffect=設置特效

editTemplate=修改範本
