
// 网址后缀名，比如 ashx aspx 等；
// 如果不想使用后缀名，请留空，同时需要修改IIS设置
urlExt : aspx

// 视图(模板)文件的后缀名
viewsExt : html

// js版本号
jsVersion : 0069

// css版本号
cssVersion : 0069

// 视图(模板)文件在框架下的目录
viewsDir : views

// 是否缓存视图模板。
// 开发模式下请勿缓存(false)；正式部署之时请缓存(true)
isCacheView : true

// 是否开启整页缓存功能
isPageCache : true

// 是否开启action缓存功能
isActionCache : true

// 是否解析appId
isParseAppId : true

// 静态文件所在的二级域名
staticDomain : 

// 是否启用域名映射
isDomainMap : false

// 二级域名通配符对应的 owner 类型
subdomainWildcardType : wojilu.Members.Users.Domain.User

// 控制器所在的根命名空间；
// 多个 namespace 之间用英文逗号隔开
rootNamespace : wojilu.Web.Controller

// mvc过滤器的type名称
filter : wojilu.Web.Context.ContextInit, wojilu.Web.Controller.RenderHelper

// 发生未知错误时给客户端的错误码
noLogError : 404
