{ 
    ConnectionStringTable:{
        // 数据库连接字符串 
        // default:"server=localhost;uid=用户名;pwd=你的密码;database=数据库名称;"
        // default:"Provider=Microsoft.Jet.OLEDB.4.0;Data Source=数据库名称.mdb"
        default:"Provider=Microsoft.Jet.OLEDB.4.0;Data Source=wojilu_db_20135839409877.mdb"
     }, 
     
    DbType:{
        // 根据不同的数据库，你可以选填：sqlserver/sqlserver2000/access/mysql 四种之一
        default:"access"
     }, 
     
    AssemblyList : ["wojilu.Core","wojilu.Apps","wojilu.Apps.Download"],

    // 是否启用二级二级缓存
    ApplicationCache:true,
    
    // 二级缓存的过期时间，如果想永久性缓存，请填写-999
    ApplicationCacheMinutes:-999

 }
