{
    ConnectionStringTable : {
        // default:"server=localhost;uid=用户名;pwd=你的密码;database=数据库名称;"
        default:"Provider=Microsoft.Jet.OLEDB.4.0;Data Source=wojilu.mdb",
        //feeddb:"server=127.0.0.1;uid=sa;pwd=123456;database=aaaatest;"
    },
    
    DbType : {
        // 根据不同的数据库，你可以选填：sqlserver/sqlserver2000/access/mysql 四种之一
        default:"access"
        //feeddb:"sqlserver"
    },
    
    Mapping:[
        //{ name:"wojilu.Apps.Reader.Domain.FeedSource", database:"feeddb" },
        //{ name:"wojilu.Apps.Reader.Domain.FeedEntry", database:"feeddb" }
    ],
    
    // 是否启用二级二级缓存
    ApplicationCache:true,
    
    // 二级缓存的过期时间，如果想永久性缓存，请填写-999
    ApplicationCacheMinutes:-999,
    ApplicationCacheManager:"",
    
    AssemblyList : ["wojilu.Core","wojilu.Apps","wojilu.Apps.Download"],

    Interceptor:[ 
    ]


}
