default;default:{controller=SiteInit}
//default;default:{owner=userUrl,ownertype=user}
login;default:{ownertype=site,owner=site,controller=Main,action=Login}
t;default:{ownertype=site,owner=site,controller=Microblogs.Main,action=Index}

// 除了以上的，单path都映射到下面这个路由
{owner};default:{ownertype=user,controller=Users.Profile,action=Main}

//-----------------------------------------------------------------------------------

t/{owner};default:{ownertype=user,controller=Microblogs.Microblog,action=List}
t/{owner}/{page};default:{ownertype=user,controller=Microblogs.Microblog,action=List}

tag/index;default:{ownertype=site,owner=site,controller=_.Tag,action=Index}
tag/{query};default:{ownertype=site,owner=site,controller=_.Tag,action=Show}
tag/{query}/{page};default:{ownertype=site,owner=site,controller=_.Tag,action=Show}

//-----------------------------------------------------------------------------------

photo/main/index;default:{controller=Photo.Main,action=Index}

photo/home;default:{controller=Photo.Wf.Home,action=Index}
photo/home/{page};default:{controller=Photo.Wf.Home,action=Index}
photo/post/{id};default:{controller=Photo.Wf.Home,action=Post}

photo/hot;default:{controller=Photo.Wf.Home,action=Hot}
photo/hot/{page};default:{controller=Photo.Wf.Home,action=Hot}

photo/pick;default:{controller=Photo.Wf.Home,action=Pick}
photo/pick/{page};default:{controller=Photo.Wf.Home,action=Pick}

photo/category/{id};default:{controller=Photo.Wf.Home,action=Category}
photo/category/{id}/{page};default:{controller=Photo.Wf.Home,action=Category}

photo/albums/{user};default:{controller=Photo.Wf.UserHome,action=Album}
photo/album/{user}/{id};default:{controller=Photo.Wf.UserHome,action=Category}
photo/album/{user}/{id}/{page};default:{controller=Photo.Wf.UserHome,action=Category}
photo/like/{user};default:{controller=Photo.Wf.UserHome,action=Like}
photo/like/{user}/{page};default:{controller=Photo.Wf.UserHome,action=Like}
photo/follower/{user};default:{controller=Photo.Wf.UserHome,action=Follower}
photo/{user};default:{controller=Photo.Wf.UserHome,action=Index}
photo/{user}/{page};default:{controller=Photo.Wf.UserHome,action=Index}

//-----------------------------------------------------------------------------------

~/{controller}/{id};requirements:{id=int}
~/{controller}/{action};requirements:{controller=letter,action=letter}
~/{controller}/{id}/{action};requirements:{controller=letter,id=int,action=letter}
~/{controller}/{action}/{page};requirements:{controller=letter,action=letter,page=page}
~/{controller}/{id}/{page};requirements:{controller=letter,id=int,page=page}
~/{controller}/{id}/{action}/{page};requirements:{controller=letter,id=int,action=letter,page=page}
