//--------------------基本信息---------------------------------

SiteName : 我记录
SiteUrl : www.wojilu.com
SiteLogo : 

Webmaster : 我记录
Email : 
Copyright : 

Keywords : 
Description : 
PageDefaultTitle : 我记录欢迎您

UserTemplateId : 1

IsClose : False
CloseReason : 系统维护中，网站暂停一天，谢谢访问。
IsInstall : False

//--------------------mail/smtp---------------------------------

SmtpUrl : localhost
SmtpUser : abc@abc.com
SmtpPwd : aaaa
SmtpEnableSsl : False

//--------------------用户信息---------------------------------

UserNameLengthMin : 2
UserNameLengthMax : 20

EnableUserSpace : False
ShowSexyInfoInProfile : false

LoginNeedImgValidation : False
RegisterNeedImgValidateion : True

SystemMsgTitle : 欢迎您注册“我记录”网站！
SystemMsgContent : 欢迎光临！<img src="/static/js/editor/skin/em/002.gif"><br>

ReservedUserName : 孙中山/孙悟空
ReservedUserUrl : sunwen/wukong

ReservedKey : default/index/login/logout/register/note/ajax/msg/css/js/img/image/pic/picture/static/data/help/bin/config/lang/log/cache/views/user/install/plugin/tmp/api/upgrade/blog/photo/bbs/forum/community/news/wiki/shop/template/theme/skin/space/hi/book/test/soft/game/product/project/safe/server/student/pc/nb/notebook/mobile/dc/dv/cpu/digital/group/file/editor/media/doc/lib/tag/site/share/feed/friend/guide/wall/notice/city/menu/nav/sitemap/common/music/video/mp3/mp4/movie/windows/oa/crm/erp/price/app/rss/atom/download/comment/review/post/topic/commpany/update/ask/question/service/job/search

//-----------------------字词过滤------------------------------

BadWords : 
BadWordsReplacement : *****

//------------------------头像和图片-----------------------------

AvatarThumb : s=width:48|height:48|mode:cut, sx=width:100|height:100|mode:cut, m=width:200|height:200|mode:cut
PhotoThumb : s=width:75|height:75|mode:cut, sx=width:170|height:170|mode:x, m=width:600|height:600|mode:auto, b=width:1024|height:1024|mode:auto

UploadFileTypes : 7z/zip/rar/doc/docx
UploadPicTypes : jpg/gif/png/bmp/jpeg

//-------------------------程序(feed)----------------------------

FeedKeepDay : 0
LastFeedClearTime : 2011-10-18 13:39:06

//---------------------------程序信息(不可自动配置)--------------------------------

NoRefreshSecond : 5

Spider : spider/Slurp/sogou/youdao/google/cuil/robot/msnbot/crawler/CollapsarDEEP/wget/YandexBot/qihoobot/MJ12bot/ApacheBench/Nutch/pirst/Tagoobot/bingbot/CollapsarTEXT

MaxOnline : 7101
MaxOnlineTime : 2010-8-1 20:01:53
SkinId : 1


StatsJs : 
StatsEnabled : True
NeedLogin : False
RegisterType : 0
EnableEmail : False
CloseComment : False
ValidationType : 0
ValidationLength : 6
ValidationChineseLength : 2
UserInitApp : home,blog,photo,microblog,friend,visitor,forumpost,about,feedback
MicroblogContentMax : 140
MicroblogPageSize : 35
UploadPicMaxMB : 5
UploadFileMaxMB : 50
AlertActivation : True
AlertUserPic : True
LoginType : 0
UserSendConfirmEmailInterval : 3
TopNavDisplay : 0
UserNeedApprove : False
UserDescriptionMin : 0
UserDescriptionMax : 500
UserSignatureMin : 0
UserSignatureMax : 200
PublishTimeAfterReg : 0
UserPageKeywords : 
UserPageDescription : 
