

<div class="">


    <div style="margin:30px;">
    <form method="post" action="#{ActionLink}" class="ajaxPostForm">
    
    
        <table cellpadding="3">
            <tr>
                <td>
                    每条微博最多字数</td>
                        <td>
            <input id="Text1" name="contentMax" type="text" value="#{contentMax}" /></td>
                    </tr>
                    <tr>
                        <td>
                            每页显示微博数量</td>
                        <td>
            <input id="Text2" name="pageSize" type="text" value="#{pageSize}" /></td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;</td>
                        <td>
                            <input id="Submit1" type="submit" value="_{submit}" class="btn" /></td>
                    </tr>
                </table>
        
    </form>
    </div>



</div>


