
#{blog.SaveStatus}
<div class="blogMain">
    <div style="float:left;">
	<h4 class="blogTitle">#{blog.Title}</h4>
	<div class="note">_{view}: #{blog.Hits} <span class="left10">#{blog.Replies}</span> <span class="left10">#{blog.TagList}</span></div>
	
	<div class="blogBody clearBoth">#{blog.Body}</div>
	<div class="blogInfo floatLeft"> #{blog.Author} #{blog.CreateTime}</div>
    </div>
    <div class="clear"></div>
	
	<div style=" margin:10px 5px;border:1px #ccc solid; background:#fff; padding:3px 10px;" class="shareCmd" ></div>
	
	#{visitorList}	
	#{commentSection}
</div>

<script>
$(document).ready( function() {
wojilu.tool.shareFull();
});
</script>
