<style type="text/css">
#postContainer {background:#eee;}
</style>

<div style="clear:both"></div>
<div id="postContainer">

    <div style="padding:30px;">

			<form action="#{ActionLink}" method="post" class="ajaxPostForm">
				<table style="width: 100%">
					<tr>
						<td style="width:80px;">_{pageTitle}</td>
						<td>
						<input name="Title" style="width: 500px;" type="text" value="" placeholder="请填写标题" />
                        <span class="valid"></span></td>
					</tr>
					<tr>
						<td>_{content}</td>
						<td>#{Editor}</td>
					</tr>
					<tr>
					    <td>编辑原因</td>
					    <td>
                            <input name="editReason" type="text" style="width:500px;" value="创建页面" />
                            <span class="valid"></span></td>
					</tr>
					<tr>
						<td></td>
						<td>
                        <button class="btn btn-primary" type="submit">
                            <i class="icon-pencil icon-white"></i>
                            _{editPage}
                        </button>

						<input class="btnReturn btn" type="button" value="_{return}" />
						</td>
					</tr>
				</table>
			</form>
			
		</div>
</div>

<script>
$(document).ready( function() {
    wojilu.ui.pageReturn();
    wojilu.ui.tip();
    wojilu.ui.valid();
    wojilu.ui.ajaxPostForm();

});
</script>