
<style type="text/css">

#postContainer {background:#eee;}

#postSidebar{	float:left; width:230px;  }
	#postSidebar h4 {margin:20px;}
	#postSidebar div {margin:5px 20px;}

#postMain{margin:0px; padding:10px 10px 30px 10px; background:#fff;}

	#postMain h4.postTitle{	font-size:18px; font-family:微软雅黑, Calibri; margin:5px; text-align:center}
	#postMain .postInfo {	margin:5px 5px 10px 5px;font-size:12px;color:#666;  text-align:center}
	#postMain .postContent {	margin:5px 5px 5px 5px;}

#versionTable td { border-bottom:1px #ccc solid;}
</style>

<div style="clear:both"></div>
<div id="postContainer">

	<!-- BEGIN sidebar -->
	<div id="postSidebar">
		<h4>#{category.Name}</h4>
		<div>#{addCmd}</div>
		#{tree}
				
	</div>
	<style>#postMain {margin-left:230px; padding-bottom:60px;}</style>
	<!-- END sidebar -->

	<div id="postMain">
<div style ="margin:20px 20px;">
<div style="background:#eee; padding:5px;">版本历史列表</div>
<div style="margin:10px;">
<span style="font-size:18px; font-weight:bold;">#{pageTitle}</span>
<span style="font-size:12px; margin-left:5px; color:#666;">共被编辑 #{editCount} 次</span>
<a href="#{pageLink}" style="margin-left:15px;">返回最新版本</a>
</div>
<table id="versionTable" style="width:500px; margin:10px;" cellspacing="0" cellpadding="5">
    <tr style="font-weight:bold;">
        <td>
            更新时间</td>
        <td>
            版本</td>
        <td>
            贡献者</td>
        <td>
            修改原因</td>
    </tr>
    <!-- BEGIN list -->
    <tr>
        <td>#{p.Updated}</td>
        <td><a href="#{p.VersionUrl}">查看</a></td>
        <td><a href="#{p.EditorUrl}" target="_blank">#{p.EditorName}</a></td>
        <td>#{p.EditReason}&nbsp;</td>
    </tr><!-- END list -->
</table>
<div style="margin:10px; height:200px;">#{page}</div>
</div>
	</div>
	
	<div style="clear:both"></div>
</div>
<div style="clear:both"></div>

<script type="text/javascript">
<!--
$(document).ready( function() {
	wojilu.ui.tree();
	
	
});
//-->
</script>


