#group-page-wrap {background:url(body-bg.jpg);padding:0px 10px; }
#group-page {width:960px; margin:auto; box-shadow:0px 5px 30px #aaa;}

#group-header-wrap {background:url(header-bg.jpg); }

    #group-header { height:250px; }

    #group-header-info {height:155px; background:#f2f2f2;}
        #group-logo-wrap {width:200px; height:260px; background:#fff; margin-top:-130px; border:1px solid #aaa; padding:5px; box-shadow:0px 0px 10px #aaa;}
            #group-logo-pic {width:200px; height:200px;}
            #group-logo-info { text-align:center; margin-top:10px; color:#666;}

        #group-meta-wrap {margin-left:55px; margin-top:0px;  height:110px;}

            #group-meta-top {height:108px; *height:118px; margin-top:0px;}
                #group-name { font-size:22px; font-weight:bold;}

            /*导航*/
            #group-nav {margin-left:20px;height:35px;}
            #group-nav li { float:left; margin-right:0px; font-size:16px; display:block; padding:10px 20px;}
                .current-group-menu { background:#fff;}
                .current-group-menu a { color:#666; font-weight:bold;}

.forum-location { display:none;}

 /*页脚*/
#group-footer-wrap {margin: auto; }
#group-footer { text-align:center;padding:20px ; }
