

#groupPageWrap {background:url(body-bg.gif);padding:0px 10px; }
#groupPage {}

#groupNavWrap {border:0px;background:url(groupNavBg.gif) no-repeat; height:48px;}
#groupNavWrap a {color:#404040; font-weight:bold;}

