

<form method="post" action="#{ActionLink}" class="ajaxPostForm">
    <table style="width:300px;margin:15px auto;" border="0">
        <tr><td style="text-align:right;">用户名：</td><td><input name="user.Name" type="text" style="width:150px;" /></td></tr>
        <tr><td style="text-align:right;">密  码：</td><td><input name="user.Pwd" type="password" style="width:150px;" /></td></tr>
        <tr><td colspan="2" style="text-align:center;"><input type="submit" value="添加用户" class="btn" /> <input type="button" class="btnCancel" value="取消" /></td></tr>
    </table>
</form>




