{
    ConnectionStringTable:{
        //default:"server=localhost;uid=sa;pwd=123456;database=wojiluOrmTest;"
        default:"Provider=Microsoft.Jet.OLEDB.4.0;Data Source=wojiluTest.mdb"
        //default:"server=localhost;user=root;password=;database=atest;port=3306;Charset=utf8"
    },

    DbType:{
        // 根据不同的数据库，你可以选填：sqlserver/sqlserver2000/access/mysql 四种之一
        //default:"sqlserver"
        default:"access"
        //default:"mysql"
    },

    // 实体键值类型
    //IdType: "Auto",
    //IdType: "Int",

    AssemblyList:[ "wojilu.Test" ],

    IsCheckDatabase:true,
    TablePrefix:"",
    ContextCache:false,

    //ApplicationCache:false,
    //ApplicationCacheMinutes : 0,

    ApplicationCache:true,
    ApplicationCacheMinutes : 5,

    MetaDLL:"",

    Mapping:[ ],

    Interceptor:[
        // { AssemblyName:"wojilu.Test", TypeFullName:"wojilu.Test.Orm.MyTestInterceptor1" },
        // { AssemblyName:"wojilu.Test", TypeFullName:"wojilu.Test.Orm.MyTestInterceptor2" }
    ]
}
