<div style="">#{layout_content}</div>

<script>
$(document).ready( function() {
    $('#tagForm').submit( function() {
    
        var ext = wojilu.str.getExt( location.href );
    
        var txtTag = $('#txtTag').val();
        if( !txtTag ) {
            alert( '«Î ‰»Îtag' );
            return false;
        }
        
        window.location.href = '/tag/'+txtTag+ext;
        
        return false;    
    });
});
</script>

<div id="tempie6" ></div>
<script>
$(document).ready( function() {
    $('#tempie6').html( '');    
});
</script>
