<div style="padding:30px;margin:20px; background:#f2f2f2; ">

    <div class="menuMore" list="myMenu" style="border:1px #aaa solid; width:100px;">
        <div style="padding:5px 10px;">默认菜单 <img src="~img/down.gif" /></div>
        <ul id="myMenu" class="menuItems">
        <li>菜单1</li>
        <li>菜单2</li>
        <li>菜单3</li>
        <li>菜单4</li>
        <li>菜单5</li>
        </ul>
    </div>

    <div>这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的
    </div>


</div>


<div style="padding:30px;margin:20px; background:#f2f2f2; ">

    <div style="position:relative; width:100px; " id="myLink">
        <div style="border:1px #aaa solid; width:100px; height:28px; background:#fff; cursor:pointer;" id=""><div style="padding:5px 10px;">菜单原理1 <img src="~img/down.gif" /></div></div>
        <div id="dropPanel" style=" position:absolute; display:none; top:28px; left:0px; border:1px #aaa solid; width:200px; background:#fff ">
            <div style="border-top:0px; margin-top:-1px; width:100px; height:1px; background:#fff;"></div>
            <div style="padding:10px;">这是一段文字</div>
        </div>
    </div>
    
    <div>这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的
    </div>

</div>

<div style="padding:30px;margin:20px; background:#f2f2f2; ">

    <div class="wMenu" list="myMenuList" style="border:1px #aaa solid; width:100px;">
        <div style="padding:5px 10px;">菜单原理2 <img src="~img/down.gif" /></div>
        <ul id="myMenuList" class="menuItems">
        <li>菜单1</li>
        <li>菜单2</li>
        <li>菜单3</li>
        <li>菜单4</li>
        <li>菜单5</li>
        </ul>
    </div>

    <div>这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的文字这里是大量的
    </div>


</div>

<script>
$( document ).ready( function() {

    // 菜单原理1
    $('#myLink').hover( 
        function() {
            $('#dropPanel').show();
        },
        function() {
            $('#dropPanel').hide();
        }
        
    );

    // 菜单原理2
    $('.wMenu').hover(
        function() {
            var mx = $(this).height();
            $(this).css( 'position', 'relative' );
            $( '#'+ $(this).attr( 'list' ) ).css( 'position', 'absolute' ).css( 'top', mx+'px' ).css( 'left', 0 ).slideDown('fast');
        },
        function() {
            $( '#'+ $(this).attr( 'list' ) ).slideUp();
        }    
    );

    
});

</script>
