<div>
    <div class="adminMainTitle"><div class="adminSidebarTitleInternal">添加文章</div></div>

    <div class="adminMainPanel">
    
    <div class="formPanel">
        <form method="post" action="#{ActionLink}">
        <table style="width:98%;">
            <tr><td style="width:80px;">标题：</td><td>
            <input name="article.Title" type="text" class="tipInput" tip="请填写标题，5-15个字符" style="width:450px;" />
            <span class="valid" msg="请填写标题" rule="^.{5,15}$" mode="border"></span>
            </td></tr>
            <tr><td>所属分类：</td><td>#{categoryId}</td></tr>
            <tr><td>内容：</td><td>


        <script type="text/plain"  id="article.Content" name="article.Content"></script>
        <script>_run(function () { wojilu.editor.bind('article.Content').height(280).line(2).show(); });</script>
        <span class="valid border" to="article.Content"></span>


            </td></tr>
            <tr><td></td><td><input type="submit" value="添加文章" class="btn" /></td></tr>
        </table>
        

        </form>
</div>

</div>
</div>


