
<div id="adminTool" class="appAdminTool" style="padding:0px;display:none;">
    <div class="admin-menu-wrap clearfix alert">
        <div class="admin-pointer">            
            <span class="btn btn-primary">
                图片管理 <i class="icon-hand-right icon-white"></i>
            </span>
        </div>

        <ul class="admin-menu unstyled">	
            <li><a href="#{friendsPhotoLink}" class="frmLink" loadTo="photo-main-wrap" nolayout=3>:{friendsPhoto}</a></li>
            <li><a href="#{myLink}" class="frmLink" loadTo="photo-main-wrap" nolayout=3>:{myphoto}</a></li>
            <li><a href="#{uploadLink}" class="frmLink" loadTo="photo-main-wrap" nolayout=3><img src="~img/s/upload.png" /> _{upload}</a></li>
            <li><a href="#{categoryAdmin}" class="frmLink" loadTo="photo-main-wrap" nolayout=3>:{albumAdmin}</a></li>
        </ul>

    </div>
</div>


<div>
<div id="photo-main-wrap" style="margin:0px 10px 0px 30px;">


	
    <div class="appMain">
	    <div class="appMainContainer" id="appMainContainer">
		    #{layout_content}
	    </div>
    </div>

    <div class="sideBar" id="photoSidebar">
	    <div class="sideBarContainer" style="margin:0px;border:0px red solid; padding:10px 10px 10px 0px;  margin-bottom:20px;">
	
		    <div class="sideBarPanel" style="display:none;">
			    <div class="sideBarTitle" style=" margin-bottom:15px; font-size:20px; background1:#f2f2f2;">_{album}</div>
			    <ul class="sideBarList" style="margin-right:20px;">
				    <!-- BEGIN list --><li style="text-align:center;margin-bottom:10px;"><a href="#{category.Url}" style="color:#666;"><img src="#{category.Cover}" style="width:120px;" /><br />#{category.Title}</a></li><!-- END list -->
			    </ul>
		    </div>
		
		    <div class="sideBarPanel">
			    <div class="sideBarTitle" style=" background:#f2f2f2;margin-top:15px; padding:5px;">_{newComment}</div>
			    <ul class="sideBarList">
				    <!-- BEGIN comment --><li><a href="#{comment.Url}">#{comment.Title}</a></li><!-- END comment -->
				    <li class="sideBarMore">#{commentMoreLink}</li>
			    </ul>			
		    </div>	
	
	    </div>
    </div>
    <div class="clear"></div>

</div>
</div>

<script>
_run(function () {

    $('.admin-menu li').click(function () {
        $('.admin-menu li').removeClass('admin-menu-current');
        $(this).addClass('admin-menu-current');
    });

    var showAdminTool = function() {
        if( typeof(ctx) == 'undefined' ) return;
        if( ctx.viewer.IsLogin && ctx.viewerOwnerSame  ) {
            $('#adminTool').show();
        }
    };
    
    wojilu.site.load( showAdminTool );

    wojilu.ui.frmLink();
});
</script>