
<ul class="excerpt">
<!-- BEGIN list -->
<li class="clearfix">

    <table style=" width:100%;">
        <tr>
            <td class="epFace"><a href="#{d.CreatorLink}" target="_blank"><img src="#{d.CreatorPic}"/></a></td>
            <td style=" vertical-align:top;">
    <!-- BEGIN titleAndContent -->
	<div class="epTitle">
        <a href="#{d.CreatorLink}" target="_blank">#{d.CreatorName}</a>：
        <a href="#{d.Link}" target="_blank">#{d.Title}</a>
    </div>
	<div class="epContent">
        <div>#{d.Content}</div>
        <div class="note">#{d.Created}</div>
    </div>
    <!-- END titleAndContent -->


    <!-- BEGIN onlyTitle -->
	<div class="epContent">
        <div>
        
            <a href="#{d.CreatorLink}" target="_blank">#{d.CreatorName}</a>：
            <span class="epOnlyTitle">#{d.Title}</span>
        
        </div>
        <div class="note">#{d.Created}</div>
    </div>
    <!-- END onlyTitle -->
            
            </td>
        </tr>    
    </table>


</li>
<!-- END list -->
</ul>

