<div class="focusSectionInner" style="padding:18px 6px 0px 6px; ">
    <!-- BEGIN focus -->
    <div style="font-size:18px; font-weight:bold;font-family: Microsoft YaHei,SimHei; text-align:center;"><a href="#{article.Url}" target="_blank" style="color:#c00;">#{article.Title}</a></div>
    <div style="font-size:12px; margin:10px 0px 10px 0px; color:#666;"><span style="margin-right:10px;">&nbsp;</span>#{article.SummaryInfo}<span class="left5"><a href="#{article.Url}" target="_blank">[查看全文]</a></span></div><!-- END focus -->

    <ul class="ulLR unstyled nlist" style="margin:5px 10px 0px 5px;"><!-- BEGIN list -->
        <li style="height:20px; border-bottom:0px red solid;">
        <div class="leftTitle"><a href="#{post.Url}" target="_blank">#{post.Title}#{post.DataIcon}</a> </div>
        <div class="rightInfo" style="font-size:12px; color:#999; ">#{post.Created}</div>
        </li><!-- END list -->
    </ul>
    <div class="clear"></div>

</div>