<div style="padding:10px 6px;">
    <!-- BEGIN focus -->
    <div style="font-size:18px; font-weight:bold; text-align:center;"><a href="#{article.Url}" target="_blank">#{article.Title}</a></div>
    <div style="font-size:12px; margin:5px 0px; color:#666;"><span style="margin-right:22px;">&nbsp;</span>#{article.SummaryInfo}<span class="left5"><a href="#{article.Url}" target="_blank">[查看全文]</a></span></div><!-- END focus -->

    <ul class="ulLR"><!-- BEGIN list -->
        <li style="height:20px; border-bottom:0px red solid;">
        <div class="leftTitle"><a href="#{post.Url}" target="_blank">#{post.Title}#{post.DataIcon}</a> </div>
        <div class="note rightInfo" style="font-size:11px; ">#{post.Created}</div>
        </li><!-- END list -->
    </ul>
    <div class="clear"></div>

</div>