<div id="commentWrap">

<style>
    .commentPublishTableWrap { width: 85%;background:#f2f2f2;margin:10px 10px 10px 15px; padding:10px; border-radius:5px; box-shadow:0px 0px 8px #aaa; }
    .commentPublishTable { width:98%; }
.commentItem {width:100%; margin: 8px; border-bottom: 1px #ccc solid;padding-bottom:10px;}
.fL { float: left; }
.commentItem img { border-radius:4px;}

.cmUserFace {width:50px;padding-top:3px; padding-right:10px; vertical-align:top; text-align:right;}
.cmItemMain {}

.replySubList td.cmItemMain {color:#666;}
</style>


    <div style="margin:15px;">
        <span style="font-size:16px;font-weight:bold;">评论列表</span> (共 <span id="replies"></span> 条)
        <a href="#{deleteAllLink}" class="left10 ajaxDeleteCmd #{deleteAllHideClass}" removeId="commentListWrapInner"><img src="~img/delete.gif" /> 删除所有评论</a>    
    </div>
    <div id="commentFormWrap">
        <div class="commentFormInner">
        <!-- BEGIN loginForm -->
        <div class="commentPublishTableWrap">
        <table class="commentPublishTable">
            <tr>
                <td class="cmUserFaceInfo cmUserFace"></td>
                <td>
                    <div><textarea name="commentBody" style="width: 100%;height:60px;"></textarea></div>
                    <div style="margin-top:5px;"><input class="btnComment btn btns" type="button" value="_{submitComment}" /></div>
                </td>
            </tr>
        </table>
        </div>
        <!-- END loginForm -->
        <!-- BEGIN guestForm -->
        <div class="commentPublishTableWrap">
        <table class="commentPublishTable">
            <tr>
                <td style="width: 60px; ">_{userName}<span class="red strong">*</span></td>
                <td>
                    <input style="width: 120px" name="UserName" class="UserName" type="text" />
                </td>
                <td style="text-align:right;">
                    _{emailOrWebsite}
                    <input name="UserEmail" size="20" style="width: 150px;" type="text" />
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;">_{commentBody}<span class="red strong">*</span></td>
                <td colspan="2"><textarea name="commentBody" class="commentBody" style="width: 99%; height: 70px"></textarea></td>
            </tr>
            <tr style="display: none;" class="validationRow">
                <td>_{validationCode}<span class="red">*</span></td>
                <td colspan="2"> #{Captcha}</td></tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2"><div><input class="btnComment btn btns" type="button" value="_{submitComment}" /></div></td>
            </tr>
        </table>
        </div>
        <!-- END guestForm -->
        </div>
    </div>

    <div id="commentListWrap">
    <div id="commentListWrapInner">
        <!-- BEGIN list -->
        <table class="commentItem" id="commentItem#{c.Id}"><tr>
            <td class="cmUserFace">#{c.UserFace}</td>
            <td class="cmItemMain">
                <div><span class="strong">#{c.UserName}</span></div>
                <div style="color:#000;max-width:500px;">#{c.Content}</div>
                <div style="color:#666;margin-top:2px;">
                    (#{c.Created})  <span class="hide link left5">支持</span>
                    <span class="hide link left5">收藏</span>
                    <span class="link lnkReply left5" data-ParentId="#{c.Id}">回复</span>
                    <a href="#{c.DeleteLink}" class="ajaxDeleteCmd #{hideClass}" removeId="commentItem#{c.Id}">删除</a>
                    <span class="replyCount left5" data-ReplyCount="#{c.Replies}" data-MoreId="replyListMore#{c.Id}" data-ParentId="#{c.Id}" data-StartId="#{c.StartId}"></span>
                </div>
                <div class="replyFormWrap"></div>
                <div class="replySubList" id="replyListLine#{c.Id}" style="width:95%;">

                    <!-- BEGIN replyList -->
                    <table class="commentItem" id="commentItem#{c.Id}" style="width:99%;"><tr>
                        <td class="cmUserFace">#{c.UserFace}</td>
                        <td class="cmItemMain">
                            <div><span class="strong">#{c.UserName}</span></div>
                            <div id="replySubContent#{c.Id}" style="width:420px;">#{c.Content}</div>
                            <div style="color:#666;margin-top:2px;">(#{c.Created})  <span class="hide link left5">支持</span>
                            <span class="hide link left5">收藏</span>
                            <span class="link lnkSubReply left5" data-ParentId="#{c.ParentId}" data-AtId="#{c.Id}" data-Author="#{c.AuthorText}">回复</span>
                            <a href="#{c.DeleteLink}" class="ajaxDeleteCmd #{hideClass}" removeId="commentItem#{c.Id}">删除</a>
                            </div>
                        </td></tr>
                    </table>
                    <!-- END replyList -->
                    <div id="replyMoreWrap#{c.Id}"></div>
                    <div id="replyListMore#{c.Id}" class="link left15 moreLink"></div>

                </div>
                
            </td></tr>
        </table>
        <!-- END list -->
        </div>
    </div>
    <div>#{page}</div>
</div>
<script>

    var subReplyCount = #{subCacheSize}; // 子回复最多呈现的数量
    var loadingInfo = ' <span class="loadingInfo"><img src="' + wojilu.path.img + '/ajax/loading.gif"/> loading...</span>';

    var cmUserFace = "#{userFace}";
    var cmUserName = "#{userName}";

    // 一般评论后的“回复”命令
    $('.lnkReply').click(function () {

        var rformWrap = $('.replyFormWrap', $(this).parent().parent());
        var formInner = $('.commentFormInner', rformWrap);
        if (formInner.length > 0) {
            formInner.toggle();
        }
        else {
            var clonedForm = $('#commentFormWrap').clone();
            rformWrap.append(clonedForm);
            $('.btnComment', clonedForm).after('<input name="parentId" type="hidden" value="' + $(this).attr('data-ParentId') + '" />');
            bindSubmit();
        }
        return false;

    });

    // 子评论中的“回复”命令
    function bindSubReply() {
        
        $('.lnkSubReply').unbind('click').click(function () {

            var rformWrap = $('.replyFormWrap', $(this).parentsUntil('.replySubList').parent().parent());
            var formInner = $('.commentFormInner', rformWrap);

            var parentId = $(this).attr('data-ParentId');
            var atId = $(this).attr('data-AtId');
            var atAuthor = $(this).attr('data-Author');
            var atAuthorInfo = '';
            if (atAuthor != '') {
                atAuthorInfo = '@' + atAuthor + ': ';
            }

            var btnComment, txtBody;
            if (formInner.length <= 0) {
                var clonedForm = $('#commentFormWrap').clone();
                rformWrap.append(clonedForm);

                txtBody = $('textarea[name=commentBody]', clonedForm);            
                btnComment = $('.btnComment', clonedForm);
            }
            else {
                txtBody = $('textarea[name=commentBody]', formInner);
                btnComment = $('.btnComment', formInner);
                formInner.show();
            }

            btnComment
                .after('<input name="parentId" type="hidden" value="' + parentId + '" />')
                .after('<input name="atId" type="hidden" value="' + atId + '" />')
                .after('<input name="atAuthorInfo" type="hidden" value="' + atAuthorInfo + '" />');

            txtBody.focus().val(atAuthorInfo);

            bindSubmit();

            return false;
        });

    }

    bindSubReply();

    // “更多评论” 的视图逻辑处理
    function setReplyCount() {

        // 是否有更多评论(初始状态)
        var isMoreLink = false;

        // 处理每条评论
        $('.replyCount').each(function () {

            // 显示子回复数量
            var replies = $(this).attr('data-ReplyCount');
            if (replies > 0) $(this).text('(共' + replies + '条回复)');

            if (replies <= subReplyCount) return;

            // 显示更多评论按钮
            var moreCount = replies - subReplyCount;
            var parentId = $(this).attr('data-ParentId');
            var startId = $(this).attr('data-StartId');
            isMoreLink = true;

            $('#' + $(this).attr('data-MoreId'))
                .attr('data-MoreLink', '#{moreLink}')
                .attr('data-ParentId', parentId)
                .attr('data-StartId', startId)
                .attr('data-MoreCount', moreCount)
                .text('显示更多回复(还有' + moreCount + '条) »');            
        });

        if (isMoreLink == false) return;

        // 绑定更多回复点击事件
        $('.moreLink').unbind('click').click(function () {

            var thisCmd = $(this);

            var moreLink = thisCmd.attr('data-MoreLink');
            var parentId = thisCmd.attr('data-ParentId');
            var startId = thisCmd.attr('data-StartId');
            var moreCount = thisCmd.attr('data-MoreCount');

            var replyWrap = $('#replyMoreWrap' + parentId);
            replyWrap.append('<div style="padding:10px 50px;" class="loadingInfoWrap">' + loadingInfo + '</div>');

            $.post(moreLink, { 'parentId': parentId, 'startId': startId }, function (data) {

                var newStartId = appendMore(replyWrap, data, parentId);
                var restCount = moreCount - data.length;

                if (restCount <= 0) {
                    thisCmd.hide();
                }
                else {
                    thisCmd.attr('data-StartId', newStartId)
                        .attr('data-MoreCount', restCount)
                        .text('显示更多回复(还有' + restCount + '条) »');                    
                }

                $('.loadingInfoWrap', replyWrap).hide();

                bindSubReply();

            });
        });
    }

    // 显示更多回复
    function appendMore(replyWrap, data, parentId) {

        var moreItems = '';
        var newStartId = 0;
        for (var i = 0; i < data.length; i++) {

            moreItems += '    <table class="commentItem"><tr>' +
                '<td class="cmUserFace">' + data[i].UserFace + '</td>' +
                '<td class="cmItemMain">' +
                '    <div><span class="strong">' + data[i].UserName + '</span></div>' +
                '   <div>' + data[i].Content + '</div>' +
                '   <div><span class="note">' + data[i].Created + '</span><span class="link lnkSubReply left5" data-ParentId="'+parentId+'" data-AtId="'+data[i].Id+'" data-Author="'+data[i].AuthorText+'">回复</span></div>' +
                '   <div class="clear"></div>' +
                '</td></tr>' +
                '</table>';

            newStartId = data[i].Id;
        }

        replyWrap.append(moreItems);

        return newStartId;
    }

    // 添加回复之后，局部刷新到页面
    function appendComment (cmContent, parentId) {

        var item = '    <table class="commentItem"><tr>' +
            '<td class="cmUserFace">' + cmUserFace + '</td>' +
            '<td class="cmItemMain">' +
            '    <div><span class="strong">' + cmUserName + '</span></div>' +
            '   <div>' + cmContent + '</div>' +
            '   <div class="note">(刚刚发布) </div>' +
            '   <div class="clear"></div>' +
            '</td></tr>' +
            '</table>';

        if (parentId > 0) {
            $('#replyListLine' + parentId).prepend(item);
        }
        else {
            $('#commentListWrap').prepend(item);
        }
    };

    // loading 方法
    function loadBegin (ctxForm) {
        var btnSubmit = $('.btnComment', ctxForm);
        btnSubmit.attr('disabled', 'disabled').after(loadingInfo);
        return btnSubmit;
    };

    function loadEnd (btnSubmit) {
        $('.loadingInfo').html('');
        btnSubmit.attr('disabled', false);
    };

    // 提交评论到服务器
    var postComment = function (btnSubmit) {

        var ctxForm = btnSubmit.parentsUntil('.commentPublishTable');

        var vCode = $('input[name=ValidationText]', ctxForm).val();
        var userName = $('input[name=UserName]', ctxForm).val();
        if (userName) cmUserName = userName;
        var userEmail = $('input[name=UserEmail]', ctxForm).val();

        var txtCommentBody = $('textarea[name=commentBody]', ctxForm);
        var cmContent = txtCommentBody.val();

        var atAuthorInfo = $('input[name=atAuthorInfo]', ctxForm).val();
        if (cmContent == atAuthorInfo) {
            alert('请填写内容');
            return;
        }

        var parentId = $('input[name=parentId]', ctxForm).val();
        var atId = $('input[name=atId]', ctxForm).val();

        var postData = {
            UserName: userName,
            UserEmail: userEmail,
            Content: cmContent,
            ValidationText: vCode,
            ParentId: parentId,
            AtId: atId,
            url: '#{thisUrl}',
            dataTitle: '#{thisDataTitle}',
            dataType:'#{thisDataType}',
            dataUserId:#{thisDataUserId},
            dataId:#{thisDataId}
        };

        loadBegin(ctxForm);

        $.post('#{createLink}'.toAjax(), postData, function (data) {
            loadEnd(btnSubmit);
            if ('ok' == data) {
                appendComment(cmContent, parentId);
                txtCommentBody.val('');
            }
            else {
                alert(data.Msg);
            }
        });

    };

    // 验证码
    function showValidationImg() {
        var ctxForm = $(this).parentsUntil('.commentPublishTable');
        $('.validationRow', ctxForm).show();
    }

    // 提交评论
    function bindSubmit() {
        $('.btnComment').unbind('click').click(function () { postComment($(this)); return false; });
        $('.commentBody').focus(showValidationImg);
    }

    // 绑定提交事件；处理子评论列表；显示用户头像
    $(document).ready(function () {

        $('.cmUserFaceInfo').html(cmUserFace);

        bindSubmit();
        setReplyCount();

        var replies = #{cmCount};
        $('#replies').text( replies );
        $('#contentReplies', window.parent.document ).text( replies );

    });
</script>
