#{forumPath}

<div class="fbNotice" style="margin-top:10px;">
	<div>#{forumBoard.Notice}</div>
	<div>#{forumBoard.Moderator}</div>
 </div> 

#{toolbar}
<!-- BEGIN categoryPanel -->
<div id="psCategories">
<a href="#{boardLink}"><strong class="right10">_{all}</strong></a> <!-- BEGIN categories --><a href="#{c.LinkShow}" style="color:#{c.NameColor}" class="right10">#{c.Name}</a><!-- END categories -->
</div>
<!-- END categoryPanel -->

<div class="row">
<div class="span12">
<table id="forumPostList" class="table table-condensed forum-topic-list">

	<thead class="psHeader">
		<th style="width:5%">&nbsp;</th>
		<th style="width:55%;">_{title}</th>
		<th style="width:15%" class="center">_{author}</th>
		<th style="width:10%" class="center">_{reply}/_{view}</th>
		<th style="width:15%" class="center">:{lastPost}</th>
	</thead>
	
	<!-- BEGIN stickyList -->
	<tr class="psSticky">
		<td class="psStatus"><img src="~skin/apps/forum/#{stickyIconName}.gif" /></td>
		<td class="psTitle">
		<div><span class="chkAdmin">#{p.CheckBox}</span>
		<a href="#{p.Url}" style="#{p.TitleStyle}" target="_blank">#{p.Titile}</a> 
		<span style="vertical-align:middle">#{p.Attachments}</span> #{p.Pages}</div>
		</td>
		<td class="psAuthor"><a href="#{p.MemberUrl}">#{p.MemberName}</a><br/><span class="gray">#{p.CreateTime}</span></td>
		<td align="center"><span class="orange">#{p.ReplyCount}</span><span class="gray">/</span><span class="note">#{p.Hits}</span></td>
		<td class="psAuthor"><a href="#{p.LastReplyUrl}">#{p.LastReplyName}</a><br/><span class="gray">#{p.LastUpdate}</span></td>
	</tr>	
	<!-- END stickyList -->
	
	<tr class="psTopicType psTopicSep"><td colspan="5"><div>#{topicTypeName}</div></td></tr>
	
	<!-- BEGIN postlist -->
	<tr>
		<td class="psStatus"><img src="#{postStatusImage}"></td>
		<td class="psTitle">
		    <div><span class="chkAdmin">#{p.CheckBox}</span>#{p.TypeImg}#{p.Category} <a href="#{p.Url}" style="#{p.TitleStyle}" target="_blank">#{p.Titile}</a>
		    <span class="note">#{p.Reward}#{p.Price}#{p.ReadPermission}</span>
		    <span style="vertical-align:middle">#{p.Attachments}</span> #{p.Pages} #{p.LabelNew}
		    </div>
		</td>
		<td class="psAuthor"><a href="#{p.MemberUrl}">#{p.MemberName}</a><br/><span class="gray">#{p.CreateTime}</span></td>
		<td align="center"><span class="orange">#{p.ReplyCount}</span><span class="gray">/</span><span class="note">#{p.Hits}</span></td>
		<td class="psAuthor"><a href="#{p.LastReplyUrl}">#{p.LastReplyName}</a><br/><span class="gray">#{p.LastUpdate}</span></td>
	</tr>
	<!-- END postlist -->	
</table>
</div>
</div>

#{toolbarBottom}

<div id="adminToolbar" class="hide">#{adminToolbar}</div>

<!-- BEGIN form -->
<div class="row">
<div class="span12">
<div class="forum-form-container">

    <div class="row">
	    <div style="padding-left:40px;"><h3>:{addTopic}</h3></div>
    </div>
    <div class="row clearfix" style="margin-top:10px;">

	    <form method="post" action="#{ActionLink}" class="form-horizontal ajaxPostForm" id="pubTopicForm">


        <div class="span2" id="pubUserPic" style=" text-align:left;margin-left:20px;padding-left:20px;margin-top:10px;width:110px;"></div>

        <div class="span9 pull-left1 forum-form-quick">

            <div class="control-group">
                  <label class="control-label" for="txtTitle">_{title}</label>
                  <div class="controls">
                    #{Category}<input id="txtTitle" name="Title" type="text" placeholder="请填写标题" style="width:600px;float:left;"> 
                      <div style="clear:both;"></div>
                  </div>
                  <div class="hide"><span class="valid" msg="_{exTitle}" to="Title" mode="border"></span></div>
            </div>

            <div class="control-group">
                  <label class="control-label">_{content}</label>
                  <div class="controls" style="width:610px;">
                    #{Editor}
                  </div>
            </div>

            <div class="control-group">    
                <label class="control-label"></label>

                <div class="controls">
                    <button type="submit" class="btn btn-primary" name="btnSubmit" >
                        <i class="icon-pencil icon-white"></i> :{submitPost}
                    </button>
                </div>
            </div>

        </div>


	    </form>
    </div>


</div>
</div>
</div>
<!-- END form -->


<script>
$(document).ready( function() {
    wojilu.ui.valid();
    wojilu.ui.ajaxPostForm();
    
    var moderators = #{moderatorJson};
    
    var isModerator = function(name) {
        for( var i=0;i<moderators.length;i++ ) {
            if( moderators[i] == name ) return true;
        }
        return false;
    };
    
    var showMTool = function() {

        if( ctx.viewer.IsAdministrator || isModerator(ctx.viewer.obj.Name) ) {
            $('#adminToolbar').show();
            $('.chkAdmin').show();
        }
        
        if( ctx.viewer.IsAdministrator ) {
            $('#forumAdminGlobalSticky').show();
            $('#forumAdminGlobalStickyUndo').show();
            $('#forumAdminMove').show();
        }
        
        if( ctx.viewer.IsLogin==false ) {
            $('#pubUserPic').html( '<img src="~static/upload/face/guest_m.jpg" />' );
        }
        else {

            if( ctx.viewer.HasPic ) {
                $('#pubUserPic').html( '<div style="text-align:center;"><img src="'+ctx.viewer.obj.PicMedium+'" /></div>' );
            }
            else {
                $('#pubUserPic').html( '<div style="text-align:center;font-size:20px;font-weight:bold;">'+ctx.viewer.obj.Name+'</div>'+
                '<div style="text-align:center;"><img src="~static/upload/face/guest_m.jpg" /></div>' );
            }
        }
        
    };
    
    wojilu.site.load( showMTool );
    
});
</script>
