{
    ConnectionStringTable : {
        // default:"server=localhost;uid=用户名;pwd=你的密码;database=数据库名称;"
        site:"Provider=Microsoft.Jet.OLEDB.4.0;Data Source=wojiluSite.mdb",
        default:"server=localhost;uid=sa;pwd=123456;database=userTest;"
    },

    DbType : {
        // 根据不同的数据库，你可以选填：sqlserver/sqlserver2000/access/mysql 四种之一
        default:"sqlserver",
        site:"access"
    },

    Mapping:[
        { name:"wojilu.OpenSample.Domain.SampleUser", database:"site" },
        { name:"wojilu.OpenSample.Domain.SampleArticle", database:"site" }
    ],

    // 是否启用二级二级缓存
    ApplicationCache:true,

    // 二级缓存的过期时间，如果想永久性缓存，请填写-999
    ApplicationCacheMinutes:-999,
    ApplicationCacheManager:"",

    AssemblyList : ["wojilu.OtherSite", "wojilu.Core", "wojilu.Apps"],

    Interceptor:[
    ]


}
