<div>

	<div id="listWrap">
	    <div style="margin-bottom:5px; font-size:14px; font-weight:bold;">导入评论</div>


        <div>
	        <div style="margin:30px 0px 10px 15px;">
	            <form action="#{lnkImportFile}" method="post" class="ajaxPostForm">
                <input id="Submit1" type="submit" value="导入下载评论" class="btn btnBig" style="float:left;" />
	            </form>
	        </div>
            <div style=" clear:both;"></div>


        </div>

	</div>	


</div>

<style>
#listWrap {padding:5px 10px;}
</style>