// 网址后缀名，比如 ashx aspx 等；
// 如果不想使用后缀名，请留空，同时需要修改IIS设置
urlExt : aspx

// 视图(模板)文件的后缀名
viewsExt : html

// js版本号
jsVersion : 0019

// css版本号
cssVersion : 0019

// 网址分隔符，默认是斜杠 "/"，可以配置成横杠 "-"
urlSeparator : /

// 网址是否小写。默认是false
isUrlToLower : true

// 是否缓存视图模板。
// 开发模式下请勿缓存(false)；正式部署之时请缓存(true)
isCacheView : false

// 是否开启整页缓存功能
isPageCache : false

// 是否开启action缓存功能
isActionCache : false

// 控制器所在的根命名空间；
// 多个 namespace 之间用英文逗号隔开
rootNamespace : wojilu.cms.Controller

// mvc过滤器的type名称
filter:wojilu.cms.RenderHelper

// 服务端html标签白名单。默认白名单如下：
// a,img,hr,ol,ul,li,p,br,div,span,table,tbody,tr,th,td,object,param,embed,blockquote,pre,font,b,strong,i,u,s,em,strike,sup,sub
// 如果要声明属性，可以用斜杠分隔，然后放在括号中：a(href/target/title), script(id/name/type)
// (只有白名单中tag才允许提交；留空表示使用默认的过滤机制；通配符*表示允许所有的标签)
tagWhiteList : 