{
    ConnectionStringTable : {
        default:"Provider=Microsoft.Jet.OLEDB.4.0;Data Source=wojilu.mdb"
    },
    
    DbType : {
        default:"access"
    },
    
    ApplicationCache:true,
    ApplicationCacheMinutes:-999,
    //ApplicationCacheManager:"wojilu.cms.MemcachedCache",

    AssemblyList : ["wojilu.cms"]
}
