article/{typeid}/{id};default:{controller=_.Article,action=Show}

default;default:{controller=Main}

~/{controller}/{id};requirements:{id=int}
~/{controller}/{action};requirements:{controller=letter,action=letter}
~/{controller}/{id}/{action};requirements:{controller=letter,id=int,action=letter}
~/{controller}/{action}/{page};requirements:{controller=letter,action=letter,page=page}
~/{controller}/{id}/{page};requirements:{controller=letter,id=int,page=page}
~/{controller}/{id}/{action}/{page};requirements:{controller=letter,id=int,action=letter,page=page}
