
//--------------------基本信息---------------------------------

SiteName : wojilu
SiteUrl : www.wojilu.com
SiteLogo : logo.jpg

Webmaster : wojilu
Email : webmaster@wojilu.com
Copyright :

Keywords :
Description :
PageDefaultTitle : wojilu欢迎您

UserTemplateId : 1

IsClose : False
CloseReason : <h1 style="margin:auto;width:450px;">系统维护, 暂停机1天</h1>

//--------------------mail/smtp---------------------------------

SmtpUrl : smtp.gmail.com
SmtpUser : xxx@gmail.com
SmtpPwd : xxx
SmtpEnableSsl : True

//-----------------------字词过滤------------------------------

BadWords : 
BadWordsReplacement : *****

//--------------------用户信息---------------------------------

UserNameLengthMin : 3
UserNameLengthMax : 20

EnableUserSpace : True
ShowSexyInfoInProfile : false

LoginNeedImgValidation : False
RegisterNeedImgValidateion : True

SystemMsgTitle : 欢迎您注册wojilu！
SystemMsgContent : 欢迎光临！<br/>(说明:这是系统自动发信,请勿回复。)

ReservedUserName : wojilu
ReservedUserUrl : wojilu

UploadFileTypes : 7z/zip/rar/doc/docx
UploadPicTypes : jpg/gif/png/bmp/jpeg

UploadPicMaxMB : 10
UploadFileMaxMB : 500

//-----------------------程序(图片上传)------------------------------

PhotoThumbWidth : 100
PhotoThumbHeight : 100

PhotoThumbWidthMedium : 170
PhotoThumbHeightMedium : 170

PhotoThumbWidthBig : 500
PhotoThumbHeightBig : 500

//------------------------程序(头像)-----------------------------

AvatarThumbWidth : 48
AvatarThumbHeight : 48

AvatarThumbWidthMedium : 100
AvatarThumbHeightMedium : 100

AvatarThumbWidthBig : 200
AvatarThumbHeightBig : 200

IsSaveAvatarMedium : true
IsSaveAvatarBig : false

ReservedKey : 

//---------------------------程序信息(不可自动配置)--------------------------------

NoRefreshSecond : 5

Spider : spider/Slurp/sogou/youdao/google/cuil/robot


MaxOnline : 7974
MaxOnlineTime : 2010-12-6 7:19:08


ValidationType : 1
ValidationLength : 4
ValidationChineseLength : 3
