
<div class="sectionPanel">
<div class="pull-right"><a href="#{lnkOnlineAll}" class="left20 note">_{all}...</a></div>
<h3 style="margin-bottom:10px;">_{whoIsOnline} </h3>
<table style="width: 100%">
	<tr>
		<td id="onlinePanel"><div style="text-align:center; padding:20px;"><img src="~img/ajax/big.gif" /> loading...</div></td>
	</tr>
</table>
</div>

<script>
$(document).ready( function() {

    $.post( '#{onlineMemberLink}'.toAjax(), function(users) {    
    
        var html = '';
        for( var i=0;i<users.length;i++ ) {
            html += '<div class="uItem">';
            html += '<a href="'+users[i].UserUrl+'"><img src="'+users[i].UserPicUrl+'"/><br/>'+users[i].UserName+'</a>';
            html += '</div>';
        }
        
        $('#onlinePanel').html( html );    
    });

});
</script>


<div>

    <div class="pull-right"><a href="#{lnkRank}">_{all}...</a></div>
    <h3 style="margin-bottom:10px;">_{userCharts}</h3>
    <ul class="thumbnails user-list">
		<!-- BEGIN ranks -->
		<li>
            <div class="thumbnail" style=" text-align:center;">
			    <a href="#{u.Link}"><img src="#{u.Face}"/></a>
                <div style="margin-top:5px;"><a href="#{u.Link}">#{u.Name}</a></div>
            </div>
		</li>
		<!-- END ranks -->    
    </ul>
</div>


<div>

    <div class="pull-right"><a href="#{linkAll}" class="left20 note">_{all}...</a></div>
    <h3 style="margin-bottom:10px;">_{newRegUser} </h3>
    <ul class="thumbnails user-list">
		<!-- BEGIN users -->
		<li>
            <div class="thumbnail" style=" text-align:center;">
			    <a href="#{u.Link}"><img src="#{u.Face}"/></a>
                <div style="margin-top:5px;"><a href="#{u.Link}">#{u.Name}</a></div>
            </div>
		</li>
		<!-- END users -->    
    </ul>

</div>


