
//---------------------------------- 框架部分(请勿删除) -----------------------------------
siteHome=网站首页
return=返回
sysMsg=系统提示
closeWindow=关闭窗口
returnLast=返回上一步
exPageError=非常抱歉，本页面暂时不可用。请访问其他页面，或稍后再试。

dbNotExist=数据库不存在
dbNotSupport=数据库不支持
exConnectionString=未正确设置数据库连接字符串

exTemplateNotFound=没有相应模板
exTemplateNotExist=模板文件不存在
exBlockExist=区块{0}不存在。请检查模板({1})中是否存在此标记:{2}

NotFound404=文件不存在
exControllerNotExist=控制器不存在
exNotFound=不存在
exActionNotFound=请求的action不存在
exVisitForbidden=禁止访问
exHttpMethodError=Http方法不正确
exPlsLogin=请先登录

prevPage=上一页
nextPage=下一页
firstPage=首页
lastPage=尾页
pageCount=共{0}页
pageStats=共{0}项, {1}项/页

today=今天
yesterday=昨天
thedaybeforeyesterday=前天

justNow=刚刚
houresAgo=小时前
minuteAgo=分钟前
secondAgo=秒前

plsSelect=请选择
exPlsFill=请填写
refreshPic=换一张

exEditorNameUnique=多个编辑器名称不能相同
exValidateCodeError=验证码错误

exUploadType=文件类型不允许
exUploadMax=文件不能超过
exPhotoUploadError=图片上传错误
exPhotoUploadErrorTip=对不起，上传出现意外，请稍后重新上传
exPlsUpload=请上传文件

//--------------------------------我记录网站综合系统通用----------------------------------------

sharePageInfo={0} 分享了一篇文章
shareInfo={0} 分享了一个网址
replyMicroblog={0} 回复了你的微博评论 {1}
feedbackInfo={0} 给 {1} 留了言
feedbackReplyInfo={0} 回复了你在 {1} 的空间的留言
feedbackFeed={0} 在 {1} 的空间留了言
strPollFeed={0} 发布了投票 {1}
shareUserFeed={0} 分享了用户 {1}
shareNotification={0} 将你分享给了好友
sharePageNotification={0} 分享了你的文章 {1}

site=网站
user=用户
login=登录
register=注册
logout=注销

siteAdmin=后台管理
setting=配置
ok=成功
more=更多
detail=详细
all=全部
trash=回收站
userName=用户名
pwd=密码
male=男
female=女
id=编号
url=网址
link=链接
member=会员
account=帐号
cmdOk=确定
cancel=取消
fontBig=大
fontSmall=小
print=打印
album=专辑
everyone=所有人
hits=点击
none=(无)

deletedUserName=已注销
gender=性别
birthday=生日
age=年龄
zodiac=星座
blood=血型
relationship=婚姻
degree=学历
region=所在地
hometown=出生地
selfIntroductionAndSignature=自我介绍和签名

selfIntroduction=自我介绍
selfIntroductionTip=<strong>自我介绍</strong>(允许的html标签:加粗&lt;strong&gt;、链接&lt;a&gt;和换行&lt;br /&gt;)

signature=我的签名
signatureTip=<strong>我的签名</strong>(允许的html标签:加粗&lt;strong&gt;、链接&lt;a&gt;和换行&lt;br /&gt;)

educationDegree=教育程度

myStatus=我的状态
viewMoreMicroBlog=查看更多微博

ipAddress=IP地址
osInfo=系统信息
startTime=开始时间
lastActive=最后活动
clocation=当前位置

blog=博客
appBlog=博客
microblog=微博
appPhoto=相册
photo=图片
log=日志
forumPost=论坛帖子
friends=交友
notification=通知
note=说明
microBlog=微博
share=分享
repaste=转帖
article=文章

homePage=首页
homepage=主页
rootNode=根节点
validationCode=验证码
tip=提示
search=搜索
viewByHit=点击查看

name=名称
title=标题
author=作者
content=内容
description=简介
titleHome=首页标题

not=说明
category=分类
tag=关键词(tag)
tagTip=关键词之间用逗号分开
comment=评论
view=浏览
created=创建于
creator=创建人
admin=管理
privacy=隐私
summary=摘要
read=阅读
newComment=最新评论
stats=统计
visits=访问次数
comments=评论总数
status=状态
default=默认
type=类型
contentPreview=内容预览
color=颜色

fontSize=大小
fontStyle=样式
fontFamily=字体
strong=粗体
italic=斜体
underline=下划线

from=来自
src=来源
location=当前位置
optional=选填
required=必填

closeComment=关闭评论
commentClosed=评论已关闭
moreOption=更多选项
moveCategory=转移到分类
addCategory=新建分类
editCategory=修改分类
categoryListing=分类列表
categoryFilter=分类筛选

re=回复
op=操作
delete=删除
toTrash=删入回收站
fromTrash=从回收站还原
deleteTrue=彻底删除
restore=恢复
edit=修改
apply=应用
add=添加
checkAll=全选

order=排序
orderId=排序编号
orderIdTip=数字越大越靠前
submit=提交
upload=上传
saveUpdate=保存修改


blacklist=黑名单

viewByFriends=按好友浏览

siteCopyright=版权所有&copy;2009-2010
memoryUse=内存使用



editSetting=修改配置

notificationInfo=<span id="newNotificationText">{0}</span> 个新通知
reply=回复
replies={0}条回复
quote=引用


feedback=留言
privateWords=悄悄话
pwTip=(每条留言最多{0}字)
viewAllFeedback=查看所有留言

recommend=推荐
cancelRecomment=取消推荐
close=关闭
enable=启用
sticky=置顶
unsticky=取消置顶
picked=精华
locked=锁定
sysHidden=系统隐藏
display=显示
hide=隐藏
unhide=解除隐藏
lock=锁定
unlock=解锁
move=移动

imglbl=[图]




lastWeek=最近一周
lastMonth=最近一个月

statusPublic=公开
statusFriend=好友可见
statusPrivate=私有

privacySelf=我自己
privacyFriend=好友
privacyLoggedUser=登录用户
privacyEveryone=所有人

statusUpdated=修改了状态
commentYour=评论了你的

yourSpace=你的空间
currentSkin=当前模板

blankSeparator=逗号分开

setCategory=设置到分类
editValue=修改数值
textReplaceLogo=删除logo，使用文字
notUploadLogo=尚未上传logo图像

//-----------------------------------------------------------------------------------------------

logoutok=注销成功
loginok=登录成功
registerok=注册成功
confirmok=验证成功

saved=保存成功
deleted=删除成功
sentok=发送成功
opok=操作成功
okUpdate=修改成功

pwdUpdated=密码修改成功
pwdUpdatedAndSent=密码修改成功，并发送到邮箱
pwdUpdatedAndSentError=密码修改成功，但发送到邮箱错误

//-----------------------------------------


exPostAfter=对不起，你必须在注册 {0} 小时之后才能操作

error=错误
exop=操作错误
exCmd=命令错误
exUnknowCmd=未知的命令
exId=Id 非法



exName=请填写名称
exLink=请填写链接
exTitle=请填写标题
exContent=请填写内容
exUrl=请填写网址
exPicUrl=请填写图片网址
exEmail=请填写邮件
exTitleContent=请填写标题和内容
exCount=请填写数量
exLogo=请填写logo
exUrlFormat=请正确填写网址

exUser=用户不存在
exUserName=请输入用户名
exUserNameError=用户名错误
exUserNamePwdError=用户名或密码错误
exUserNameLength=用户名长度至少{0}个字符
exUserUrlHttpError=“友好网址”是用户名在网址中的对应名称，请勿包括http、www等字符
exUserUrlError=个性网址不符合格式
exUserMail=请正确填写email地址

exPwd=请填写密码
exPwdOriginal=请填写原密码
exPwdNew=请填写新密码
exPwdNotSame=两遍密码不一致
exPwdError=密码错误

exServer=请填写服务器
exConfirm=验证错误


exDataNotFound=数据不存在




exPageNotFound=页面不存在
exParentPageNotFound=父页面不存在

exAppNotFound=应用程序不存在

exTypeError=数据类型错误
exAccessViolation=非法访问。
exAccessTimeout=禁止访问。有可能是登录超时，请尝试重新登录。
exFriendVisitOnly=仅限好友访问
exVisitForbidden=禁止访问
exNoPermission=没有权限
exNoAdminPermission=没有管理权限
exNoAppAdminPermission=没有应用程序管理权限
exNoUserDataAdminPermission=没有用户数据管理权限

exOnlySitePermission=仅限网站访问

exVisitNoPermission=由于对方隐私控制，你无权访问
exVisitLogNoPermission=由于对方隐私控制，你无权留下脚印

exSentError=发送错误

exAppCategoryNotFound=未找到用户的app分类
exCategoryNotFound=分类不存在
exUserNotFound=用户不存在

exUserNotFoundByEmail=用此email注册的用户不存在

exResetMsgTitle=你申请了重设 {0} 的密码
exResetSend=邮件发送失败！如果你确信你的email正确有效，请联系管理员
resetSendok=系统已经发送重置命令到你的邮箱，请按照邮件中的提示操作
exResetNotFound=没有相关重设密码请求

exResetError=重置密码错误

exRequireAuthor=请填写作者
exRequireContent=请填写内容
exRequireTitle=请填写标题
exRequireReceiver=请填写收信人

exAuthorShort=用户名太短
exContentShort=内容太少
exUserEmailInvalid=用户email无效
exNoReceiver=没有接受人
exRoleDeleteForbidden=内置角色，无法删除
exRoleNotFound=角色不存在

exLogged=你已经登录
exNotUploadFace=尚未上传头像

exRankError={0} 的值必须大于最后一个等级的值: {1}
exCreditFirst=第一个等级积分要求固定为0，不可修改
exCreditGreat0=积分必须大于0
exCreditBetween=值必须在 {0} 与 {1} 之间
exUpdateTimeLimit=请在早上 {0} 点之前或者夜里 {1} 点之后进行操作

exUserNameMinGreater0=用户名长度最小值必须大于零
exUserNameMaxGreater0=用户名长度最大值必须大于零


exAppInstalled=你已经安装过本应用程序
exUrlErrorFormat=网址不符合格式
exUrlNoInner=必须是站内网址
exFriendUrlFormat=网址别名只能由英文字母和数字组成

exEmailFormat=邮件格式错误
exAccountConfirm=帐号验证




exSiteName=请填写网站名称

exHaveShared=你已经分享过

exNameFound=名称已有人使用
exUrlFound=网址已有人使用
exEmailFound=email已有人使用

exPhotoUploadEmpty=不能上传空图片
exPhotoFormatTip=图片格式只能是jpg、bmp、gif、png


exUnCategoryTip=尚未添加分类。正在跳转到分类添加界面……

exSpaceVisitOnly=仅限用户空间访问
exCantFeedback=由于对方隐私控制，你无权留言
exCommentTarget=评论对象无效

userSpace={0} 的空间


// 网站后台管理
//-------------------------------------------------------------------------------------------------

userLogin=用户登录

adminTitle=后台管理
adminHome=管理首页
userAdmin=用户管理
adminRole=角色等级
adminFrontSecurity=前台权限控制
adminBackSecurity=后台权限控制
adminCurrency=货币体系
adminCredit=积分规则
adminGroup=群组管理
adminSiteSettings=网站配置
adminApp=应用程序
adminUserData=用户发表的数据
adminSecurity=权限管理
adminCurrencyCredit=货币与积分
adminSiteSkin=主题皮肤
adminSiteLog=网站日志
adminSiteApp=程序管理
adminNav=导航菜单
adminSiteUrl=常用网址


// admin.dashboard
welcomeAdmin=欢迎光临后台管理
siteFeed=网站动态
searchFeed=搜用户动态
newRegUser=最新注册
newLoginUser=最新访问
adminShortcut=常见管理快捷方式
pageFooterLink=页脚链接
commonPage=通用页面
restats=重新统计

// admin.pagefooter
addPageFooterLink=添加页脚链接
editPageFooterLink=修改页脚链接
pageFooterLinkAdmin=页脚链接管理

// admin.page
addPage=添加通用页面
pageTitle=页面标题
pageTopic=所属专题
pageLogo=图标
pageOrderIdTip=只在特定分类里面使用。数字越大越靠前
allowComment=允许评论
addSubPage=添加子页面
parentPage=父页面
editPage=修改页面
pageTopicAdmin=wiki专题管理
pageTopicListing=wiki专题列表
pageAdmin=页面管理
subPage=子页面
addPageTopic=添加通用页面专题
editPageTopic=修改通用页面专题
enterPageTopic=进入专题
viewUrl=查看网址

// admin.sitelog
siteLogAdmin=网站日志管理
siteLogList=日志列表
siteLogFilter=日志过滤
operator=操作人
operationInfo=操作信息
dataValue=数据值
dataType=数据类型

recountUserStatsTip=警告：以下操作相当消耗系统资源，请勿轻易操作！
currentTime=当前时间
countBlogs=统计用户博客
recountUserBlogs=重新统计所有用户的博客数量
recountUserBlogComments=重新统计所有用户的博客评论数量

// admin.user
userAndSecurity=用户与权限
userList=用户列表
userFilter=分类查看(根据角色等级)
baseFilter=基础过滤
pickedUser=推荐的用户
timeFilter=按时间过滤
roleFilter=按角色过滤
rankFilter=按等级过滤
regToday=注册(今日)
regWeek=注册(最近一周)
regMonth=注册(最近一个月)
regMonth3=注册(最近三个月)
loginToday=登录(今日)
loginWeek=登录(最近一周)
loginMonth=登录(最近一个月)
loginMonth3=登录(最近三个月)
userSearch=用户搜索
nickName=注册名
realName=真实姓名
setRole=设置角色
setAs=设为
role=角色
regTime=注册时间
lastLoginTime=最后登录
referTrash=表示被删入回收站
referPick=表示推荐
lastUpdate=最后更新

UnSendEmail=未发激活邮件
Confirmed=已激活
UnConfirmed=未激活
EmailError=错误邮件
templateContent=模板内容
confirmTemplate=激活模板
sendConfirmEmail=发送激活邮件
accountConfirm=帐号验证
confirmTemplateTip=如要修改邮件内容，请先 <a href="{0}">点击此处</a> 修改激活邮件的模板

viewUserType=用户类型
viewRegUser=最近注册用户
viewLoginUser=最近登录用户
viewActivateUser=激活状态

editUserProfile=修改用户资料

resetPwd=重设密码
originalPwd=原密码
newPwd=新密码
useRandomPwd=使用随机密码
repeatNewPwd=重复新密码
repeatPwd=再输一次密码
exNotEmpty=必须填写
requirePwdAndSame=必须填写，并且要和上面的密码一致
newPwdReason=为了防止输入有误，请重新输入一遍
submitNewPwd=提交新密码
sendNewPwdToUserEmail=发送新密码到用户的Email
woijiluName=我记录

// admin.security
frontAppSecuritySetting=前台应用程序之权限设置
updateSecurity=更新权限
roleAndRank=角色等级
security=权限
frontSecuritySetting=前台权限设置
adminSecuritySetting=后台权限设置
refreshStats=重新统计等级
setSecurity=设置权限
addSecurityAdmin=应用程序权限管理
generalSecuritySetting=通用权限管理
userDataSecuritySetting=用户发布的数据的权限
frontAppSecuritySetting=前台权限设置之应用程序
roleName=角色名称
rankName=等级名称
rank=等级
requirement=要求
roleAndRankSetting=角色与等级管理
defaultRoleTip=以下用户角色是网站默认的用户角色。各App自己的用户角色请分别到相应App的控制中心设置
roleTip=相当于管理职位，比如“经理、总裁”、“科长、局长、处长”等。用户注册之后，角色默认是“一般会员”，等级是“初学弟子”
rankTip=相当于技术职称，比如“助理工程师、工程师、高级工程师”等。管理员可以指派用户的角色，但用户的等级只能通过积分自动升级
followingIsAdminRole=以下是具有管理功能的角色
followingIsGeneralRole=以下是一般性的角色
addAdminRole=添加管理角色
editName=修改名称
addGeneralRole=添加一般角色
randByCreditTip=根据用户积分自动调整
switchToOtherRanks=切换到其他等级系列
addRank=添加等级
setStar=设置星号
rankIcon=图标
otherRankTip=每个系列都是10个等级。新挑选的系列只覆盖前10个等级，其余需要手动修改
applyRank=使用本系列
newName=新名称
updateAllUserRank=更新所有用户等级
updateAllUserRankTip=非常消耗服务器资源，请在午夜网站空闲时候运行
selectStar=选择星号
selectStarCount=选择个数
editRequirementOfValue=修改数值要求
lblRankRequirement=用户的 {0} 必须达到 {1}  才能进入等级

siteSkin=网站主题
appUrl=各应用程序的网址
addMenuUrlTip=提示：你在添加菜单的时候，可能需要下面的网址。

addToSiteMenu=添加到网站的菜单
addToSpaceMenu=添加到空间的菜单
addToGroupMenu=添加到群组的菜单

siteUserHome=网站用户首页
siteGroupHome=网站群组首页
siteBlogHome=网站博客首页
sitePhotoHome=网站相册首页
siteMicroblogHome=网站微博首页

// user
//-------------------------------------------------------------------------------------------------

province=请选择-0/北京-1/上海-2/天津-3/重庆-4/内蒙古-5/山西-6/河北-7/辽宁-8/吉林-9/黑龙江-10/江苏-11/安徽-12/山东-13/浙江-14/江西-15/福建-16/湖南-17/湖北-18/河南-19/广东-20/海南-21/广西-22/贵州-23/四川-24/云南-25/陕西-26/甘肃-27/宁夏-28/青海-29/新疆-30/西藏-31/香港-32/台湾-33/澳门-34/其他-999999

degree_list=请选择-0/小学-1/初中-2/高中(中专)-3/大学-4/硕士-5/博士-6

member_gender=保密-0/男-1/女-2
member_relationship=保密-0/未婚-2/已婚-1

member_body=请选择-0/苗条-1/中等-2/运动型-3/肌肉型-4/丰满-5/超重-6
member_hair=请选择-0/黑色-1/棕色-2/红色-3/金色-4/灰色-5/白色-6/染发-7/平头-8/谢顶-9
member_sleeping=请选择-0/早起者-1/晚起者-2/睡一整天-3/从不-4/梦游症者-5
member_smoking=请选择-0/不吸烟-1/不吸烟并反对吸烟-2/只在社交场合吸烟-3/是的-4/嗜烟-5
member_sexuality=请选择-0/异性恋-1/同性恋-2/双性恋-3/保密-4
member_emailnotify=启用-0/禁用-1
member_regpurpose=随便看看-0/交友-1/学习-2/分享-3/聊天-4/资讯-5
member_contactcondition=任何用户都可以联系我-0/对方信息完整度50%以上-1/对方信息完整度80%以上-2
member_blood=请选择-0/A型-1/B型-2/O型-3/AB型-4
member_zodiac=请选择-0/白羊-3/金牛-4/双子-5/巨蟹-6/狮子-7/处女-8/天秤-9/天蝎-10/射手-11/摩羯-12/水瓶-1/双鱼-2


// admin.sys
siteName=网站名称
webmasterName=站长名称
metaKeywords=网站关键词
metaTitle=网页默认标题
metaDescription=网站简介
isSiteClose=网站是否关闭
closeReason=关闭原因
supportHtmlTag=支持html标记

statsEnabled=是否启用统计
statsJs=统计代码

netSpider=网络爬虫
allowedUploadFileType=允许上传的文件
allowedUploadPicType=允许上传的图片

mailServerInfo=邮件服务器信息
mailRequireTestSelfTip=说明：请自行测试邮件服务器是否可用
mailSmtpServer=邮件发送服务器
smtpSetting=邮件设置
mailSmtpTip=(即SMTP服务器地址，比如smtp.gmail.com)
mailAccountTip=(比如abcd@gmail.com)
mailAccount=登录用户名
mailPwd=登录密码
isEnableSsl=是否启用SSL



uploadLogo=logo上传
logoSetting=Logo设置
uploadLogoTip=说明：可以不上传logo。如果没有上传logo图片，则使用文字形式显示(即网站名称)
plsUploadLogo=请上传logo图片

userInfo=用户信息
userNameLength=用户名长度
isEnableUserSpace=是否启用用户空间
regAndLogin=注册与登录
regValidationCode=注册时的验证码
loginValidationCode=登录时的验证码
newUserRegTip=新用户注册之后，系统将会发一封站内私信给他/她
msgTitle=短消息标题
msgBody=短消息内容
regForbidden=禁止注册
forbiddenUserName=禁止注册的用户名
forbiddenUserUrl=禁止在url中使用的词语
fromChar=从
toChar=到

wordFilter=过滤器
wordFilterSetting=字词过滤设置
wordFilterTip=说明：词与词之间请用斜杠“/”隔开
sourceWord=将词语
replacedWord=过滤成符号

// common.app
appListing=应用程序列表
appAdmin=程序管理
menuAdmin=菜单管理
startApp=启动
stopApp=暂停运行
stopped=已经停止
running=正在运行
appInstalled=已安装
appadd=添加此程序
appAddTip=添加程序(本程序可多次添加)


// group
//-------------------------------------------------------------------------------------------------
administrator=管理员

group=群组
joinGroup=加入小组
quitGroup=退出小组
waitApprove=等待审核

groupBoard=讨论区
groupMember=群组成员
groupToApprove=群组待审核
groupAdmin=群组管理员
groupAdm=群组管理

groupOpen=公开群组
groupClosed=半公开群组
groupSecret=秘密群组

sysLock=系统锁定
sysHide=系统隐藏

joinedGroup=加入了群组
groupNotice=群组通知

groupMember=成员
groupCreated=创建于
groupLastUpdated=最后更新
groupCategory=群组分类

groupOpenInfo=任何人都可以自由加入，可以查看群组内容
groupClosedInfo=加入需审核，可以查看内容，发帖需成员资格
groupSecretInfo=只有群组管理员邀请才能参加，非成员禁止浏览；群组不出现在目录和搜索结果中

groupMemberJoinedMsg=你已经被批准加入群组
groupAdminSettedMsg=你已经被设置为群组的管理员
groupAdminCanceledMsg=你已经被取消群组的管理员资格

groupSysAdminMsg=群组 [{0}] 被系统 {1}

exFriendGroupNotFound=友情群组不存在
exFriendGroupAdded=友情群组已经添加

exGroupBeBlacklist=你已经进入该组的黑名单
exGroupApprovingTip=管理员尚未审核，请等候
exGroupBeMember=你已经是群组成员

exGroupNotFound=群组不存在
exGroupName=请填写群组名称
exGroupNameFormat=群组名称字符不正确
exGroupDescription=请填写群组简介
exGroupUrl=请填写群组网址
exGroupUrlFormat=群组网址字符不正确
exGroupNameMaxLength=群组名称不能超过30个字符
exGroupCategory=不正确的群组分类
exGroupSecurity=不正确的权限设置
exGroupNull=请先建立群组资料
exGroupMsgTitle=我刚创建了群组

exGroupNotUpdated=没有更新
exGroupVisitOnly=仅限群组访问

exGroupLockTip=群组已被锁定，不能操作
exGroupMemberOnly=只有群组成员才能操作

// admin.group
groupList=群组列表
groupSendMsg=发消息
groupSendMsgTip=给群组的管理员发送消息
groupLockTip=禁止加入新成员，所有帖子设为“只读”状态，只可浏览，不可回复或编辑
groupHideTip=群组转为隐藏状态，只有成员才可访问
groupFilterProperty=按性质筛选
groupSendReasonToAdmin=此原因将会发送给群组管理员

plsopReason=请填写操作原因
groupNewPost=最新讨论帖子
groupNewCreated=新创建的群组
groupPostList=帖子列表
groupPostFilter=帖子过滤

topicSort=主题排序
orderByTime=按发表时间排序
orderByReplies=按回复排行
orderByHits=按点击排行

allPosts=所有帖子
allGroup=所有群组

// group.admin
recentGroupMember=最近加入的成员
linkGroup=友情群组
addGroupLink=添加友情群组
groupName=群组名称
groupNameNote=最多30个汉字
groupCategoryIs=所属分类
groupCategoryNote=选择合适的类型，群组更容易被找到
groupDescription=群组简介
groupPrivacy=浏览权限
groupUrl=群组网址
groupUrlNote=请填写你组/圈子的网址,只能输入英文字母和数字(3到20个字符)
createGroup=创建群组
groupLogoNote=支持 jpg、gif、bmp、png 格式，最大1M。图片会被自动缩小、裁切成正方形
uploadPic=上传图片
approveMember=通过审核
setAsAdmin=加为管理员
cancelAdmin=取消管理员

memberAdmin=成员管理
friendGroup=友情小组
groupAdminMenu=群组菜单
groupMemberCount=成员数
recentJoin=最近加入
viewAllMember=浏览所有成员
groupStats=共 {0} 名成员，{1} 次浏览， 创建于 {2}

// group.main
hotTopic=热门讨论
hotGroup=热门群组
newGroup=最新群组
groupSearch=群组搜索
viewByCategory=分类浏览
groupsByCategory=分类“{0}”下的所有群组
searchResult=搜索结果
groupInfo=群组信息
secretGroupInfo=说明：这是秘密群组，必须受邀成为成员才能访问。
returnHome=返回首页
memberList=成员列表
groupAdminHelp=群组管理指南
everyoneCanCreateGroup=每个人都可以创建群组

// user.myGroup
myGroup=我的群组
viewGroup=浏览此群组
friendJoinedGroup=好友最近加入的群组

createGroup1=第一步：群组资料
createGroup2=第二步：上传图片
createGroup3=第三步：邀请好友

createGroupOkMsg=恭喜您，群组创建成功。请再为群上传一个logo图片
uploadGroupLogoOkMsg=群组logo上传成功

resultLabel=搜索{0}，共有 {1} 条结果

groupApprovingInfo=新成员“{0}”申请加入群组“{1}”，等待您的审核
groupApprovingBodyInfo=新成员“<a href='{0}' target='_blank'>{1}</a>”申请加入群组“<a href='{2}' target='_blank'>{3}</a>”，等待您的审核
groupInvite=你好，我刚刚创建了一个群组 {0}，欢迎参观。

groupFillFriends=请填写需要通知的好友
groupFriendsTip=好友之间用逗号分隔
notificationContent=通知内容
sendMsgToFriend=通知好友
visitGroupDirectly=不通知，直接进入群组


// main
unRegisterTip=尚未注册？<a href="{0}">立即注册</a>
rememberMe=记住我
forgetPwd=忘记密码？
loginTip=已经注册过？请 <a href="{0}">点击此处登录</a>
userReg=用户注册
userNameNote=长度{0}-{1}(中英文皆可)
friendlyUrl=个性网址
furlNote=必须以字母开头,必须小写(允许字母和数字)
emailNote=不会公开(确认有效性)
pwdNote=至少4个字符
confirmPwd=确认密码
confirmPwdNote=两次密码必须一致
submitReg=提交注册
regReset=重来

// common
appName=程序名称
appFriendlyName=程序别名
accessSetting=访问设置
editApp=改名
installApp=安装应用程序
myApp=我的应用程序
addApp=添加应用程序
plsSelectApp=请选择应用程序
userHome=用户首页
developer=开发者
uninstallMsg=确实卸载？一旦卸载，数据不可恢复，请慎重\n如果只是为了限制访问，请通过点击“修改”来设置访问权限，或者“暂停运行
uninstall=卸载

menuList=菜单列表
addMenu=添加菜单
menuName=菜单名称
linkPage=链接页面
isSetHome=首页设置
setMenuAsHome=将本菜单链接页面设为首页
editMenu=修改菜单
menuNote=应用程序的名称是给你登录之后自己看的，菜单中的名称是展示给访问者看的。系统安装应用程序的时候，两者默认保持一致，但你可以分开修改，保持各自的特色。 
menuUrl=菜单指向的网址
menuFriendUrlNote=必须英文开头，可以是英文、数字和下划线
parentMenu=上级菜单
addSubMenu=添加子菜单
deleteSubMenuFirst=请先删除子菜单

allComments=所有评论
submitComment=发表评论
emailOrWebsite=Email或网址
commentBody=评论内容
commentTarget=评论对象
contentLength=请输入内容，不超过{0}字

resetPwdRequireEmail=请填写你注册时候的 Email 地址
sendingEmailTip=正在操作，需要一段时间发送email，请耐心等候……
forgetEmailTip=忘记了email？请直接联系管理员
resetPwdMailOk=系统已经发送重置命令到你的邮箱，请按照邮件中的提示操作
resetPwdMailError=邮件发送失败！如果你确信你的email正确有效，请联系管理员。
yourEmail=你的Email地址

shareNote=分享说明

// skin
skin=模板
customSkin=自定义模板
returnSkinList=返回模板列表
editSkinCssNote=请修改如下CSS样式表，创作属于你自己的模板。
skinName=模板名称
skinContent=模板样式内容
createMySkin=创建我的模板
editMySkin=修改我的模板
mySkin=我的模板
createSkin=创建模板
createSkinNote=通过修改当前模板，创作具有自己特色的界面。
useSystemSkin=使用系统模板

pageBg=页面背景
pageHeader=页面头部
pageBody=页面主干
pageFooter=页脚
bgColor=背景颜色
bgPic=背景图片
selectPic=选择已上传图片
fillPicUrl=填写图片网址

showVisitLogLable=留下脚印
showVisitLog=踩一脚

redirecting=页面跳转中……



// friends
//-------------------------------------------------------------------------------------------------
requestFriend=请求加你为好友
addAsFriend=加为好友
canelFriend=取消好友
inApproveFriend=好友审核中
friendList=好友列表
myFriends=我的好友
addFriend=添加好友
friendsOfFriends=好友的好友
addFriendTip=说点什么吧
friend=好友
addFriendDone=添加成功，等待对方批准

cancelFollow=取消关注
follow=关注
followcmd=关注此人
followedYou=关注了你
followshipNotFound=关注关系不存在
myFollowing=我关注的人
myFollowed=关注我的人
suggestPeople=可能认识的人
advancedUserSearch=高级搜索

userHotest=人气最高

fans=粉丝

allow=批准
refuse=拒绝

exVisitSelf=不可以踩自己
exFriendBeen=对不起，对方已经是你的好友
exFriendSelf=不可以添加自己为好友
exFollowSelf=对不起，不可以关注自己
exNoFollowByFriend=对不起，对方已经是你的好友，不用再关注
exFollowed=对不起，你已经关注了对方

// msg
//-------------------------------------------------------------------------------------------------
exMsgTitle=请填写消息标题
exMsgContent=请填写消息内容
exMsgNotFound=私信不存在
exMsgSysNoReply=系统信息，请勿回复
exReceiverNotFound=收信人不存在

addReceiverByFriendsTip=选择好友
addReceiverByFriendsTitle=请选择好友名字

msg=私信
sender=发送人
receiver=收信人
mailTitle=邮件标题
receiveTime=接收时间
sendTime=发送时间
viewSender=查看
receiverNote=(不同收件人用逗号或斜杠“/”分开)
send=发送
senderName=发送人名称
receiverName=收信人名称
searchMail=搜索邮件

sendMsg=发送消息
sendSiteMsg=发站内私信
sendEmail=发送Email

unreadMsg=未读私信
allMsg=所有私信
sentMsg=已发私信
msgTrash=回收站

forward=转发
forwardPrefix=[转发]
replyPrefix=[回复]

readed=已读
notRead=未读
replyed=已复

msgForward=以下转发
msgQuote=以下引用
feedbackPrivate=发送了一个悄悄话

myMsg=我的站内私信
writeMsg=写私信

msgToAll=私信群发
microblogAdmin=微博管理
usersMicroblog=用户的微博

writeSiteMsg=撰写站内私信
sendSiteMsg=发送站内私信
editSiteMsg=修改站内私信

siteMsg=站内私信


// admin.credit
currency=货币
keyCurrency=中心货币
initValueWithReg=注册初始值
regHave=一旦注册成为会员，即
canHave=可获得
credit=积分
creditRule=积分规则
editCreditRule=修改积分规则
editCreditCell=你可以点击单元格中数字进行编辑
addCurrency=添加货币
baseInfo=基本信息
unit=单位
exchangeRate=兑换比率
isShow=是否显示
canDeal=是否可交易
canRate=是否可评分
editCurrency=修改货币信息
editKeyCurrency=修改中心货币信息
monetarySystem=货币体系
otherCurrency=其他货币
currentAndRule=货币与规则
income=收入

// user.admin

userStart=快速入口

markAllRead=全部标记为已读

aboutMe=关于我
myMicroblog=我的微博
myShare=我的分享
myFeedback=给我的留言
visitor=访客
recentVisitors=最近访客
guestbook=留言板

myIncome=我的积分
incomeRule=积分规则
userRank=用户等级

myHome=我的首页
feed=动态消息
friendFeeds=好友动态
feedsOfFriends=好友的动态
feedsOfFollowing=关注的动态
myFeeds=我的动态

publish=发布
publishOk=发布成功
updatedJustNow=刚刚更新
updateFaceByHit=点击更换头像

myNotification=我的通知
returnMyHome=返回我的首页

customUserSkin=自定义空间外观

// user.profile

newPwdInfo=你在 {0} 的新密码
newPwdBody=你在 {0} 的新密码是<span style='color:red;font-weight:bold;font-size:20px;'>{1}</span>，请妥善保管。<br/><br/>

profile=个人资料
contact=联系方式
interest=兴趣爱好
changePwd=修改密码
privacySetting=隐私设置
face=头像

address=地址
tel=电话/移动电话
otherIM=其他即时通讯工具
website=网页/网站/博客
emailNotification=邮件通知
uploadFace=上传头像
uploadFaceNote=<li>头像必须是jpg、gif、bmp、png四种格式之一</li><li>大图系统将自动调整为48*48； </li><li>建议上传真实照片，尤其是近距离照等； </li><li>头像请不要用卡通图、明星照及违禁图片。 </li>
interestNote=请填写关键词，关键词之间用逗号“，”或“,”分开。限250字
music=音乐
movie=电影/电视
book=书籍
sport=体育
eat=饮食
otherInterest=我还喜欢

lblMusic=喜欢的音乐
lblSport=喜欢的体育
lblMovie=喜欢的电影/电视
lblBook=喜欢的书籍
lblEat=喜欢的饮食

privacyProfile=基本信息
privacyContact=联系方式
privacyInterest=兴趣爱好
privacyVisitMySpace=访问我的空间
privacyFeedback=在我的空间留言
privacyLeaveVisitLog=在帖子后留下脚印
privacyMicroblog=我的微博
privacyShare=我的分享
privacyRecentVisitor=访客列表
privacyForumTopic=我的论坛帖子
privacyFriends=好友列表

appPrivacyInfo=关于应用程序的权限控制，请到 <a href="{0}">应用程序列表</a> 处设置
registerReason=我来这里为了
userId=注册ID

postedAt=发表于
userMenu=用户菜单
shareUser=分享用户

online=在线
whoIsOnline=当前在线
userCharts=用户排行榜
searchUser=找朋友
userLocation=地区
pickedUser=推荐用户
allUser=所有用户
onlineUsers=当前在线的注册用户
visitCount=访问量

searchNow=开始搜索
resetForm=清空

hello=欢迎您
logoutAdmin=后台注销
mySpace=我的空间

switchLang=切换语言
userSkinTip=[提醒] 你正在使用自定义的模板

uploadThanks=上传成功，谢谢
hideComment=隐藏评论
collect=收藏

// poll
//-------------------------------------------------------------------------------------------------
hasvoted=参与了投票

pollLoginRequire=请登录之后再投票。
pollVoted=你已经投过票。
pollSelectRequire=请先选择
pollVote=投票
pollViewTip=说明：必须投票之后才能查看结果
pollAllVoter=目前共有 {0} 人参加。
pollEnd=投票已结束。
pollEndToday=此投票将于 <strong>今天</strong> 截止，剩余 1  天。
pollEndTomorrow=此投票将于 <strong>明天</strong> 截止，剩余 2  天。
pollEndDays=此投票将于 {0} 截止，剩余 {1} 天。

friendPoll=好友的投票
myPoll=我的投票
pollCount=目前参加人数
hotPoll=热门投票
voteResult=投票结果

poll=投票
addPoll=发布投票
pollTitle=投票主题
pollNote=投票说明
option=选项
addOneOption=增加一项
deleteOneOption=删除一项
singleChoice=单选
multiChoice=多选
pubPoll=发布投票
effectiveDay=有效天数
dayTip=(0表示不限制天数，如果手动设置，则最多3650天)
otherRequirements=其他要求
isVisible=投票之后才可查看结果
isVoterOpen=投票人不公开
voter=投票人
voteTime=投票时间
pollType=投票类型
pollDone=投票成功

exPollNotFound=投票不存在
exPollItemNotFound=投票项不存在或被删除
exVoted=你已经投过票
exPollOptions=请填写投票选项
exPollMinTwoOptions=至少两个投票选项
exPollMaxTwoOptions=至多20个投票选项
exPollMaxDay=有效天数最多10年

pollcommentFeed={0} 评论了 {1} 的投票 {2}
pollcommentNotification={0} 评论了投票 {1}

readAndAgree=说明: 一旦提交注册，即表示你已阅读并同意
regService=注册协议


exQuitGroup=你是群组唯一的管理员，不能退出
exNotGroupMember=你不是群组成员
exDeleteOnlyGroupAdmin=仅剩最后一名管理员，不能删除
groupDeleteNote=说明：管理员是不能直接删除的，必须先降级为普通成员，然后才能删除；最后一名管理员也不能取消

tDay=一天
tDay2=两天
tWeek=一周
tMonth=一个月
tMonth3=三个月
tMonth6=半年

siteInit=网站初始化
siteInit1=第一步：初始化数据
siteInit2=第二步：注册用户
siteInit1Tip=请点击初始化系统数据
siteInit2Tip=请点击注册用户
clickHere=点击此处
siteInitUserTip=第一个用户自动成为网站管理员
siteInitDone=系统已经初始化，现在你可以登录后台管理网站。

openLinkInNewWindown=在新窗口中打开链接
tagLink=tag标签
exInviteCode=邀请码错误
inviteFriends=邀请好友
inviteMailTitle=邀请您成为好友
inviteSendDone=邀请信发送成功
inviteSendFailure=邀请信发送失败
invite=邀请

addBlacklist=添加黑名单
blacklistTip=用户一旦被加入黑名单，将会 (1) 从您的好友和粉丝中删除；(2) 无法给您留言、发消息、加好友、留脚印、评论等。
fillUserNameTip=请填写用户名
categoryAdmin=类别管理
friendCategory=类别
backVisitPost=对不起，由于对方隐私设置，您无权留下脚印
blackFriend=对不起，由于对方隐私设置，您无权添加好友
blackFollow=对不起，由于对方隐私设置，您无权关注对方
blackSendMsg=对不起，由于对方隐私设置，您无权给对方发送短消息
backComment=对不起，由于对方隐私设置，您无权评论

configFile=配置文件
cacheData=缓存数据
allFiles=所有文件

restartSite=重启网站
restartSiteConfirm=确实要重启网站？
restartSiteTip=重启网站可以让配置修改之后及时生效，但也会导致后台注销，必须重新登录
restartSiteCmd=现在重启
restartDone=重启成功。正在重新进入网站首页，请稍等数秒……

editFile=文件修改
currentPath=当前路径
editFileTip=
editViewsTip=修改原则：尽量不要删除已有标签，如果删除 id/class/BEGIN/END 等标志，会导致不可预料的后果
editConfigTip=本文件非常重要，修改之前请确保了解代码的含义，并已经手工备份，否则会导致不可预料的后果
editBackupNo=这是备份文件，不可修改
editFirstBackup=本文件尚无备份，系统会自动备份
editBackupLast=更新之前替我自动备份
restoreDefault=恢复到默认内容
exBackupExists=备份文件不存在
exSearchViews=对不起，此网址无法搜索，请更换其他网址。

jobSite=计划任务
jobAdmin=计划任务管理
jobLableInterval=间隔时间
jobLableIntervalUnit=ms(毫秒)
jobType=任务类型
jobCmdTip=提醒：为了让此操作生效，系统会自动重启服务器
jobCmdDone=操作成功！网站正在重启……
jobStart=启动
jobStop=暂停

ms=毫秒
second=秒
minute=分钟
