
channel=频道

rssAdmin=RSS管理
rssList=RSS列表

categoryAdmin=分类管理
sysCategory=系统分类

addChannel=添加频道订阅
editChannel=修改订阅
mySubscription=我的订阅
subscriptionAdmin=订阅管理
allSubscription=全部订阅

rssUrl=rss网址
subscriptionUrl=订阅网址

updated=更新时间
oName=原名
customName=自定义名称
editRssUrlTip=不支持直接修改RSS网址。若要修改，请先删除本频道，然后添加新的RSS
allRssList=网站所有RSS一览
allNewPosts=最新订阅日志：全部
newPostList=最新订阅日志列表
subscriptionCount=订阅此频道人数

showSidebar=显示侧边栏
closeSidebar=关闭侧边栏
