

feedInfo={0} 评论了 {1} 的日志 {2}
notificationInfo={0} 评论了你的日志 {1}
pubInfo={0} 发表了新日志 {1}
shareInfo={0} 分享了一篇日志
notiShare={0} 分享了你的日志 {1}

// code
blog_pub_button=发布日志
blog_edit_button=更新博客
blog_draft_button=保存草稿
blog_draft_info=本篇日志目前处于草稿状态，只有你自己才能查看。
blog_error_status=日志状态错误

data_status_normal=已经发布
data_status_draft=草稿，尚未发布
data_status_delete=已经被删入回收站
data_deleted_info=该帖目前已经处于删除状态，\n如要操作，请设置正确的分类，并从回收站还原

draft=草稿

exSave=保存失败
saveDraftOk=草稿保存成功，最后保存时间
saving=正在保存...

addCategory=添加分类
generateBook=生成电子书

// admin.apps.blog
blogAdmin=博客管理
newBlog=最新博客
recommendBlog=被推荐的博客
usersNewBlog=用户最新博客文章
recommendBlogPost=被推荐的博客文章
unRecommend=取消推荐

// admin.blogroll
linkName=链接名称
linkUrl=链接网址
addLink=添加友情链接
editLink=修改友情链接

// admin.layout
friendBlog=好友博客
myblog=我的博客
writeBlog=撰写博客
blogCategory=博客分类
blogroll=博客链接

// admin.post
emptyTitleTip=建议填写。如果不填，系统自动生成“年-月-日 日志”格式的标题
tagTip=多个关键词之间用空格或逗号分开。此项有利于好友分享和搜索引擎优化
trackbackUrl=引用日志的网址
trackbackTip=用于通知你所引用的日志。每行输入一个引用的网址
publog=发布博客
saveDraft=存为草稿
autoSaveTip=每隔3分钟自动保存
viewByFriend=按好友浏览

// admin.post.list
pickblog=加为精华
unpick=取消精华

// layout
newblogArticle=最新日志
blogAllCount=日志总数


blogTitle={0} 的博客

// main
blogUserRank=博客会员排名
blogSearch=博客搜索
quickSearch=快速搜索
pickedBlogger=推荐博客
rankByView=点击排行
rankByComment=评论排行
allBlogPost=所有博客文章

// post.show
shareBlog=分享日志


//--------------------------------------------------------------------
deleteCategoryTip=对不起，你先需要：<br/>1、将本分类下的 {0} 篇日志转移到其他分类；<br/>2、或者先彻底删除这些日志。


// settings
allowComment=允许评论
allowAnonymousComment=允许匿名评论
perPageBlogs=列表每页显示日志数
listMode=列表显示方式
fullMode=全文显示
abstractMode=摘要显示
stickyCount=置顶日志数
newBlogCount=最新日志数
newCommentCount=最新评论数
isShowStats=显示统计数据
rssCount=RSS输出数目
