
myface=我的头像
myprofile=我的信息
recentVisitor=最近访客
mymicroblog=我的状态
myfeed=我的动态
myblog=我的博客
feedback=留言板
myfriends=我的好友
myphoto=我的图片

currentCover=当前封面
setCover=设为封面

columnNo=第 {0} 栏

postDetail=文章详细

plsUpImg=请上传图片
exImgFound=图片不存在
exDeleteImg=请先删除相关的图片
exRemoveSectionFirst=请先删除或者移走本行全部区块
exContentLink=内容和链接不能同时为空
exImgUrl=请填写图片网址
exVideoImgUrl=请填写视频的图片网址
exVideoLink=请填写视频链接
exTalker=请填写发言方

// admin

contentAdmin=内容管理
allPosts=所有文章
usersPosts=用户发布的文章

addSection=添加区块
editSection=修改区块
sectionName=区块名称
templateType=模板类型
dataSource=数据来源
customDataSource=由我手动添加数据
autoDataSource=使用自动数据源

itsSection=所属区块

showSidebar=显示侧边栏
adminView=管理界面
closeSidebar=关闭侧边栏
setPageStyle=设置页面样式
moreRowOp=更多布局行操作

rowNo=第 {0} 行

addRow2=添加2列布局行
addRow1=添加通栏布局行
addRow3=添加3列布局行
addRow4=添加4列布局行
addRow5=添加5列布局行
addRow6=添加6列布局行
deleteRow=删除本布局行

areYouSure=确实要
allPublishedPosts=手动发布的数据
setRowStyle=设置本行外观
setColumnStyle=设置本栏外观
addRss=添加RSS源
rssSectionTip=通过RSS展示其他网站内容

editStyleSection=修改外观(区块)
editStyleTitle=修改外观(区块标题)
editStyleContent=修改外观(区块内容)

combineSection=合并到区块
removeSection=移除区块

addContentSection=添加内容区块
addMashupSection=添加聚合区块
contentSectionTip=本区块的内容由你手动添加、编辑、删除等
mashupSectionTip=选择网站的各种数据，并结合模板显示
oneStep=1个步骤
threeStep=3个步骤

editBaseInfo=修改基本信息
deleteSection=删除区块

addSection1=第一步：选择数据源
addSection2=第二步：选择模板
addSection3=第三步：设置基本信息

plsSelectDataSource=请选择数据源
nextStep=下一步
prevStep=上一步
moreLink=“更多...”链接至

pageStyleSetting=请设置页面样式
styleEditTip=(你必须了解css样式表)
styleCodeExample=代码示例

applyStyle=应用样式

styleTip1=说明:第1行第1列的宽度60%
styleTip2=说明:第1行第2列的宽度40%
styleTip3=说明:第2行第1列的宽度30%

rssUrl=RSS网址
rssCount=显示数量
rssName=取个名称

combineTo=将本区块合并到

sectionMoreLinkTip=可以不填写。如果不填写，系统自动生成链接。字符"#"表示此处不用链接。

searchTitle=搜索标题

general=基础功能
advanced=高级选项

// admin.section.img

size=大小
width=宽度
height=高度

editUploadPicTip=上传之后，要想保存结果，必须点击下面按钮
uploadPicNote=图片可以设置得比需要的尺寸稍大一点

addPics=添加系列图
addPic=添加图片

picUrl=图片网址

pic=图片
picDescription=设置图片简介
uploadPics=图片列表上传
uploadPic=上传图片
deletePic=删除图片
uploadPicTip=上传图片(可多次进行)

allPic=所有图片

editPics=修改系列图
editPicsInfo=修改信息

adminListing=列表管理

// admin.section.list
addData=新建数据
editData=修改数据
srcUrl=来源网址
picUrlTip=如果是图片新闻请填写
titleStyle=标题样式
submitData=发布新数据
cssRequired=请输入CSS

addPost=添加列表项

addText=添加文本
addPicPost=添加图片文章

addTalk=添加言论
talkContent=言论内容
talker=言论人
talkContentTip=请填写言论内容
talkTip=请填写言论人或言论说明
talkSrcTip=请填写言论的来源网址

addVideo=添加视频
videoLink=视频链接
editVideo=修改视频
allVideo=所有视频
addVideoUrlValid=请填写视频的网址
addVideoPicValid=请填写视频的图片的网址

listCount=列表数

noTitle=无标题

// layout
postRank=文章排行
picRank=图文排行
videoRank=视频排行

// poll
poll=投票
addPoll=发布投票
pollTitle=投票主题
pollNote=投票说明
option=选项
addOneOption=增加一项
deleteOneOption=删除一项
singleChoice=单选
multiChoice=多选
pubPoll=发布投票
effectiveDay=有效天数
dayTip=(0表示不限制天数，如果手动设置，则最多3650天)
otherRequirements=其他要求
isVisible=投票之后才可查看结果
isVoterOpen=投票人不公开
voter=投票人
voteTime=投票时间
pollType=投票类型

pollDone=投票成功
voterCount=目前参加投票人数

exPollItemNotFound=投票项不存在或被删除
exVoted=你已经投过票
exPollOptions=请填写投票选项
exPollMinTwoOptions=至少两个投票选项
exPollMaxTwoOptions=至多20个投票选项
exPollMaxDay=有效天数最多10年
exPollNotAdd=尚未添加投票
exUploadEmpty=不能上传空文件

addPollTip=说明：投票添加之后不可修改，只能删除。

// attachment
attachment=附件
attachmentsInfo=共有 {0} 个附件
exAttachmentView=对不起，你无权查看附件
uploadAttachment=上传附件
uploadMax=最多{0}个
uploadNote=<li>图片允许格式：jpg, jpeg, gif, png，单张图片最大2M</li><li>非图片文件请先压缩，支持的压缩格式：zip, 7z, rar</li><li>flash, rm, avi, mp3等影音文件请通过“发布视频”或“发布音乐”功能专门上传</li>
exDownload=非法下载
noThumb=无缩略图
exAttrachment=附件不存在
downloadNeedLogin=系统提醒：您必须登录之后才能查看附件
adminAttachment=管理附件
hitDownload=点击下载

currentDownloadPermission=当前权限：查看附件需要登录
setDownloadPermission=设置查看附件的权限
uploadNewAttachment=上传新附件
attachmentNameOrDescription=名称或简介
attachmentAdmin=附件管理
addAttachment=添加附件
thumbPic=缩略图
size=大小
downloads=下载次数
uploadAgain=重新上传

downloadCondition=下载附件需要登录
attachmentPermissionTip=只有登录用户才能查看附件

returnPortalLayout=返回布局界面

// settings
allowComment=允许评论
allowAnonymousComment=允许匿名评论
enableSubmit=开放投递功能
listPostPerPage=文章列表每页条数
listPicPerPage=图片列表每页条数
listVideoPerPage=视频列表每页条数
rankPosts=热门文章数量
rankPics=热门图片数量
rankVideos=热门视频数量

editEffect=设置特效

editTemplate=修改模板

NeedApproval=见习记者
Submitter=记者
AdvancedSubmitter=高级记者
Editor=编辑
