
feedInfo={0} 评论了 {1} 的图片
sharePhoto={0} 分享了一张图片
uploadInfo={0} 上传了{1} 张新照片

// code
defaultAlbum=默认相册
commentPhoto=评论了图片
shareYourPhoto=分享了你的图片

nextPhoto=下一张
prevPhoto=上一张

photoStats=第{0}张 / 共{1}张

moveToAlbum=转移到专辑

exAlbumRequire=请先添加专辑
exSysCategoryRequire=请选择系统分类
exAlbumSelect=请选择专辑
exUploadImg=请上传图片
exPhotoName=请填写图片名称


// admin.apps.photo

photoAdmin=图片管理
newPhoto=最新图片
recommendedPhoto=被推荐的图片
sysCategoryAdmin=系统分类管理
usersNewPhoto=用户最新图片

// admin
defaultAlbumTip=论坛等处上传的图片进入默认专辑

addAlbum=添加专辑

// admin.layout
friendsPhoto=好友图片
myphoto=我的图片
albumAdmin=专辑管理

// admin.post
selectAlbum=请先选择所属专辑
myalbum=我的专辑
sysCategory=系统分类
nextStep=下一步(上传图片)
editPhoto=修改图片
uploadAlbum=上传到专辑
uploadPhoto=上传图片

// layout
album=专辑分类

// main
photoCountRank=用户图片数量排名
userVisitRank=用户访问排名

// show
uploaded=上传于
viewOriginalPhoto=查看原图
returnAlbum=返回相册
hitToNext=点击查看下一张
sharePhoto=分享图片