
.supNew {vertical-align:super; color:#e56f04; font-size:9px;font-style:italic; font-weight:bold;}

.forum-search-row {background:url(/static/skin/site/new/forum-search-bg.jpg); height:50px; }
.forum-top-row {background:url(/static/skin/site/new/forum-top-bg.jpg); height:260px; }

.forum-top-title .span3 div{ padding-top:10px;font-weight:bold; text-align:center; padding-bottom:10px;}
.forum-top-title .span3 div {border-right:1px inset #fff;}

.forum-top-list li div {width:200px;overflow: hidden; white-space:nowrap;text-overflow:ellipsis; }
.post-index {display:none;}
.forum-top-list li {margin-bottom:3px;}

.forum-top-list .span3 .forum-top-section { border-right:1px inset #fff; height:220px;}

#forum-pick-hot {margin:15px; margin-left:0px;}
#forum-pick-hot-title {font-size:22px; font-weight:bold; margin-bottom:10px; margin-top:20px;}
#forum-pick-hot-summary {padding:3px 10px 3px 3px; color:#666;}

#forum-pick-list-wrap {margin:0px 10px 10px 0px;}
#forum-pick-list {margin-left:3px;}
#forum-pick-list li div.pick-list-title {width:230px;overflow: hidden;white-space:nowrap;text-overflow:clip; }
#forum-pick-list li.pick-item {float:left;width:230px; margin-right:20px; padding:1px 0px 2px 0px; font-size:14px; list-style:none; }

.forum-bottom-title {padding:6px 25px; font-size:14px; font-weight:bold; 
background: #d2ebf9; /* Old browsers */
background: -moz-linear-gradient(top,  #d2ebf9 0%, #feffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2ebf9), color-stop(100%,#feffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d2ebf9 0%,#feffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d2ebf9 0%,#feffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d2ebf9 0%,#feffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d2ebf9 0%,#feffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ebf9', endColorstr='#feffff',GradientType=0 ); /* IE6-9 */     
}
.forum-bottom-body {margin:10px 20px 20px 30px; }
.forum-link-item {width:88px; height:31px;margin:3px 8px; float:left;}
.forum-link-item img{width:88px;}

.forum-stats-row {background:url(/static/skin/site/new/forum-stats-bg.jpg); height:41px; border-top:1px solid #d7e0e9; }
.forum-stats-num { color:#3f8dcb; font-weight:bold; margin-right:3px;}

.forum-location {background:url(/static/skin/site/new/forum-toolbar-bg.jpg); height:34px; border-top:1px solid #d7e0e9;border-bottom:1px solid #d7e0e9; margin-top:10px;}
.forum-location .dropdown {margin-left:25px;}
.forum-location .pull-left {margin-top:8px; }
.forum-location a { color:#333;}
.forum-location .forum-location-sp {margin:0px 7px 0px 7px;background:url(/static/skin/site/new/forum-location-arrow.jpg);width:10px;height:33px;}

.forum-toolbar, .psTopicType {background:url(/static/skin/site/new/forum-toolbar-bg.jpg); height:34px; border-top:1px solid #d7e0e9;border-bottom:1px solid #d7e0e9;}

.forum-toolbar .pull-left {margin-top:8px;}
.forum-toolbar .forum-cmd-publish {margin-top:4px;}
.forum-toolbar .forum-cmd-text {margin-top:8px; }
.forum-toolbar .forum-cmd-sp {margin-right:10px;margin-top:8px; color:#ccd4e1;}
.forum-toolbar .forum-cmd-page {margin-top:3px; text-align:right; margin-right:10px;}

.forum-topic-list td { vertical-align:middle;}


.forum-form-container {margin:10px 25px; border-radius:3px; padding:10px 0px;background:url(/static/skin/site/new/forum-form-bg.jpg) repeat-x; height:320px; }
.forum-form-quick .control-label {width:50px;}
.forum-form-quick .controls{margin-left:60px;}
.forum-form-quick .control-group {margin:10px 0px;}
#pubUserPic img {border-radius:3px; box-shadow:5px 5px 10px #ccc; }

.forum-form-normal .control-label {width:100px; font-size:14px; font-weight:bold;}
.forum-form-normal .controls{margin-left:110px;}
.forum-form-normal .control-group {margin:10px 0px;}

.forum-topic-prenext {background:url(/static/skin/site/new/forum-prenext-bg.jpg); height:34px; border-top:1px solid #d7e0e9;border-bottom:1px solid #d7e0e9;}
.forum-prenext-spl {background:url(/static/skin/site/new/forum-prenext-spl.jpg); height:34px;width:10px;margin:0px 5px 0px 20px;}
.forum-prenext-spr {background:url(/static/skin/site/new/forum-prenext-spr.jpg); height:34px;width:10px;margin:0px 0px 0px 5px;}
.forum-prenext-pre, .forum-prenext-next {margin-top:8px; font-weight:bold;}
.forum-prenext-sp {margin:8px 10px 0px 10px; color:#cad4e0;}
.forum-topic-prenext a {color:#333;}
.forum-prenext-cmd { text-align:right; padding-top:5px; padding-right:15px;}
.forum-prenext-cmd .cmdreply {margin-right:5px;}

.forum-post-admin .dropdown-menu {min-width:100px;}

/****************** 版块列表 **************************************/

.forumList { width:100%; border-collapse:collapse; line-height:150%}
.forumList td {padding:3px 5px 2px 5px;border:0px; border-bottom:1px #dae8f6 solid;}

    tr.fbHeader td{background:url("/static/skin/site/new/forum-title-bg.jpg");height:41px;border-bottom:1px solid #d7e0e7;font-weight:bold;}

    	table.forumList td.fbCategory {width:50%; border-right:0px;padding-left:15px; padding:0px;}
    	
    	.board-category-name {float:left; margin:12px 0px 0px 15px;}
    	.board-category-name a { color:#000; font-size:16px; }

    	td.fbtopics {width:12%; text-align:center; border-bottom:0px;}
    	td.fbposts {width:12%; text-align:center; border-bottom:0px;}
    	td.fblastupdate {width:26%; text-align:center; border-bottom:0px;}
        
        .todayInfo {color:#666;}
        .todayPosts {color:red; font-weight:bold;}
        
    .forumBoard td {border-top:0px; padding:8px}
    .forumBoard:hover {background:#f5f8fd;}

        td.fbIcon { width:8%; text-align:right; border-right:0px;}
        td.fbInfo {width:42%; border-left:0px; color:#666}
            .fbTitle a{ font-size:14px; font-weight:bold; color:#000;}
            .fbModerator {font-size:12px;font-family:; }
            
        td.fbTopics {width:12%; text-align:center; }
        td.fbPosts {width:12%; text-align:center; }
        td.fbLastUpdate {width:26%; color:#666;font-family:arial;}
        .fblastTitle {background:url("/static/skin/site/new/doc.png") no-repeat left center;padding-left:18px;
     width:200px; 
     overflow: hidden;     
     white-space:nowrap;
     text-overflow:ellipsis; 
                      
}

/************************** 主题列表页 **************************************/

.psTopicType div {margin-left:20px;}
#forumPostList td.psStatus {width:120px; text-align:right;}
.psTitle a{ font-size:14px; color:#333;}


.chkAdmin {display:none;}

/************************** 帖子详细页 **************************************/

table.postOne {width:100%; border-collapse:collapse; margin:auto;  border-bottom:5px solid red;}

	.poMemberName {font-weight:bold; font-size:14px; border-bottom:0px; text-align:center; padding:10px 0px;}
	.poMemberName a{color:#333}
	.poMemberName, .fdPanel_Member {background:#f3f4f8}

	.poTitle {background:#ffffff;border-bottom:1px dashed #a7c7d9; padding-left:5px;  padding-bottom:3px; padding-top:3px;}
	.poTitle a {color:#333}
	.poTitleL {float:left;}
	.poTitleL a{font-weight:bold;}
    .poTitleL li a {font-weight:normal;}
	.poTitleR {margin-right:5px;float:right;}

	.postAdmin {margin-left:5px;font-size:12px; font-weight:normal; color:red;}
	a.postAdmin {font-weight:normal; color:red;}

	.poMember {border-top:0px;width:180px; padding:0px; vertical-align:top; background:#f3f4f8; color:#717274; border-bottom:7px solid #e2e7eb;}
		.poFace {text-align:center; margin:10px 0px 0px 0px;}
		.poMemberInfo {margin:5px 10px 20px 20px;}
		.poMemberInfo div{margin:5px;line-height:100%; color:#555}

	.poBody { vertical-align:top; background:#ffffff;}
	div.poBodyContainer {color:#000; font-size:14px; margin:15px; line-height:150%;}
	.poBodyContainer div{color:#000;}

    ul.replyPostList {margin:10px 0px 20px 10px;}
    .replyPostList li {font-size:14px; line-height:150%;}

    /*引用的内容*/
    /*注意：在用户登录状态下，此处内容会受到编辑器css中quote部分的覆盖，如要修改，请同步 static/js/editor/skin/style.css */
    div.quoteContainer {background:#f3f7fa;padding:0px 0px;border:0px #ccc dotted;margin-left:20px;}
    div.quoteAuthor {color:#1e50a2; text-align:right;margin-right:10px;}
    div.quoteAuthor a {color:#1e50a2;}    
    .quoteContainer div{ font-size:12px; color:#333;}
    .quote {margin:15px 0px;  border:1px #ccc dotted; }

    /*各种类型帖子*/
    .poBodyContainer .ajaxCmd{font-size:12px; padding:2px 5px 1px 5px; height:22px; width:50px;}
    .poBodyContainer .note {font-size:12px;margin-left:25px; color:#aaa;}
    div.banned, div.locked, div.price, div.attachmentForbidden, .question {background:#fffbe2;border:1px #ffe222 solid;}
    .question {padding:5px 10px; margin-bottom:10px; }
    
    
    div.extDataPanel {margin:15px 0px 5px 0px; padding:5px;}
    
	div.banned, div.locked {width:100px; margin:20px 10px; padding:5px 10px;font-size:12px;} /*屏蔽*/
	div.locked {width:200px;}
    
    .forum-rate-list {width:400px; margin:15px 5px;}
    .forum-rate-title {margin:5px 0px 0px 0px;padding:3px 10px; background:#f2f2f2;font-size:12px;}
    .forum-rate-table {width:100%; font-size:12px; }
    .forum-rate-value {color:red; font-weight:bold;}
    .forum-rate-time {color:#666;}

	div.updateNote { background:url('../img/edit.gif') no-repeat 10px center; width:350px; margin:20px 10px;  padding:0px 5px 0px 32px; font-size:12px; color:#aaa; } /*最后修改*/
    div.updateNote a {color:#aaa; }
    
	.price { width:250px; margin:10px 10px 10px 10px; padding:5px; }
	.price div{ font-size:12px;}
    .price .ajaxCmd {margin:15px;}
    
    table.forumRewardList {border-collapse:collapse; border:1px #aaa solid;}
    .forumRewardList td {padding:3px 3px 3px 5px;}

    /*附件*/
    
    .downloadWarning {margin-top:15px;border:1px #fed22f solid;background:#ffe45c;width:80%;}
    .downloadWarning div {background:url('../img/lock.gif') no-repeat 10px center;padding:5px 5px 5px 25px;font-size:12px;}

    #attachmentPanel {  margin-top:10px; padding:0px;}
        .attachmentTitleWrap {background:#fffbe2;margin-bottom:10px;}
        .attachmentTitle {background:url("../img/attachment.gif") no-repeat 5px 7px; padding:5px 0px 5px 20px; margin:0px 0px 0px 0px;}
        .attachmentTitle .note{margin-left:5px;}
        .attachmentList {background:#fff;}
        .attachmentList li {margin-bottom:20px;margin-left:10px;}
        .attachmentList li div {font-size:12px; font-weight:bold; color:#666;margin:0px 0px 2px 0px;}
        .attachmentList .note {margin-left:5px; font-size:10px; font-weight:normal;}
        
    .attachmentForbidden { margin:10px; padding:5px;padding-left:15px;width:350px; font-size:12px;}
        .attachmentForbidden span.afText {background:url("../img/ajax/error.gif") no-repeat left center; padding-left:18px; font-size:12px;}
        .attachmentForbidden span.afInfo {background:url("../img/attachment.gif") no-repeat; padding-left:15px}

    /*分享*/
    td.poSignature {height:30px; border-bottom:7px solid #eef1f6;}
    .poSignature table { }
    .poSignatureTable{width:100%;}
    .posL {width:60%;}
        .posC {padding:10px; color:#666;border-top:1px #ccc dotted; }
        * html .posC {height: expression( this.scrollHeight > 60 ? "60px" : "auto" );}
        .posC { overflow-y: auto; overflow-x:hidden; max-height:60px;}

    /*发布*/
    table.forumFormMainTable {width: 95%; margin:20px 0px 20px 10px}
    tr.forumFormRowTitle input {font-size:14px;}
    
    .tdL { width:60px; font-size:14px; padding:5px 10px 0px 0px; text-align:right; vertical-align:top;}

    /*上传*/
    .forumUploadRow td {padding-top:15px;}    
    #addAttachmentPanel {border:1px #ccc solid; width:100%; margin:0px 0px 20px 0px; background:#fff;}
    #addAttachmentPanel .tableHeader {background:#f2f2f2;}
    #addAttachmentPanel td{padding:5px 5px 5px 5px}
    #addAttachmentPanel .addAttachmentNote {padding:10px 0px 20px 20px; line-height:150%}

