
<link href="~css/wojilu.app.forum.css?v=#{cssVersion}" rel="stylesheet" />

<div id="adminTool" class="row appAdminTool" style=" display:none;">
    <div class="span3 pull-right" style="text-align:right; padding:10px;">
        <a href="#{adminUrl}" class="frmLink btn btn-primary" loadTo="forumContainer" nolayout=1>
            <i class="icon-wrench icon-white"></i> 管理当前程序            
        </a>
    </div>
</div>

<div id="forumContainer">
#{layout_content}
</div>

<script>
_run( function() {
    
    var showAdminTool = function() {
    
        if( typeof(ctx) == 'undefined' ) return;
        if( ctx.viewer.IsLogin==false  ) return;
        
        if( ctx.owner.IsSite) {
            if( ctx.viewer.IsAdministrator ) {
                $('#adminTool').show();
            }
            else if( ctx.viewer.IsInAdminGroup )  {
                $.post( '#{adminCheckUrl}'.toAjax(), function(data) {
                    if( 'ok'==data ) $('#adminTool').show();
                });
            }
        }
        else {
            $('#adminTool').show();
        }            
        
    };
    
    wojilu.site.load( showAdminTool );

    wojilu.ui.frmLink();
});
</script>
