
//---------------------------------- 框架部分(请勿删除) -----------------------------------
siteHome=网站首页
return=返回
sysMsg=系统提示
closeWindow=关闭窗口
returnLast=返回上一步
exPageError=非常抱歉，本页面暂时不可用。请访问其他页面，或稍后再试。

dbNotExist=数据库不存在
dbNotSupport=数据库不支持
exConnectionString=未正确设置数据库连接字符串

exTemplateNotFound=没有相应模板
exTemplateNotExist=模板文件不存在
exBlockExist=区块不存在

NotFound404=文件不存在
exControllerNotExist=控制器不存在
exNotFound=不存在
exActionNotFound=请求的action不存在
exVisitForbidden=禁止访问
exHttpMethodError=Http方法不正确
exPlsLogin=请先登录

prevPage=前页
nextPage=后页
pageStats=共{0}项, {1}项/页

today=今天
yesterday=昨天
thedaybeforeyesterday=前天

justNow=刚刚
houresAgo=小时前
minuteAgo=分钟前
secondAgo=秒前

plsSelect=请选择
exPlsFill=请填写
refreshPic=换一张

exEditorNameUnique=多个编辑器名称不能相同
exValidateCodeError=验证码错误

exUploadType=文件类型不允许
exUploadMax=文件不能超过
exPhotoUploadError=图片上传错误
exPhotoUploadErrorTip=对不起，上传出现意外，请稍后重新上传
exPlsUpload=请上传文件

