
    
    <div id="step3" style="" class="step">

        <div class="stepPanel">
        
            <table style="width:100%;">
                <tr>
                    <td class="tdL" style="font-size:14px; width:210px; padding-top:60px; padding-right:15px; text-align:center;">
                    <div style="font-size:24px;">请选择网站类型</div>
                    <div style="margin-top:10px; margin-left:5px; font-weight:normal;" class="note font12">(也可以安装之后重新调整组件功能)</div>
                    </td>
                    <td style="font-size:12px; padding-left:15px !important;" class="radioList">
                        <div><label><input id="Radio1" name="siteType" type="radio" checked="checked" /> <span class="strong">全功能型</span>，完整安装，包括SNS、门户、论坛、微博、博客、相册、群组等所有功能</label></div>
                        <div><label><input id="Radio2" name="siteType" type="radio" /> <span class="strong">精简型</span>，只包括内核，所有程序在安装之后，由我手工添加(适合熟练用户)</label></div>

                        <div style="margin-top:20px;"><label><input id="Radio3" name="siteType" type="radio" /> <span class="strong">微博型</span>，对外呈现为一个微博网站，没有多余干扰因素</label></div>                        
                        <div><label><input id="Radio4" name="siteType" type="radio" /> <span class="strong">论坛型</span>，首页就是论坛讨论区，方便用户发帖交流</label></div>
                        <div><label><input id="Radio5" name="siteType" type="radio" /> <span class="strong">门户型</span>，纯静态门户系统，预置已有的门户界面</label></div>
                        <div><label><input id="Radio6" name="siteType" type="radio" /> <span class="strong">SNS社区</span>，首页显示用户的“新鲜事”列表，适合社交互动</label></div>
                        <div><label><input id="Radio7" name="siteType" type="radio" /> <span class="strong">博客门户型</span>，展示群体博客风采</label></div>
                        <div><label><input id="Radio8" name="siteType" type="radio" /> <span class="strong">个人网站型</span>，首页呈现自己空间(博客、相册等)，暂时关闭其他用户注册</label></div>
                        <div><label><input id="Radio9" name="siteType" type="radio" /> <span class="strong">图片瀑布流</span>，图片单页无限滚动加载，适合图片展示和分享</label></div>
                        
                        
                        
                    </td>
                </tr>
            </table>
        
        </div>
        <div id="btnStepWrap3" class="btnStepPanel" style="text-align:center; padding:5px;" class="">
            <div style="width:230px; margin:auto;">
            <button type="button" style=" float:left; " class="btn btn-danger btn-large btnPrev" data-tab="stepTitle2"><i class="icon-hand-left icon-white"></i> 上一步</button>
            <button id="btnStep3" type="button" style="float:left;" class="btn btn-primary btn-large btnNext" data-tab="stepTitle4"><i class="icon-hand-right icon-white"></i> 下一步</button>
            </div>
        </div>
    </div>    

    