

<style>
.group-list .thumbnail h5 {margin-top:5px;width:105px; overflow: hidden; white-space:nowrap; text-overflow:clip; }</style>

<div class="row" style="padding-top:20px;">

	<div class="span8"><div style="padding-left:20px;">#{layout_content}</div></div>
	
	<div class="span4">
        <div style="padding-right:20px;">

		<div class="clearfix">
			<h3 style=" margin-bottom:10px; padding-left:5px;"><img src="~img/search2.gif" /> _{groupSearch}</h3>
			<form class="form-inline well" action="#{SearchAction}" method="get">
                <input name="name" type="text" value="#{s.Name}" class="input-small" placeholder="请输入关键词" />
				<select name="queryType" style="width:65px;">
					<option value="name">_{name}</option>
					<option value="creator">_{creator}</option>
				</select>
                <button type="submit" class="btn btn-primary">
                    <i class="icon-search icon-white"></i>
                    _{search}
                </button>
			</form>
				
		</div>

		<div style="margin-top:10px;">
            <div class="pull-right" style="margin:5px 10px 0px 0px;"><a href="#{allGroupLink}">&rsaquo;&rsaquo; _{allGroup}</a></div>
			<h3 style=" margin-bottom:10px; padding-left:5px;"><img src="~img/s/interest.png" /> _{viewByCategory}</h3>
            
			<ul class="unstyled hero-unit" style="padding:20px;">
			    <li><a href="#{allGroupLink}">_{all}</a></li>
			    <!-- BEGIN categories -->
			    <li><a href="#{c.Link}">#{c.Name}</a></li><!-- END categories -->			
			</ul>
		</div>		
	
	</div>
    </div>

</div>



<div id="tempie6" ></div>
<script>
_run(function () {
    $('#tempie6').html( '');    
});
</script>
