<div style="padding:10px;">


	<div class="sectionPanel">
		<div class="sectionTitle">#{groupsByCategory}</div>
	
		<table style="width: 100%">
			<tr>
				<td>
					<!-- BEGIN list -->
	    			<div style="float:left;margin:5px 5px 15px 5px;text-align:center; width:90px;height:100px; line-height:130%; background:#; padding-top:3px">
	    			<a href="#{g.Link}" ><img src="#{g.Logo}" style="width:60px" /></a><br/>
	    			<span><a href="#{g.Link}" class="font12">#{g.Name}</a><span class="note">(#{g.MemberCount})</span></span><br/>
	    			<span class="note" style="font-size:11px">#{g.Created}</span>
	    			</div>
					<!-- END list -->
				</td>
			</tr>
		</table>
		
	
	</div>
	<div>#{page}</div>

</div>