<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <appSettings>
        <add key="InjectAssembly" value="wojilu.Core, wojilu.Apps, wojilu.Web.Controller, wojilu.Apps.Download, wojilu.Installer, wojilu.Demo"/>
    </appSettings>

    <system.web>
	<httpHandlers>
      <add path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader" validate="true"/>
	    <add verb="*" path="CaptchaImage.ashx" type="wojilu.Web.Handler.CaptchaImageHandler, wojilu"/>     
	    <!-- <add verb="*" path="WebForm1.aspx" type="System.Web.UI.PageHandlerFactory" /> -->
	    <add verb="*" path="*.asp" type="wojilu.Web.Handler.PageNotFoundHandler, wojilu"/>
	    <add verb="*" path="robots.txt" type="System.Web.DefaultHttpHandler"/>
	    <add verb="*" path="refresh.aspx" type="wojilu.Web.Handler.RefreshServerHandler, wojilu.Core"/>
	    <add verb="*" path="*.css,*.jpg,*.jpeg,*.gif,*.png,*.bmp,*.ico,*.js,*.htm,*.html,*.xml,*.swf,*.zip,*.7z,*.rar,*.cur,*.flv" type="System.Web.DefaultHttpHandler"/>
	    <add verb="*" path="*" type="wojilu.Web.Mvc.CoreHandler, wojilu"/>
	</httpHandlers>

	<httpRuntime maxRequestLength="800000" />
	<authentication mode="Forms">
        <forms name="wojiluASPXAUTH" loginUrl="/Main/Login.aspx" />
	</authentication>
	<compilation debug="true"/>
	<customErrors mode="Off"/>
	<globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-cn" />
    </system.web>

</configuration>
